                <!-- start of foot -->
                </section>
            </div>
        </main>
<!-- googleoff: index -->
        <footer>
            <div class="inner-wrapper">
                <img class="float-right" src="/assets/east-northamptonshire/styles/css_img/crest-enc.png" alt="Council Logo">
                <ul class="bottom-links linear-links subtext float-left">
                    <li>
                        <a href="http://www.east-northamptonshire.gov.uk/site_map">Sitemap</a>
                    </li>
                    <li>
                        <a href="http://www.east-northamptonshire.gov.uk/terms">Terms</a>
                    </li>
                    <li>
                        <a href="http://www.east-northamptonshire.gov.uk/accessibility">Accessibility</a>
                    </li>
                </ul>
                <p class="smallprint subtext float-left">
                    All content &copy; 2014 East Northamptonshire Council. All Rights Reserved.
                </p>
            </div>
            <ul class="visually-hidden">
                <li>
                    <a accesskey="1" href="http://www.east-northamptonshire.gov.uk" rel="nofollow">Homepage</a>
                </li>
                <li>
                    <a accesskey="2" href="http://www.east-northamptonshire.gov.uk/whats_new" rel="nofollow">What's new</a>
                </li>
                <li>
                    <a accesskey="3" href="http://www.east-northamptonshire.gov.uk/site_map" rel="nofollow">Site map</a>
                </li>
                <li>
                    <a accesskey="4" href="http://www.east-northamptonshire.gov.uk/site/scripts/google_advanced.php" rel="nofollow">Search facility</a>
                </li>
                <li>
                    <a accesskey="5" href="http://www.east-northamptonshire.gov.uk/faqs" rel="nofollow">Frequently asked questions</a>
                </li>
                <li>
                    <a accesskey="6" href="http://www.east-northamptonshire.gov.uk/a_to_z" rel="nofollow">Help</a>
                </li>
                <li>
                    <a accesskey="7" href="http://www.east-northamptonshire.gov.uk/contact" rel="nofollow">Contact details</a>
                </li>
                <li>
                    <a accesskey="8" href="http://www.east-northamptonshire.gov.uk/terms" rel="nofollow">Terms &amp; privacy</a>
                </li>
                <li>
                    <a accesskey="9" href="http://www.east-northamptonshire.gov.uk/feedback" rel="nofollow">Feedback</a>
                </li>
                <li>
                    <a accesskey="0" href="http://www.east-northamptonshire.gov.uk/accessibility" rel="nofollow">Access key details</a>
                </li>
            </ul>
        </footer>
<!-- googleon: index -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="./javascript/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/assets/east-northamptonshire/javascript/plugins.js"></script>
        <!--[if lte IE 9]>
            <script src="/assets/east-northamptonshire/javascript/lte-ie9.js"></script>
        <![endif]-->
        <!--[if lte IE 8]>
            <script src="/assets/east-northamptonshire/javascript/lte-ie8.js"></script>
        <![endif]-->
        <!--[if lt IE 8]>
            <script src="/assets/east-northamptonshire/javascript/lt-ie8.js"></script>
        <![endif]-->
        <script src="/assets/east-northamptonshire/javascript/site.js"></script>
    </body>
</html>
