                <!-- start of foot -->
							</div>
						</div>
						<!-- End content -->
					</div>
					<!-- End page -->
					<div id="column_nav">
						<h2 class="navWidget">e-Petitions</h2>
						<ul class="navWidget">
						    <li>
						        <a href="http://www.east-northamptonshire.gov.uk/petitions">East Northamptonshire Petitions Scheme</a>
							<li>
								<a href="/">Introduction</a>
							</li>
							<li>
								<a href="/new">Create a petition</a>
							</li>
							<li>
								<a href="/list">View petitions</a>
							</li>
							<li>
								<a href="/terms">Terms &amp; conditions</a>
							</li>
						</ul>
					</div>
					<div class="clear"></div>
					<div id="footer">
						<p class="float_left">
							<!-- EDIT THIS LINK TO BE THE URL OF THE CURRENT PAGE -->
							<a href="#mast">Back to the top</a> | 
							<!-- -->
							<a href="http://www.east-northamptonshire.gov.uk/site/scripts/site_map.aspx">Site map</a> | 
							<a href="http://www.east-northamptonshire.gov.uk/site/scripts/terms.aspx">Terms &amp; Disclaimer</a> | 
							<a href="http://www.east-northamptonshire.gov.uk/site/scripts/feedback.aspx">Feedback</a>
						</p>
						<p class="float_right">
							All content &copy; 2009 East Northamptonshire Council. All Rights Reserved.
						</p>
						<p class="float_left">
							Built with valid <a href="http://validator.w3.org/check/referer">(X)HTML</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> to <a href="http://www.w3.org/WAI/WCAG1AA-Conformance">WAI-AA</a>. <a href="http://www.fosi.org/icra/">ICRA</a> rated.
						</p>
						<p class="hidden">
							<a accesskey="1" href="http://www.east-northamptonshire.gov.uk">Homepage</a>
							<a accesskey="2" href="http://www.east-northamptonshire.gov.uk/site/scripts/whats_new_index.aspx">Whats new </a>
							<a accesskey="3" href="http://www.east-northamptonshire.gov.uk/site/scripts/site_map.aspx">Site map</a>
							<a accesskey="4" href="http://www.east-northamptonshire.gov.uk/site/scripts/search_index.aspx">Search facility </a>
							<a accesskey="5" href="http://www.east-northamptonshire.gov.uk/site/scripts/faqs_index.aspx">Frequently asked questions</a>
							<a accesskey="7" href="http://www.east-northamptonshire.gov.uk/site/scripts/contact.aspx">Complaints procedure (Contacting the Council page)</a>
							<a accesskey="8" href="http://www.east-northamptonshire.gov.uk/site/scripts/terms.aspx">Terms &amp; Privacy</a>
							<a accesskey="9" href="http://www.east-northamptonshire.gov.uk/site/scripts/feedback.aspx">Feedback</a>
							<a accesskey="0" href="http://www.east-northamptonshire.gov.uk/site/scripts/accessibility.aspx">Access key details</a>
							<a accesskey="/" href="#mast">Top of the page</a>
						</p>
						<span class="clear"></span>
					</div>
				</div>
				<!-- end of page_wrap -->
			</div>
		</div>
	</body>
</html>