<!DOCTYPE html>
<!--[if IE 7]>          <html class="no-js ie9 ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>          <html class="no-js ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>          <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico?v=2">
        <link rel="apple-touch-icon" href="./apple-touch-icon.png">
        <link rel="stylesheet" type="text/css" href="/assets/east-northamptonshire/styles/generic/base.css" />
        <link rel="stylesheet" type="text/css" href="/assets/east-northamptonshire/styles/standard.css" />
        <meta name="revisit-after" content="2 days">
        <meta name="robots" content="index,follow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" type="text/css" href="/pet.css" />
        <link rel="stylesheet" type="text/css" href="/assets/east-northamptonshire/overrides.css" />
        PARAM_RSS_LINKS
        PARAM_EXTRA
        <title>PARAM_TITLE | East Northamptonshire Council</title>

<!--[if lte IE 9]>
        <script src="/assets/east-northamptonshire/javascript/html5shiv.js"></script>
<![endif]-->

    </head>
    <body PARAM_BODYID>
<!-- googleoff: index -->
        <ul class="visually-hidden skip-links">
            <li>
                <a href="#content" rel="nofollow">Skip to content</a>
            </li>
            <li>
                <a href="#navigation" rel="nofollow">Skip to main navigation</a>
            </li>
        </ul>
        <header>
            <div class="inner-wrapper">
                <h1 class="float-left"><a href="http://www.east-northamptonshire.gov.uk">East Northamptonshire Council</a></h1>
                <ul class="top-links linear-links subtext float-right" style="visibility: hidden;">
                    <li class="icon-edit">
                        <a href="http://www.east-northamptonshire.gov.uk/register">Register</a>
                    </li>
                    <li class="icon-user">
                        <a href="http://www.east-northamptonshire.gov.uk/account/signin">Sign in</a>
                    </li>
                </ul>
                <form action="http://www.east-northamptonshire.gov.uk/site_search/results/" method="get" class="main-search float-right" role="search">
                    <label for="search-site" class="visually-hidden">Search this site</label>
                    <input class="main-search-input color-animate width-animate" type="search" size="18" maxlength="40" name="q" placeholder="Search..." id="search-site">
                    <input class="main-search-button color-animate" type="submit" value="">
                </form>
            </div>
        </header>
        <nav>
            <ul class="inner-wrapper">
                <li><a class="icon-book-1" href="http://www.east-northamptonshire.gov.uk/yourcouncil">Your council</a></li>
                <li><a class="icon-briefcase-1" href="http://www.east-northamptonshire.gov.uk/business">Business</a></li>
                <li><a class="icon-cog-1" href="http://www.east-northamptonshire.gov.uk/visitors">Visitors</a></li>
                <li><a class="icon-compass-1" href="http://www.east-northamptonshire.gov.uk/contact">Contact us</a></li>

            </ul>
        </nav>
<!-- googleon: index -->
        <main>
            <div class="inner-wrapper">
                <section class="content content-aside">
<!-- googleoff: all -->
                    <ul class="breadcrumb linear-links subtext">
                        <li>
                            <a href="http://www.east-northamptonshire.gov.uk" rel="home">Home</a>
                        </li>
                        <li>
                            <span>PARAM_TITLE</span>
                        </li>
                    </ul>
<!-- googleon: all -->
                    <h1>PARAM_H1</h1>
