div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #005aab;
}
.petition_view_tabs span {
    background-color: #005aab;
}

#action_view a, #action_create a{
    text-decoration: none;
}

#action_view a:hover, #action_create a:hover {
    text-decoration: none;
}

h3 {
  margin: 0.333em 0 ;
}

div#petition_actions {
    margin-bottom: 1em;
}

p.petition_view_tabs {
    margin-bottom: 1em;
}

#action_create a, #action_create a:active {
    background-image: url('/assets/suffolkcoastal/petition_button_create.png');
}
#action_view a, #action_view a:active {
    background-image: url('/assets/suffolkcoastal/petition_button_view.png');
}
#action_create a, #action_view a, 
#action_create a:active, #action_view a:active  {
    display: block;
    text-align: center;
    color: #0baf4c;
    padding-top: 70px;
    background-position: center top;
    background-repeat: no-repeat;
}
#action_create a:hover, #action_view a:hover {
    background-position: center -300px;
    background-color: #ffffff;
    color: #0061b6;
}

#action_create a img,  #action_view a img {
    display: none;
}

div#most_recent ul, div#most_popular ul {
    padding-left:1em;
}
div#most_recent ul li, div#most_popular ul li{
    padding: 4px;
}

#most_recent h2 {
    margin-top: 1em;
}
