<!--start of foot-->
  						</div> <!-- mysoc-content -->

					</div>
				</div>
			</div>
		</div>


        <div id="footerWrapper">
        	<div id="footer" class="group floatHolder">
			</div>
		</div>
	</div>
	<div class="secondaryFooterWrapper">
		<div id="secondaryFooter" class="group">
			   		
<!-- WebMetric snippet starts here -->

<div class="gm_sidebar gm_sidebar_cnr" style="line-height: 1em; margin-bottom: -2px;">
        <a href="https://websurveys2.govmetric.com/theme/gm/1988" target="_blank" class="gm_sidebar_anchor" title="please rate this page" rel="nofollow">
                    <img src="https://websurveys2.govmetric.com/imgs/triggers/cnr_lg.png" alt="rating button">
                        </a>
</div>
<link rel="stylesheet" type="text/css" href="https://websurveys2.govmetric.com/css/client/gm_sidebar_cnr.css" />
<script type="text/javascript" src="https://websurveys2.govmetric.com/js/client/gm_sidebar.js"></script>
<script type="text/javascript" src="https://hitcounter.govmetric.com/361"></script>

  <!-- WebMetric snippet ends here -->

			<div class="copyright">
				<p>Copyright 2017 Stevenage Borough Council</p>
			</div>

			<ul>
				<li><a href="#header">Back to top</a>&nbsp; | &nbsp;</li>
				<li><a title="Legal" href="http://www.stevenage.gov.uk/legal">Legal</a></li>
			</ul>
		</div>
	</div>
	<!-- Javascript at the bottom for fast page loading -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
</body>
</html>
