<!--start of foot-->
</div>
<div id="search">
<form id="search_form" method="get" action="http://search.stevenage.gov.uk/scripts/semaphoreserver.exe">
<h3>Search</h3>
<p>
<label for="keyword" accesskey="4"></label><input type="text" value="type words" name="QUERY00" id="keyword" class="keyword" /><input id="search_button" type="submit" value="search" name="CMD=search.run" />
<input type="hidden" name="DB" value="stevenage" />
<input type="hidden" name="STYPE" value="simple" />
<input type="hidden" name="B" value="F8STEVENAGE" />
</p>
</form>
</div>

<div id="site_links">
<ul>
<li><a href="http://www.stevenage.gov.uk/atoz" accesskey="5">A-Z of Services</a></li>
<li><a href="http://www.stevenage.gov.uk/sitemap" accesskey="3">Site Map</a></li>
<li><a href="http://www.stevenage.gov.uk/councilanddemocracy/haveyoursay">Have Your Say</a></li>
<li><a href="http://www.stevenage.gov.uk/accessibility" accesskey="0">Accessibility</a></li>
<li><a href="http://www.stevenage.gov.uk/help" accesskey="6">Help</a></li>
</ul>
</div>
<div id="sections">
<ul>
<li id="section_2"><a href="http://www.stevenage.gov.uk/business">Business</a></li>
<li id="section_4"><a href="http://www.stevenage.gov.uk/councilanddemocracy">Council and Democracy</a></li>
<li id="section_5"><a href="http://www.stevenage.gov.uk/educationandlearning">Education and Learning</a></li>

<li id="section_6"><a href="http://www.stevenage.gov.uk/environment">Environment</a></li>
<li id="section_10"><a href="http://www.stevenage.gov.uk/healthandsocialcare">Health and Social Care</a></li>
<li id="section_7"><a href="http://www.stevenage.gov.uk/housing">Housing</a></li>
<li id="section_9"><a href="http://www.stevenage.gov.uk/leisureandculture">Leisure and Culture</a></li>
<li id="section_13"><a href="http://www.stevenage.gov.uk/planningandregeneration">Planning and Regeneration</a></li>
<li id="section_3"><a href="http://www.stevenage.gov.uk/townandcommunity">Town and Community</a></li>
<li id="section_11"><a href="http://www.stevenage.gov.uk/transportroadsandfootpaths">Transport, Roads and Footpaths</a></li>
</ul>
</div>
<div id="legal">

<p><span>Telephone</span> 01438 242242</p>
<p><span>Fax</span> 01438 242566</p>
<p><span>Textphone</span> 01438 242555</p>
<ul>
<li><a href="http://www.stevenage.gov.uk/contact" accesskey="9">Contact Us</a></li>
<li><a href="http://www.stevenage.gov.uk/disclaimer" accesskey="8">Disclaimer</a></li>

<li><a href="http://www.stevenage.gov.uk/privacy">Privacy Statement</a></li>
<li><a href="http://www.stevenage.gov.uk/councilanddemocracy/accesstoinformation/freedomofinformationact">Freedom of Information</a></li>
<li><a href="http://www.stevenage.gov.uk/copyright">Copyright</a></li>
<li><a href="http://www.direct.gov.uk">DirectGov</a></li>
</ul>
</div>
<script type="text/javascript" src="http://uk1.siteimprove.com/js/siteanalyze_advanced.js"></script>
</body>
</html>
