<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<base href="http://www.stevenage.gov.uk/" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="DC.publisher" content="Stevenage Borough Council" />
<meta name="DC.creator" content="Stevenage Borough Council" />
<meta name="DC.date" scheme="WC3DTF" content="2005-10-3" />
<meta name="DC.title" content="Search" />
<meta name="eGMS.subject.category" scheme="IPSV" content="Borough councils" />
<title>Stevenage Borough Council: PARAM_TITLE</title>

<style type="text/css">
@import url(./wavemaster.internal/res/local/css/edt/search/0.css);
</style>
<style type="text/css">
@import url(./wavemaster.internal/content.css);
</style>
<script type="text/javascript" src="./wavemaster.internal/res/local/csjs/site.js"></script>
<link rel="stylesheet" type="text/css" href="http://search.stevenage.gov.uk/semaphore/semaphore/scripts/aprslk.css" />
</head>
<body>
<div id="ident">
<h3>stevenage.gov.uk</h3>
</div>
<div id="path">
<h3>You are here:</h3>
<ul>
<li><a href="http://www.stevenage.gov.uk/" accesskey="1">Home</a></li>
<li>PARAM_TITLE</li>
</ul>
</div>

<div id="document">
<!--end of head-->
