<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb">
<head>
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<link href="http://www.stevenage.gov.uk/Styles/styles.css" rel="stylesheet" type="text/css" />
    <!--[if IE 7]>
		<link href="http://www.stevenage.gov.uk/Styles/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
	<!--[if IE 8]>
		<link href="http://www.stevenage.gov.uk/Styles/ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->
	<title>Stevenage Borough Council: PARAM_TITLE</title>
	<link rel="stylesheet" type="text/css" href="/pet.css" />
	<link rel="stylesheet" type="text/css" href="/assets/stevenage/css.css" />
	PARAM_RSS_LINKS
	PARAM_EXTRA

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-21613820-8', 'auto');
      ga('send', 'pageview');
    </script>

</head>
<body class="errorPage">
    <div id="everything" class="no-js">
		<div id="headerWrapper">  
			<div id="header">
				<div class="inner">
					<div id="logo">
						<h1><a href="http://www.stevenage.gov.uk/">
							<img src="http://www.stevenage.gov.uk/Images/logo.gif" alt="Stevenage Borough Council" />
						</a></h1>
					</div>
					<div class="mapLogo">
						<img src="http://www.stevenage.gov.uk/Images/mapLogo.gif" alt="" />
					</div>
					<div id="pageTools" class="floatHolder">
						<div id="searchStatic">
							<form action="http://www.stevenage.gov.uk/" method="get">
							<label for="search">Search</label>
							<input type="hidden" name="view" value="Search results" />
							<input name="search" type="text" value="Search for..." id="search" class="searchInput" />
							<input type="submit" value="GO" />
							</form>
						</div>
					</div>
					<div class="parf floatHolder">
						<a href="http://www.stevenage.gov.uk/pay/"><span class="title">Pay</span> your Council Tax bill and more</a>
						<a href="http://www.stevenage.gov.uk/apply/"><span class="title">Apply</span> for planning permission and more</a>
						<a href="http://www.stevenage.gov.uk/report/"><span class="title">Report</span> a missed bin and more</a>
						<a href="http://www.stevenage.gov.uk/find/" class="find"><span class="title">Find</span> your local councillor and more</a>
					</div>
				</div>
            </div>
			<div id="menu">
                <div id="primaryNavigation">
                    <ul id="ctl00_ctl00_PrimaryNavigationLinks" class="floatHolder">
						<li><a href="http://www.stevenage.gov.uk/council-services/">Council Services</a></li>
						<li><a href="http://www.stevenage.gov.uk/about-the-council/">About the Council</a></li>
						<li><a href="http://www.stevenage.gov.uk/about-stevenage/">About Stevenage</a></li>
						<li><a href="http://www.stevenage.gov.uk/news-and-events/">News and Events</a></li>
						<li><a href="http://www.stevenage.gov.uk/links/">Popular Links</a></li>
						<li><a href="http://www.stevenage.gov.uk/have-your-say/">Have Your Say</a></li>
					</ul>
				</div>
			</div>	
		</div>  
		<div id="main" class="content">
			<div class="content floatHolder inner">

				<div class="breadcrumb inner">
					<ul class="grid9">
							<li><a href="http://www.stevenage.gov.uk/">Home</a>&nbsp;&gt;&nbsp;</li><li><a href="http://www.stevenage.gov.uk/about-the-council/">About the Council</a>&nbsp;&gt;&nbsp;</li><li><a href="http://www.stevenage.gov.uk/about-the-council/councillors-and-democracy/">Councillors and Democracy</a>&nbsp;&gt;&nbsp;</li><li><a href="http://www.stevenage.gov.uk/about-the-council/councillors-and-democracy/24184/">Petitions</a>&nbsp;&gt;&nbsp;</li><li>PARAM_TITLE</li>
					</ul>
				</div>

				<div class="articles">
					<div class="article grid3">
						<div class="subNav list">
							<p>Navigate online petitions</p>
							<ul>
								<li>
									<a href="/">Introduction</a>
								</li>
								<li>
									<a href="/new">Create a petition</a>
								</li>
								<li>
									<a href="/list">View petitions</a>
								</li>
								<li>
									<a href="http://www.stevenage.gov.uk/about-the-council/councillors-and-democracy/24184/">Terms &amp; conditions</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="article grid9">
					    <div id="xxx-mysoc-content">
							<h1>PARAM_H1</h1>
<!--end of head-->
