<!-- start of foot -->
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <table class="FooterNav t2bFlowPanel" cellpadding="0" cellspacing="0" border="0" width="100%">
                      <tr>
                        <td>
                          <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                              <td>
                                <div style="margin-top:5px;">
                                  <div style="float:right">
                                    <span style="padding-top:20px">
                                      <a href="http://jigsaw.w3.org/css-validator/check/referer" title="W3C CSS validator (new window)" target="_blank" style="border-width:0px;border-style:none;"><img src="http://www.suffolkcoastal.gov.uk/OneSuffolk/Images/Logos/csslogo75pc.jpg" alt="W3C CSS validator (new window)" width="63" height="23" style="border-width:0px;border-style:none;" /></a>
                                    </span>
                                    <span style="display:none">|</span>
                                    <span style="padding-top:20px">
                                      <a href="http://validator.w3.org/check?uri=referer" title="W3C XHTML validator (new window)" target="_blank" style="border-width:0px;border-style:none;"><img src="http://www.suffolkcoastal.gov.uk/OneSuffolk/Images/Logos/valid-xhtml10.jpg" alt="W3C XHTML validator (new window)" height="23" width="63" style="border-width:0px;border-style:none;" /></a>
                                    </span>
                                    <span style="display:none">|</span>
                                    <span style="padding-top:20px"><a href="http://www.w3.org/WAI/WCAG1AA-Conformance" title="W3C accessibility guidelines (new window)" target="_blank" style="border-width:0px;border-style:none;"><img src="http://www.suffolkcoastal.gov.uk/OneSuffolk/Images/Logos/wcag1AA75pc.jpg" alt="W3C accessibility guidelines (new window)" width="63" height="23" style="border-width:0px;border-style:none;" /></a>
                                    </span>
                                  </div>
                                  &copy; Suffolk Coastal District Council. |
                                  <a href="http://www.suffolkcoastal.gov.uk/legalprivacy.htm">Legal &amp; privacy</a> |
                                  <a href="http://www.suffolkcoastal.gov.uk/stats.htm">Site statistics</a><br />
                                  <div class="LastUpdatedDiv"></div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <table class="t2bFlowPanel" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  <td>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                      <tr>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>