<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Suffolk Coastal: PARAM_TITLE</title>
  <meta name="description" content="Suffolk Coastal District Council - online petitions"/>
  <meta name="keywords" content="Suffolk Coastal, Suffolk, council, borough, local, authority, government, Britain, United Kingdom, UK, petition, petitions "/>
  <link rel='stylesheet' type='text/css' href='http://www.suffolkcoastal.gov.uk/OneSuffolk/CSS/Position.css' />
  <link rel='stylesheet' type='text/css' href='http://www.suffolkcoastal.gov.uk//OneSuffolk/CSS/onesuffolk.css' />
  <link href="/pet.css" rel="stylesheet" type="text/css" />
  <link href="/assets/suffolkcoastal/css.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <table id="TemplatePanel" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <td>
        <table class="t2bFlowPanel" cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  <td>
                    <div class="Header"></div>
                    <div class="Logo"></div>
                    <div class="Banner"></div>
                    <div class="PrintHeader"><img width="650" height="47" src="http://www.suffolkcoastal.gov.uk/onesuffolk/images/printheader.jpg" alt="." /></div>
                    <div class="PageBackground"></div>
                  </td>
                </tr>
              </table>
              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  <td>
                    <div class="PrimaryNav">
                      <div class="ucPrimaryNav">
                        <div class="PrimaryNavArea"><span><a class="PrimaryLinks" href="#Start">Go to content</a>
                          |</span><span><a class="PrimaryLinks" href="http://www.suffolkcoastal.gov.uk/AtoZ.htm">A to Z</a>
                          |</span><span><a class="PrimaryLinks" href="http://www.suffolkcoastal.gov.uk/sitemap.htm">Sitemap</a>
                          |</span><span><a class="PrimaryLinks" href="http://www.suffolkcoastal.gov.uk/help/accessibility/">Accessibility</a>
                          |</span><span><a class="PrimaryLinks" href="http://www.suffolkcoastal.gov.uk/help/">Help</a>
                          |</span><span><a class="PrimaryLinks" href="http://www.suffolkcoastal.gov.uk/Jobs">Jobs</a>
                          |</span><span><a class="PrimaryLinks" href="http://www.suffolkcoastal.gov.uk/yourfreetime/whatson/">What's on</a> 
                          |</span><span><a class="PrimaryLinks" href="http://www.suffolkcoastal.gov.uk/yourcouncil/contactus">Contact us</a></span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <table class="SearchDIV t2bFlowPanel" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  <td>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                      <tr>
                        <td>
                          <a href="http://suffolkcoastal.searchimprove.com"><img src="http://www.suffolkcoastal.gov.uk/OneSuffolk/Images/SearchIcon50px.gif" width="50" height="57" class="SearchIcon" alt="Search the Suffolk Coastal website" /></a>
                          <div class="SearchLink">
                            <a href="http://suffolkcoastal.searchimprove.com">Search</a>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <table class="LeftNavBar t2bFlowPanel" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  <td>
                    <table class="secondaryNav" cellpadding="0" cellspacing="0" border="0" width="100%">
                      <tr>
                        <td>
                          <div class="ucSecondaryNav">
                            <div class="channeltext">Petitions</div>
                            <ul class="Nav" id="menu">
                              <li class="channelitem">
                                <a href="http://www.suffolkcoastal.gov.uk/yourcouncil/haveyoursay/petitions/received/">Petitions received</a>
                              </li>
                              <li class="channelitem">
                                <a href="/">e-Petitions</a>
                              </li>
                              <li class="channelitem">
                                <a href="/new">Create a petition</a>
                              </li>
                              <li class="channelitem">
                                <a href="/list">View petitions</a>
                              </li>
                              <li class="channelitem">
                                <a href="/terms">Terms &amp; conditions</a>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <table class="MainContent t2bFlowPanel" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  <td>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                      <tr>
                        <td>
                          <div class="ucBreadcrumb">
                            <span id="_ctl17_lblDisplay">
                              <a class='bread' href="http://www.suffolkcoastal.gov.uk/">Home</a> &gt; 
                              <a class='bread' href="http://www.suffolkcoastal.gov.uk/yourcouncil/">Your council</a> &gt;
                              <a class='bread' href="http://www.suffolkcoastal.gov.uk/yourcouncil/haveyoursay/">Have your say</a> &gt;
                              <a class='bread' href="http://www.suffolkcoastal.gov.uk/yourcouncil/haveyoursay/petitions/">Petitions</a> &gt;
                              <a class='bread' href="/">e-Petitions</a> &gt;
                              <a class='breadText'>PARAM_H1</a>
                            </span>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                      <tr>
                        <td></td>
                      </tr>
                    </table>
                    <table class="pageTitle" cellpadding="0" cellspacing="0" border="0" width="100%">
                      <tr>
                        <td>
                          <div class="ucDisplayTitleH1">
                            <h1>PARAM_H1</h1>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <table class="content" cellpadding="0" cellspacing="0" border="0" width="100%">
                      <tr>
                        <td>
                          <div class="ucStandardPage">
                            <div class="StandardPageContent">
<!-- end of head -->
