div#petition_actions {
    border: none;
}

#content #petition_actions ul li{
    list-style-image: none;
}

#petition_actions a {
    border: none;
    padding-bottom: 40px;
}

#petition_actions img {
    margin-bottom: 10px;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

form#signForm label {
    width: 8em;
}

p.petition_view_tabs {
    border-bottom: 1px #98339B solid;
    padding: 0;
    margin-bottom:7px;
}
.petition_view_tabs a {
    font-weight: bold;
    background-color: #98339B;
    color: #ffffff;
    padding: 2px 10px;
    font-size: 1.1em;
    margin: 0;
    border-bottom:none;
}

.petition_view_tabs span, .petition_view_tabs a:hover {
    background-color: #fff !important;
    border-top: 1px #98339B solid;
    border-left: 1px #98339B solid;
    border-right: 1px #98339B solid;
    border-bottom: 1px #fff solid;
    color: #98339B !important;
    font-weight: bold;
    padding: 2px 10px;
    font-size: 1.1em;
    margin: 0;
}

#most_popular h3, #most_recent h3, #front_how h3 {
    background: transparent url(http://www.lichfielddc.gov.uk/site/styles/css_img/lilac-dotted-border.png) bottom repeat-x;
    padding:0 0 7px 0;
    margin: 5px 0 14px 0;
    font-size:1.4em;
}

#front_how h3 {
    margin-top: 20px;
}

