<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-gb">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>PARAM_TITLE | South Borsetshire District Council petitions</title>
<link rel="stylesheet" type="text/css" href="/pet.css">
<link rel="stylesheet" type="text/css" href="/admin/pet-admin.css">
<link rel="stylesheet" type="text/css" href="/assets/sbdc/css.css">
<!--[if LT IE 7]>
    <link rel="stylesheet" type="text/css" href="/assets/sbdc/ie6.css">
<![endif]-->
<script type="text/javascript" src="/assets/sbdc/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="/assets/sbdc/jquery.pngFix.js"></script>
<script type="text/javascript" src="/assets/sbdc/js.js"></script>
<script src="https://secure.mysociety.org/jslib/openlayers/OpenLayers.js"></script>
PARAM_RSS_LINKS
<meta name="keywords" content="petition, petitions, council, councils, local, democracy">
<meta name="description" content="PARAM_DESCRIPTION">
<meta name="eGMS.accessibility" scheme="WCAG" content="Double-A">
<meta name="dc.creator" content="PARAM_CREATOR">
<meta name="dc.language" scheme="ISO 639-2/T" content="eng">
<meta name="dc.publisher" content="mySociety">
<meta name="dc.identifier" content="PARAM_DC_IDENTIFIER">
<!-- PARAM_SUBJECTS -->
<meta name="dc.title" content="PARAM_TITLE">
PARAM_EXTRA
</head>
<bodyPARAM_BODYID>

<div id="header">
<div id="wrapper">

<h1>South Borsetshire District Council petitions</h1>

<ul role="navigation" id="nav">
<li><a href="/">Home</a></li>
<li><a href="/list">View petitions</a></li>
<li><a href="/new">Create a petition</a></li>
<li><a href="/about">About</a></li>
<li><a href="/faq">Help</a></li>
</ul>

<div id="message"><div id="message_wrap">
This is an example petitions site from <a href="http://www.mysociety.org/">mySociety</a>;
all except email is public. See the <a href="/admin/?page=pet&amp;o=live">admin interface</a>.
For more information, <a href="http://www.mysociety.org/about/contact/">get in touch</a>.
</div></div>

</div>
</div>

<div id="main_wrap">
<div id="main">
