
<!-- start of foot -->
</div> 
<div class="thincol">
<div class="sideMenu">
<ul>
  <li><a href="index.htm" id="top">Petitions home</a></li>
  <li><a href="list">View petitions</a></li>
  <li><a href="about">About e-petitions</a></li>
  <li><a href="steps">Step-by-Step Guide</a></li>
  <li><a href="faq">FAQs</a></li>
</ul>
</div>
</div>
</div> 

</div>

<div id="footer-wacken">
	<footer> 
    <nav id="footer-menu">
    <ul>
<li><a href="index.htm" title="Home" >Privacy policy</a></li>
<li><a href="terms" title="Terms and conditions" >Terms and conditions</a></li> 
<li><a href="http://www.blackburn.gov.uk/democratic-services" title="Contact us" >Contact</a></li> 
</ul>
</nav>
</footer> 

</div>


<script type="text/javascript" > 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript" > 
try {
var pageTracker = _gat._getTracker("UA-667451-2");
pageTracker._trackPageview();
} catch(err) {}</script> 

</body> 
</html>