<!doctype html>
<html lang="en" >

<head> 
<title>Blackburn wih Darwen Council: PARAM_TITLE</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Blackburn,petitions"/> 
<meta name="description" content="PARAM_DESCRIPTION" />
<meta name="Revisit-After" content="7 days"/> 
<meta name="Robots"	content="index, follow"/> 
<meta name="language" content="English"/> 
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link href="/assets/blackburn/basic.css" rel="stylesheet" type="text/css" media="all" /> 
<link href="/assets/blackburn/layout.css" rel="stylesheet" type="text/css" /> 

PARAM_RSS_LINKS
PARAM_EXTRA
<link rel="stylesheet" type="text/css" href="/pet.css">
<link rel="stylesheet" type="text/css" href="/assets/blackburn/css.css">

</head> 
<body PARAM_BODYID> 
<div id="wrapper"> 
<p class="skipnav" ><a href="#content">Skip over navigation</a></p>
<header>
  <h1 id="logo"><a href="/index.htm" title="Back to homepage">Blackburn with Darwen Council Petitions</a></h1>

<div class="roundel"></div>


</header> 


<div id="navbar">

<nav id="mainmenu">
<ul>
<li><a href="/" title="Home" >Home</a></li>
<li><a href="http://www.blackburn.gov.uk/democratic-services" title="Contact" >Contact</a></li> 
<li><a href="http://www.blackburn.gov.uk" title="Blackburn with Darwen council website" >Council website</a></li> 

</ul>
</nav> 



</div>


<div id="content">
  <div class="fatcol">
     <h1>PARAM_H1</h1>
    <!-- end of head -->
