#mysociety {
    float: right;
    width: 100%;
}

div#petition_actions ul li {
    list-style: none;
}

div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    margin-top: 1em;
    width: 45%;
}

.loudmessage {
    font-size: 100%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #62c355;
    padding-bottom: 0.25em;
}
.petition_view_tabs span {
    background-color: #62c355;
}

div#petition_actions ul li img {
    margin-bottom: 0.5em;
}

div#petition_actions ul li a:hover {
    background-color:#ffffff;
    color: #336623;
}

div#most_recent ul li, div#most_popular ul li {
    padding: 2px;
}
