/*Liverpool Direct default Application Template

Internet Explorer Specific CSS
							
The main task of this file is to get around IE's non-support of inline-block
although it also fixes any other IE quirkiness.

© Dominic Jones, LDL Web Services July 2008*/

#navbar ul li, .subnavbar ul li{
	display:inline;
	}
	
#navbar ul li a,.subnavbar ul li a{
		display:block;
	}
	
	#footer li{
		display:inline;
	}
#footer ul li a {
    background:url(http://www.reigate-banstead.gov.uk/images/footer_divider.gif) no-repeat center right;

}
#footer a{
	display:block;float:left;padding-left:5px;
}
	#footer ul ul li a{
		border-left:1px solid white;
	
	}
	
	#leftcol ul ul{
		margin-top: -1.2em;
	}

.feature img {
	padding: 0;
	margin: auto;
	display: block;
    text-align: center;
}

a.external, a.external:visited {
	zoom: 1;
}

.footer dt {
    margin-left: 0px;
}
.footer dl {
	float: left;
    display: inline;
	width: 22%;
	margin-top: 0px;
	margin-left: 5px;
	margin-bottom: 15px;
	text-align: left;
}
.footer dt {
	font-weight: bold;
	margin-top: 15px;
    margin-left: 7px;
}
.footer dt a {
	color: #4d9a43;
	text-decoration: none;
}
.footer dt a:hover {
	color: #fff;
	background-color: #4d9a43;
}
.footer dd {
	margin: 0px;
    padding-left: 10px;
	text-indent: -1px;
}
.footer dd a {
	padding: 0px 1px 3px 15px;
	background: url(http://www.reigate-banstead.gov.uk/images/arrow.gif) 0 6px no-repeat;
	color: #000;
	text-decoration: none;
    font-weight: normal!important;
    zoom: 1;
}
.footer dd a:hover {
	color: #fff;
	background-color: #4d9a43;
}

.subnews { height: 100%; }

.news li {
                min-height:60px!important;
  	height:auto !important;
 	height:60px;
}
