/*[Table of contents]  
 
1. Body and layout  
2. Contextual classes 
3. Form classes  
4. Global classes
	4.1. Colours
	4.2. Text sizes
	4.3. Links
5. Templates classes
	5.1 Council meetings
	5.2 Pagination - result pages */

* {
	margin:0px;
	padding:0px;
}
a:link {
	color: #4d9a43;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	background-color:#4d9a43;
	color:white;
}
a img {
	border:0px!important;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-weight: normal;
}
h1 {
	position: absolute;
	z-index: 400;
	left: -9999px;
}
h2 {
	font-size: 1.8em;
	font-weight: bold;
	color: #10507b;
	line-height: 140%;
	padding-bottom: 5px;
}
h2 a {
	color: #4d9a43;
	text-decoration: none;
}
h3 {
	font-size: 1.3em;
	color: #10507b;
	font-weight: bold;
	padding-top: 5px;
}
h4 {
	font-size: 1em;
	color: #004279;
	font-weight: bold;
	padding-top: 5px;
}
hr {
	width: 100%;
	color: #d4d4d4;
	background-color: #d4d4d4;
	height:5px;
	border-bottom: solid 2px #fff;
	border-top: solid 2px #fff;
	margin: 20px 0;
}
p img {
	float: right
}
.summary {
	font-size: 1.1em;
	font-weight: bold;
	color: #10507b;
}
#navbar h2, #leftcol h2, #rightcol h2, .hiddenheading h2 {
	position: absolute;
	z-index: 400;
	left: -9999px;
}
/* 1. ------------------------------------------Layout*/
body {
	background-color: #fff;
	text-align:center;
	font-family:arial, helvetica, sans-serif;
	line-height: 160%;
	font-size: .80em;
	min-width:980px;
}
#outer {
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
}
#webpage {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	padding-top:0px;
}
#header {
	background:url(http://www.reigate-banstead.gov.uk/images/headerbg.jpg) top left repeat-x;
	height:115px;
	width:100%;
}
#headerimage {
	background:url(http://www.reigate-banstead.gov.uk/images/header_1.jpg) top left no-repeat;
	height:115px;
}
.search {
	position: absolute;
	left: 700px;
	width: 107px;
	height: 19px;
	top: 95px;
	background:url(http://www.reigate-banstead.gov.uk/images/searchtab.png) top left no-repeat;
}
#search form {
	margin:0px;
}

.search2 {
	position: absolute;
	left: 700px;
	top: 96px;
	padding: 0px;
	margin: 0px;
	height: 58px;
	width: 228px;
	background:url(http://www.reigate-banstead.gov.uk/images/searchboxgradient.png) top left no-repeat;
}
#navbar {
	height:39px;
	width:100%;
	background:url(http://www.reigate-banstead.gov.uk/images/navbarbg.jpg) top left repeat-x;
	text-align:left;
}
.subnavbar {
	background-color:#fff;
	height:32px;
	border-bottom: 1px solid #d4d4d4;
	text-align:left;
}
#content .subnavbar {
	background-color: transparent;
	margin-top:-20px;
	margin-bottom:10px;
}
#page {
	width:100%;
	border-top:1px solid #fff;
	background-color:#fff;
	padding-bottom:20px;
}
/*Apply to content div - draw in left and right pseudocolumns*/

.lc {
	background:url(http://www.reigate-banstead.gov.uk/images/clc.gif) top left repeat-y;
}
.lrc {
	background:url(http://www.reigate-banstead.gov.uk/images/clc.gif) top left repeat-y;
}
#content {
	margin: 10px 20px;
}
.lc #content {
	margin-left: 246px;
}
.lrc #content {
	margin-left:246px;
	margin-right: 246px;
}
#leftcol {
	float:left;
	margin:0px;
	padding: 0px;
	width:228px;
}
#leftcolnav {
	list-style:none;
	line-height:1em;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #d4d4d4;
	background-color: #f7f7f7;
}
#leftcolnav li {
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #f7f7f7;
}
#leftcolnav li a.on {
	background-color: #eaede6;
}
#leftcolnav A {
	display: block;
	color:black;
	text-decoration:none;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	padding: 7px 0px 7px 7px;
	font-weight: normal;
	position: relative;
}
#leftcolnav A:hover, #leftcolnav A:active, #leftcolnav A.select:link, #leftcolnav A.select:visited {
	background-color: #eaede6;
}
/*subnav*/

#leftcolnav UL {
	float:none;
	margin:0px;
	padding:0px;
	list-style:none;
	line-height: 130%;
}
#leftcolnav UL LI {
	float:none;
	padding-left: 7px;
	margin: 0px;
	list-style: none;
}
#leftcolnav UL A {
	background: url(http://www.reigate-banstead.gov.uk/images/arrowlrg.gif) left no-repeat;
	text-decoration:none;
	color:black;
	display:block;
	padding: 7px 0px 7px 14px;
	font-weight: normal;
}
#leftcolnav UL A:hover, #leftcolnav UL A:active, #leftcolnav UL A.select:link, #leftcolnav UL A.select:visited {
	background-color: #eaede6;
}
ul#leftcolnav li ul {
	margin-top: 0
} /* this is an ie7 fix */

#rightcol {
	float:right;
	margin-top:10px;
	margin-right:10px;
	padding: 0px;
	width:220px;
}
#footer {
	width: 100%;
	background-color: #62c355;
	height: 27px;/*This can be varied up to 336px (height of footer image) if a larger footer is required*/
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
/* 2. contextual classes*/
#footer ul, #footer ul li {
	display: inline;
}
#footer ul {
	float:left;
	margin-top:5px;
	margin-right:10px;
}
#footer ul ul {
	float:none;
}
#footer ul ul li {
	font-size:1em;
}
#footer ul ul li:before {
	content: "|";
}
#footer ul li {
	font-size:0.9em;
	color:white;
}
#footer ul li a {
	color: white;
	text-decoration: none;
	margin-left:5px;
	margin-right:3px;
	font-weight:bold;
	background:url(http://www.reigate-banstead.gov.uk/images/footer_divider.gif) no-repeat center right;
	padding-right: 18px;
	font-weight:normal!important;
}
#footer ul li a.ext {
	background: url(http://www.reigate-banstead.gov.uk/images/icn_external.gif) right 2px no-repeat;
	padding: 0px 16px 0px 5px;
	color: white;
	text-decoration: none;
	margin-left:5px;
	margin-right:3px;
	font-weight:bold;
}
.copyright {
	float:left;
	margin:5px auto;
	font-size:.90em;
	color: white;
	margin-bottom:2px;
	padding-left: 10px;
	padding-right: 10px;
}
.footer {
	background: #ebeee7 url(http://www.reigate-banstead.gov.uk/images/footerbg.gif) left top repeat-x;
	color: #454545;
	padding: 15px 0;
	border-bottom: 1px solid #fff;
	margin: 0px;
}
.footerinner {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	text-align: left;
}
.footer h3 {
	text-align: left;
	margin-left: 7px;
	padding: 0px;
	font-size: 1.3em;
	font-weight: bold;
	color: #10507b;
}
.footer dl {
	float: left;
	width: 22%;
	margin-top: 0px;
	margin-left: 15px;
	margin-bottom: 15px;
	text-align: left;
}
.footer dt {
	font-weight: bold;
	margin-top: 15px;
	margin-left: -5px;
}
.footer dt a {
	color: #4d9a43;
	text-decoration: none;
	font-size: .90em;
}
.footer dt a:hover {
	color: #fff;
	background-color: #4d9a43;
}
.footer dd {
	margin: 5px 0 0 0;
	padding-left: 10px;
	text-indent: -15px;
}
.footer dd a {
	padding: 3px 1px 3px 15px;
	background: url(http://www.reigate-banstead.gov.uk/images/arrow.gif) 0 6px no-repeat;
	color: #000;
	text-decoration: none;
	font-weight: normal!important;
}
.footer dd a:hover {
	color: #fff;
	background-color: #4d9a43;
}
#navbar ul {
	margin-left:auto;
	margin-right:auto;
}
#navbar ul li {
	/*display: -moz-inline-stack;*/
/*display:-moz-inline-box; -moz-box-orient:vertical;*/
	display:inline-block;/*inline-block works for ff3 & safari but not IE or ff2*/
	margin-left:4px;
	margin-right:4px;
	color:white;
	font-weight:bold;
	font-size: 1em;
	text-decoration:none;
	line-height:35px;
	vertical-align:middle;
	padding: 3px 7px 3px 7px;
	border:none;
}
#navbar ul li a {
	color:white;
	text-decoration:none;
	border:none;
}
#navbar ul li a.selected {
	background-color: #004472;
}
#navbar ul li a:hover {
	background-color: #004472;
}
.breadcrumb span {
	width:80px;
	height:5px;
	font-size: .90em;
}
.breadcrumb {
	padding-bottom: 10px;
	border-bottom: 1px solid #d4d4d4;
}
.breadcrumb ul {
	display: inline;
	list-style-type: none;
	margin: 0px!important;
	padding-left: 0px!important;
}
.breadcrumb ul li {
	display: inline;
	margin: 0px!important;
	padding-left: 5px!important;
	list-style-position: outside!important;
	font-size: .90em;
}
.breadcrumb ul li a {
	background:url(http://www.reigate-banstead.gov.uk/images/breadcrumb_divider.gif) no-repeat center right;
	text-decoration: none;
	color:#5b9757;
	font-weight: normal!important;
	padding: 3px 10px 3px 0px;
}
.breadcrumb ul li a:hover {
	background-color:#4d9a43;
	color:white;
}

.subnavbar span {
	float: left;
	margin-top: 8px;
	margin-left: 8px;
	width:135px;
	font-weight: bold;
	font-size: 1em;
}
.subnavbar ul {
	margin-left:auto;
	margin-right:auto;
}
.subnavbar ul li {
	background:url(http://www.reigate-banstead.gov.uk/images/atozbg.jpg) top left no-repeat;
	width: 26px;
	height: 25px;
	margin-left:1px;
	margin-right:1px;
	margin-top:4px;
	margin-bottom:2px;
	padding: 0px;
	font-size: 1.2em;
	float: left;
	list-style: none;
}
.subnavbar ul li a {
	display: block;
	color:#004674;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 3px 5px 3px 5px;
	border:none;
}
.subnavbar ul li a:hover {
	background:#dbdbdb;
	color:#000;
	display: block!important;
}
#header img {
	margin:0px;
	padding: 0px;
}
#content p, #content h2, #content h3, #content div {
	margin-bottom:10px;
}
#content p {
	margin-top:10px;
}
#content ul {
	margin:0 0 10px 0;
	padding-left:15px;
}
#content ul li {
	list-style:url(http://www.reigate-banstead.gov.uk/images/arrow.gif);
	list-style-position: outside;
	padding-left: 15px;
}
#content ol {
	padding-left:20px;
	list-style-type: decimal;
	list-style-position: outside;
	color: #474747;
}
#content ol li {
	list-style-type: decimal;
	list-style-position: outside;
	margin-bottom: 15px;
}
#content a {
	text-decoration: none;
	font-weight: bold;
	color: #5b9757;
}
#content a:hover {
	background-color:#4d9a43;
	color:white;
}
#sitemap h3 {
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	line-height: 160%;
	margin-top: 20px;
}
/* 3. Form classes*/

.invis {
	border:1px solid #7f9db9;
}

.srch {
	float: left;
	font-size:1.1em;
	font-weight:normal;
	margin:27px 5px 0px 5px;
	padding: 0px;
	width:140px;
	height: 20px;
}
.srchbut {
	float: right;
	background:url(http://www.reigate-banstead.gov.uk/images/submitbutton.jpg) top left no-repeat;
	font-family:arial, helvetica, sans-serif;
	font-size:1.1em;
	font-weight: bold;
	font-weight:normal;
	width:60px;
	height: 25px;
	border: 0px;
	margin:27px 10px 0px 5px;
	padding: 0px;
}
.srchheading {
	font-size: 1em;
	font-weight:bold;
	padding-left: 12px;
	color: #fff;
}
.srcharea {
	margin-top: 10px;
	padding: 0px;
	font-size: 1em;
}
.location {
	display: inline;
	width: 70px;
	margin: 0px;
	padding: 2px;
	border: 1px #7f9db9 solid;
}
.area {
	display: inline;
	width: 75px;
	margin-top: 0px;
	padding: 2px;
	border: 1px #7f9db9 solid;
}
.locationtxt {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 75px;
	display: block;
}
button.go {
	background:url(http://www.reigate-banstead.gov.uk/images/gobutton.jpg) top left no-repeat;
	width: 31px;
	height: 22px;
	margin-left: 5px;
	cursor:pointer;
	text-align:center;
	padding: 0px;
	overflow:visible;
	font-weight: bold;
	color: #fff;
	display: inline;
	border: 0px;
}
/*4. global classes */
.clear {
	clear:both;
}
.boxes {
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	width: auto;
	text-align: left;
}
.newsboxes {
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	width: auto;
	text-align: left;
}
.newsboxes h2 {
	font-size: 1.8em;
	color: #10507b;
}
.feature {
	width: auto;
	margin: 0px;
	padding: 0px;
	display: block;
}
.feature h2 {
	padding: 5px 7px 0px 7px;
	font-size: 1.8em;
	font-weight: bold;
	color: #4d9a43;
}
.feature p {
	padding: 0 7px 0px 7px;
}
.feature img {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.feature2 {
	width: auto;
	margin: 0px;
	padding: 0px;
	display: block;
}
.feature2 img {
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

 .news ul li {
 list-style-image: none;
 list-style-position: outside;
 padding-left: 0px;
}
.news li {
	list-style-image:none !important;
}
ul.news {
	margin:0 0 0px 0 !important;
	padding-left:0px !important;
	list-style-image:none !important;
}
.news li {
	float:none;
	margin: 5px 0px !important;
	padding: 5px !important;
	list-style:none !important;
	min-height: 65px !important;
}
.news img {
	float:left;
	margin: 5px 10px 0px 0px;
	padding: 0px;
	border: solid 2px #fff;
	vertical-align: top;
}
.news a {
	text-decoration: none;
	font-weight: bold;
	color: #5b9757;
	padding: 0px;
}
.news a:hover {
	background-color:#4d9a43;
	color:white;
}
.news p {
	margin-bottom:0px;
	margin-top:0px;
}
.newstxt {
	margin-top: 0px;
	padding: 0px;
}

.subnews {
	position: relative;
	margin: 5px 0px;
	padding: 0px 0px 10px 66px;
}
.subnews img {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 56px;
	height: 58px;
	padding-top: 5px;
}
.subnews a {
	text-decoration: none;
	font-weight: bold;
	color: #5b9757;
}
.subnews a:hover {
	background-color:#4d9a43;
	color:white;
}
#inline-list ul {
	display: inline;
	margin:0px;
	padding-left:0px;
}
#inline-list ul li {
	display: inline;
	list-style:none;
	list-style-position: outside;
	padding-left: 0px;
	padding-right: 20px;
	margin: 0px;
}
#inline-list a {
	font-size: 1em;
	text-decoration: none;
	color: #5b9757;
}
#inline-list a:hover {
	background-color:#4d9a43;
	color:white;
}
.bold {
	font-weight:bold;
}
.bulletlist li {
	list-style: disc inside;
	text-indent: -1em;
	padding-left: 25px;
	padding-bottom: 10px;
	font-size: 1em;
}
h2 span.az {
	font-size:1.5em;
	color:#fff;
	background: url(http://www.reigate-banstead.gov.uk/images/atozbox.jpg) no-repeat;
	float:left;
	height:50px;
	width: 52px;
	padding-top: 10px;
	margin-top: 10px;
	margin-right: 10px;
	display: block;
	text-align: center;
}
.azposition {
	padding-left: 10px;
	padding-top: 25px;
}
.az li {
	list-style: url(http://www.reigate-banstead.gov.uk/images/arrow.gif);
	margin:0 0 0 12px;
	padding:0 0 0 10px;
	list-style-type:none;
}
.results li {
	display: block;
	margin: 0px;
	padding: 0px;
	width: auto;
	text-align: left;
}
.results li a {
	font-size: .90em;
}

.helpshop ul {
	margin-top: 5px;
	padding: 0px;
}
.helpshop ul li {
	list-style: none;
	margin:0px;
	padding: 0px;
}
.helpshop ul li img {
	margin: 0px;
	padding: 0px;
}
.helpshop ul li a {
	background-color:transparent!important;
}
.helpshop ul li a:hover {
	background-color:transparent!important;
}
.visitor ul {
	margin-top: 5px;
	padding: 0px;
}
.visitor ul li {
	list-style: none;
	background:url(http://www.reigate-banstead.gov.uk/images/visitorbg.jpg) top left no-repeat;
	width: 200px;
	height: 37px;
	margin:0px;
	padding-top: 3px;
}
.visitor ul li img {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 0px;
	vertical-align: middle;
}
.visitor ul li a {
	display: block;
	color:#4d9a43;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	border:none;
	vertical-align: bottom;
	margin-top: 8px;
}
.visitor ul li a:hover {
	background-color:transparent!important;
	color:#4d9a43;
}
.address {
	font-size: .90em;
}
.address h2 {
	font-size: 1.4em;
	padding-top: 10px;
	padding-bottom: 10px;
}
.address h3 {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
}
.address ul li {
	list-style: none;
	font-weight: bold;
	padding: 0px 0px 5px 0px;
}
.address ul li a {
	line-height: 190%;
	margin-top: 10px;
	margin-bottom: 10px;
	color:#4d9a43;
	text-decoration: none;
}
.address ul li a:hover {
	list-style: none;
	background-color:#4d9a43;
	color: #fff;
}
.email {
	padding: 10px 0;
}
/* 4.1 - colours */
.grey {
	background-color: #f7f7f7;
}
.lightgreen {
	background-color: #eaede6;
}
.darkgrey {
	background-color: #d4d4d4;
}
.txtblue {
	color: #004473;
}
.txtgreen {
	color: #4e9a42;
}
.txtblack {
	color: #000;
}
/* 4.2 - text sizes */
.txtsml  {
	font-size: .80em;
}
.txtmed  {
	font-size: 1.1em;
}
.txtlrg  {
	font-size: 1.5em;
}
/* 4.3 - link list */
a.external, a.external:visited {
	padding-right: 16px;
	background: url(http://www.reigate-banstead.gov.uk/images/icn_external.gif) no-repeat center right;
	text-decoration: none;
	color:#4d9a43;
	font-size: 1em;
	font-weight: bold;
}
a.external:hover, a.external:focus {
	background-color: #539347;
	color: #fff;
}
a.pdf, a.pdf:visited {
	padding-right: 16px;
	background: url(http://www.reigate-banstead.gov.uk/images/icn_pdf.gif) no-repeat center right;
	text-decoration: none;
	color:#4d9a43;
	font-weight: bold;
}
a.pdf:hover, a.pdf:focus {
	background-color: #539347;
	color: #fff;
}
a.word, a.word:visited {
	padding-right: 20px;
	background: url(http://www.reigate-banstead.gov.uk/images/icn_word.gif) no-repeat center right;
	text-decoration: none;
	color:#4d9a43;
	font-weight: bold;
}
a.word:hover, a.word:focus {
	background-color: #539347;
	color: #fff;
}
a.searchResultNews, a.searchResultNews:visited {
	padding-right: 28px;
	background: url(http://www.reigate-banstead.gov.uk/images/icn_news.gif) no-repeat center right;
	text-decoration: none;
	color:#4d9a43;
	font-weight: bold;
}
a.searchResultNews:hover, a.searchResultNews:focus {
	background-color: #539347;
	color: #fff;
}
a.rss, a.rss:visited {
	padding: 3px 20px 3px 1px;
	background: url(http://www.reigate-banstead.gov.uk/images/icn_rss.gif) right 2px no-repeat;
	text-decoration: none;
	color:#4d9a43;
	font-weight: bold;
}
a.rss:hover, a.rss:focus {
	background-color: #539347;
	color: #fff;
}
.site ul li {
	padding: 3px 1px 3px 15px;
	background: url(http://www.reigate-banstead.gov.uk/images/arrow.gif) left .6em no-repeat;
	list-style: none;
	font-weight: bold;
}
a.site, a.site:visited {
	list-style: none;
	text-decoration: none;
	color:#4d9a43;
	font-size: 1em;
}
a.site:hover, a.site:focus {
	background-color: #539347;
	color: #fff;
}
a.sectionon {
	background: url(http://www.reigate-banstead.gov.uk/images/sectionarrow.gif) right top no-repeat;
	padding-right: 25px;
	text-decoration: none;
	color:#454545;
}
a.sectionon:hover, a.sectionon:focus {
	background-color: #539347;
	color: #fff;
}
a.sectionoff {
	background: url(http://www.reigate-banstead.gov.uk/images/sectionarrowoff.gif) right top no-repeat;
	padding-right: 25px;
	text-decoration: none;
	color:#454545;
}
a.sectionoff:hover, a.sectionoff:focus {
	background-color: #539347;
	color: #fff;
}
a.explore {
	background: url(http://www.reigate-banstead.gov.uk/images/downarrow.png) left no-repeat;
	margin-left: 10px;
	padding-left: 15px;
	text-decoration: none;
	color:#454545;
}
a.explore:hover, a.explore:focus {
	background-color: #539347;
	color: #fff;
}
/*5. template classes */

/* 5.1 council meetings */
#mycouncil {
	width: 99%;
	padding: 0;
	margin: 0;
}
caption {
	padding: 0 0 5px 0;
	width: 100%;
	text-align: left;
}
.off {
	display: none;
}
table {
	border: 1px solid #d4d4d4;
	margin: 0px;
	padding: 0px;
}
th, tbody {
	border: 1px solid #d4d4d4;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #ebeee7;
	margin: 0px;
	border-collapse: collapse;
}
td {
	border: 1px solid #d4d4d4;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f4f4f;
	border-collapse: collapse;
	margin: 0px;
}
td.left {
	border-left: 1px solid #d4d4d4;
	border-top: 0;
	border-collapse: collapse;
}
.mycouncilsummary {
	width: 98%;
	padding: 5px;
	margin: 0px;
	background: #ebeee7;
	display: inline-block;
	color: #4f4f4f;
}
.mycouncildetail {
	font-weight: bold;
	display: inline;
}
.cancelled {
	color: #FF0000;
}
.committee {
	background-color: #f7f7f7;
}
.mycouncil span {
	float: left;
	display:block;
	font-size: 1em;
}
.mycouncil ul {
	font-size: 1em;
}
.mycouncil li {
	display: inline;
	list-style: none;
	border-right: 1px solid #000;
	margin: 0px;
	padding-right: 2px;
	font-weight: bold;
}
.mycouncil li a {
	text-decoration: none;
	color:#5b9757;
	font-weight: normal;
}
.mycouncil a:hover {
	background-color:#4d9a43;
	color:white;
}
/* 5.2 pagination - result pages */
#pagination ul {
	margin-left: 0px !important;
	padding-left: 0px !important;
	text-indent: 0px;
}
#pagination li {
	display: inline !important;
	padding-left: 0 !important;
	margin-left: 0 !important;
	margin-right: 5px;
	list-style: none;
	list-style-position: outside;
}
#pagination a {
	text-decoration: none;
	line-height: 25px;
}
#pagination .nolink, #pagination li a, .endpages, #pagination .current {
	padding: 4px;
	border: 1px solid #2f9f2f;
}
#pagination a.nolink {
	color:#000 !important;
	border-color: #2f9f2f;
	text-decoration: none;
}
#pagination .nolink:hover {
	background-color: #2f9f2f;
	color:#fff;
	border-color:#2f9f2f;
	cursor:default;
	text-decoration: none !important;
}
#pagination .endpages {
	border-width: 0;
}
#pagination .current {
	border-color: #2f9f2f;
	background-color: #2f9f2f;
	color: #fff !important;
}
#pagination a:hover {
	border-color: #2f9f2f;
	background-color: #2f9f2f;
	color: #f0ebe6;
}
.results {
	display: block;
	margin-top: 10px;
	padding: 0px;
	width: auto;
	text-align: left;
}
.results ol {
	color: #474747;
	padding-left:20px;
}
.results ol li {
	list-style-type:decimal;
	list-style-position: outside;
	margin-bottom: 15px;
}
.rankBullets {
	display: inline;
	margin-right: 5px;
}
.rankBullets img {
	padding: 0px;
	vertical-align:middle;
}

#PageEditorDetails {
font-size: 1em;
	font-weight: bold;
	border:2px dashed #ff0032;
	background: #FFEEF3;
}
