p {
	font-size: 100%;
}
h3 {
	font-size: 120%;
}

div#petition_actions {
    border: none;
    margin-bottom: 1em;
}

#petition_actions ul, #petition_actions ul li {
	display: block;
	list-style-type: none;
	list-style-position: inside;
}

#content .byEditor ul li#action_view,
#content .byEditor ul li#action_create {
	line-height: 1em;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	background: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

/*
form#signForm label {
    width: 8em;
}
*/

p.petition_view_tabs {
    border-bottom: solid 2px #660066;
    margin-bottom:16px;
    padding-bottom: 8px;
    line-height: 1em;
}
.petition_view_tabs span {
    background-color: #660066;
}

h3 {
  margin: 0.333em 0 ;
}

/* Front page icons */

#action_create a {
    background-image: url('petition_button_create.png');
}
#action_view a {
    background-image: url('petition_button_view.png');
}
#action_create a, #action_view a, 
#action_create a:active, #action_view a:active  {
    margin-top: 0px;
    display: block;
    text-align: center;
    padding-top: 80px;
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 80%;
}
#action_create a:hover, #action_view a:hover {
    background-position: center -300px;
    color: #660066;
    background-color: #ffffff;
}


#action_create a img,  #action_view a img {
    display: none;
}

#most_popular ul, #most_recent ul{
	padding-left: 1em;
	margin-left: 0;
}
#most_popular ul li, #most_recent ul li{
	font-size: 1em;
	padding: 4px;
}

/* Forms override */
#content select, #content textarea {
    float: none;
    margin-left: 0;
    width: auto;
}

@media screen and (max-width: 500px){
    /* Stack the homepage content in a single column (not two) on narrow screens */
    div#most_popular, div#most_recent, div#petition_actions, div#front_how {
        float: none;
        width: 100%;
    }

    /* Do the same for the 'sign petition' page */
    form#signForm .relative_width_50, form#signForm .relative_width_47, #signatories, #more_detail {
        float: none;
        width: 100%;
    }

    /* Put a bit of vertical space underneath homepage create/view links */
    div#petition_actions {
        margin-bottom: 7em;
    }

    /* Make sure open/closed/rejected petition links don't overlap on narrow screens */
    .petition_view_tabs a, .petition_view_tabs span {
        display: inline-block;
        margin-bottom: 12px;
    }
}
