
div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #363636;
    line-height: 1em;
    padding-bottom: 10px;
    margin-top: 1em;
}

.petition_view_tabs span {
    background-color: #363636;
    padding-bottom: 10px;
}

#action_view a, #action_create a{
    text-decoration: none;
	font-size: 80%;
}

#action_view a:hover, #action_create a:hover {
    text-decoration: none;
}

div#petition_actions {
    margin-bottom: 1em;
}

p.petition_view_tabs {
    margin-bottom: 1em;
}

#action_create a, #action_create a:active {
    background-image: url('petition_button_create.png');
}
#action_view a, #action_view a:active {
    background-image: url('petition_button_view.png');
}
#action_create a, #action_view a, 
#action_create a:active, #action_view a:active  {
    display: block;
    text-align: center;
    padding-top: 76px;
    background-position: center top;
    background-repeat: no-repeat;
    line-height: 1.2em;
}
#action_create a:hover, #action_view a:hover {
    background-position: center -300px;
    background-color: #ffffff;
    text-decoration: underline;
}

#action_create a img,  #action_view a img {
    display: none;
}

#most_popular ul, #most_recent ul{
	padding-left: 2em;
	margin: 1em 0 1em 0;
}

p.list_sort_by {
	font-size: 120%;
}

.leading .button {
	font-size: 125%; /* assuming 150% is too big in our context */
	margin-bottom: 6px;
}