#mysociety {
    /* This is what Elmbridge's CSS gives their top level containers */
    margin: 1em;
    padding: 20px;
}

div#petition_actions {
    border: none;
}

div#petition_actions img {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    margin-top: 1em;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #2F6749;
}
.petition_view_tabs span {
    background-color: #2F6749;
}

/* Helpers */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

