#mysociety {
    /* This is what Elmbridge's CSS gives their top level containers */
    margin: 1em;
    padding: 20px;
}

div#petition_actions {
    border: none;
}

div#petition_actions img {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    margin-top: 1em;
    width: 45%;
}

/* Go single column on smaller screens */
@media screen and (max-width: 800px) {
    div#most_recent,
    div#most_popular,
    div#front_how,
    div#petition_actions {
        float: none;
        width: 100%;
    }
}

/* Give tabs the brand colours */
p.petition_view_tabs {
    border-bottom: solid 2px #6caa3d;
}
.petition_view_tabs span {
    background-color: #6caa3d;
}

/* Make our buttons look like Elmbridge's */
.button {
    background: #6caa3d;
    border-radius: 5px;
    border: 1px solid #6caa3d;
    padding: 10px;
    color: #fff;
    font-size: 1.05em;
    font-weight: bold;
    /*
     * When there's > 1 button, petitions separates them with a <br>, make
     * that not look so bad
     */
    margin-bottom: 1em;


}

/*
 * Override cols/size setting on some form elements because it's too big
 * for small screens.
 */
#pet_content,
textarea {
    max-width: 100%;
}

/* Make sure help text on fields looks ok on small screens too */
@media screen and (max-width: 800px) {
    #address,
    #new_you p small {
        display: block;
        clear: both;
        margin-left: 10px;
    }
}

/* Clearfix Helpers */
div#petition_actions:before,
div#petition_actions:after,
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

div#petition_actions:after,
.clearfix:after {
    clear: both; }

div#petition_actions,
.clearfix {
    *zoom: 1;
}

