</div>
        </div>
        <div class="vgn-footer">

<div id="footer-block" class="epi-BG3">
	<div id="footer-copyr" class="epi-font3">
		&nbsp;&copy; Runnymede Borough Council, 1996-2010&nbsp;
		<a href="#" onclick="window.open('/portal/homepage-popups/Disclaimer.htm', 'Disclaimer',
config='height=300,width=300')" onkeypress="window.open('portal/homepage-popups/Disclaimer.htm', 'Disclaimer',
config='height=300,width=300')">Disclaimer</a>
		&nbsp;
		<a href="#" onclick="window.open('/portal/homepage-popups/copyright.htm', 'Copyright',
config='height=300,width=300')" onkeypress="window.open('/portal/homepage-popups/copyright.htm', 'Copyright',
config='height=300,width=300')">Copyright</a>
	
		&nbsp;
		<a href="#" onclick="window.open('/portal/homepage-popups/privacy.htm', 'Privacy',
config='height=300,width=300')" onkeypress="window.open('/portal/homepage-popups/privacy.htm', 'Privacy',
config='height=300,width=300')">Privacy</a>

		&nbsp;
		<a href="http://www.w3.org/WAI/WCAG1AA-Conformance" TARGET="_blank">Accessibility Statement</a> </div>
			
</div>



</div></div></body></html>
