</div>
<!-- end aa_displaypage_static.inc -->

<!-- end aa_displaypage.jsp -->

                <!-- End pageContent -->
            </div>
        </div>
    </div>
<div style="clear:both; height:0;">&nbsp;</div>
</div>

        <div class="vgn-footer">

<div id="footer-block" class="epi-BG3">
	<div id="footer-copyr" class="epi-font3">
		&nbsp;&copy; Runnymede Borough Council, 1996-2010&nbsp;
		<a href="/portal/homepage-popups/Disclaimer.htm" onclick="window.open('/portal/homepage-popups/Disclaimer.htm', 'Disclaimer',
config='height=300,width=300');return false;">Disclaimer</a>
		&nbsp;
		<a href="/portal/homepage-popups/copyright.htm" onclick="window.open('/portal/homepage-popups/copyright.htm', 'Copyright',
config='height=300,width=300');return false;">Copyright</a>
	
		&nbsp;
		<a href="/portal/homepage-popups/privacy.htm" onclick="window.open('/portal/homepage-popups/privacy.htm', 'Privacy',
config='height=300,width=300');return false;">Privacy</a>

		&nbsp;
		<a href="http://www.w3.org/WAI/WCAG1AA-Conformance">Accessibility Statement</a>
    </div>
			
</div>



</div></div></body></html>
