  <span class="btl"></span>
  <span class="btr"></span>
</div><!-- end of default content -->
</div><!-- end of center column -->
</div><!-- end of contentbodywrap -->
<div id="rightcolumn">
<div class="related">
<div id="runnymedelinks">
  </div></div></div></div></div></div></div>
<div id="footer">
<div id="addressblock">
<div class="title">Contact us </div>
<div class="bodytext">
<ul>
  <li class="footerphone">01932 838383
  </li><li class="footerfax">01932 838384
</li></ul></div>
<div class="bodytext" id="addressarea">
<div>Runnymede Borough Council</div>
<div>Runnymede Civic Centre, Station Road,
<div>Addlestone</div></div>
<div>Surrey</div>
<div>KT15 2AH</div></div></div>
<div id="footersocial"><a title="Facebook Link : This link opens in a new browser window" href="https://www.facebook.com/"><img alt="Facebook Icon" src="/assets/runnymede/images/facebookicon.png">
</a><a title="Twitter : This link opens in a new browser window" href="https://www.twitter.com/"><img alt="Twitter Icon" src="/assets/runnymede/images/twittericon.png">
</a></div>
<div id="bottomutilholder">
<div class="bottomutilnav" id="firstbottomnav">
<ul>
  <li class="odd last"><a href="https://www.runnymede.gov.uk/contact-us">Contact
  Form </a></li></ul></div>
</div>
<div id="copyright">
<div class="footertext">
<div id="powered"><a title="Web content management by GOSS iCM - opens in a new browser window" href="https://www.gossinteractive.com/" rel="external" target="_blank">Powered by GOSS iCM<span class="screenread"> (Opens in a new window)</span></a>
</div></div></div></div></div></div>

</body></html>
