<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>PARAM_TITLE - Runnymede Borough Council</title>
        <link rel="stylesheet" type="text/css" href="http://www.runnymede.gov.uk/portal/templates/template0005/VXdfUdZcVcSUaZRRfXeRZefUafYcaQSY/aa_grids.css"/>
        <!--[if lte IE 6]>
        <style type="text/css">@import url("http://www.runnymede.gov.uk/portal/templates/template0005/VXdfUdZcVcSUaZRRfXeRZefUafYcaQSY/aa_grids-IE6.css");</style> 
        <![endif]--> 
        <!--[if IE 7]>
        <style type="text/css">@import url("http://www.runnymede.gov.uk/portal/templates/template0005/VXdfUdZcVcSUaZRRfXeRZefUafYcaQSY/aa_grids-IE7.css");</style> 
        <![endif]--> 
        <style type="text/css">@import url("http://www.runnymede.gov.uk/portal/templates/template0005/VXdfUdZcVcSUaZRRfXeRZefUafYcaQSY/vap_defaults.css");</style>

<link rel="stylesheet" type="text/css" href="/pet.css" />
<link rel="stylesheet" type="text/css" href="/assets/runnymede/css.css" />

<meta name="eGMS.Title" lang="en" content="Democratic processes &amp; events" />
<meta name="eGMS.Identifier" lang="en" content="PARAM_DC_IDENTIFIER" />
<meta name="eGMS.Creator" lang="en" content="Runnymede Borough Council" />
<meta name="eGMS.Audience" lang="en" content="" />
<meta name="eGMS.Coverage.Spatial" lang="en" content="Runnymede Borough Council, Runnymede, UK" />
<meta name="eGMS.Publisher" lang="en" content="Runnymede Borough Council" />
<meta name="eGMS.Language" lang="en" content="en" />
<meta name="eGMS.accessibility" scheme="WCAG" content="Double-A" />
<meta name="eGMS.subject.category" scheme="IPSV" content="Government, politics and public administration" />
<meta name="eGMS.subject.keyword" scheme="IPSV" content="Council. democracy, government, events" />
<meta name="eGMS.subject.interaction" content="provide information" />
<meta name="DC.Title" lang="en" content="Runnymede Borough Council: PARAM_TITLE" />
<meta name="DC.Identifier" lang="en" content="PARAM_DC_IDENTIFIER" />
<meta name="DC.Creator" lang="en" content="Runnymede Borough Council" />
<meta name="DC.Date" lang="en" content="PARAM_DATE" />

<meta name="DC.Coverage" lang="en" content="Runnymede Borough Council, Runnymede, UK" />
<meta name="DC.Publisher" lang="en" content="Runnymede Borough Council" />
<meta name="DC.Language" lang="en" content="en" />
<meta name="DC.Subject" scheme="eGMS.IPSV" content="Government, politics and public administration" />
<meta name="description"  content="Runnymede Borough Council: PARAM_DESCRIPTION" />
<meta name="keywords"  content="Runnymede Borough Council, online petition" />

PARAM_RSS_LINKS
PARAM_EXTRA

    </head>
    <body PARAM_BODYID>
    <div class="vgn-main">
        <div id="accessibility">
            <p>For accessibility information on this site use accesskey "0"<br />
                Skip Navigation
                and go straight to the main content or use use accesskey "s"
        </p>
    </div>

    <div class="vgn-header">

<div id="header-block">
<div style="position:absolute; margin-left: 2%; bottom: 5%; font-size: 100%; color: #0099CC; ">PARAM_DATE</div>
	<div id="header-image">
		<img src="/assets/runnymede/rbc_header_home.jpg" width="808" height="119" alt="Runnymede Borough Council, home header picture"/>
	 </div>

</div>

        </div>

    <div class="vgn-navigation-horizontal" style=" background: rgb(82,181,224); margin:0px 0em 0em 0em; padding:0em 0em 0em 0em;">
            <!-- Begin horizontal navigation -->
            

    <!-- Begin Nav-Horz Area -->

    <div class="vgn-horz-nav-block">

      <ul style="background-color: rgb(82,181,224); background-image: url(http://www.runnymede.gov.uk/portal/templates/template0002/VRReaZbUUUTVfeVWUYWZVVcbdaZQYUaQ/mainmenu_bg.gif); background-repeat: repeat-x; background-attachment: scroll; height:100%;width:100%; margin:0px 0em 0em 0em; padding:0em 0em 0em 0em;">

       <li style="list-style:none outside none;background-color:#009999; border-right: 1px solid #fff;" > 

        
            <a accesskey="s" href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.0c35f33cf200ae3e69cf4570af8ca028/"  class="epi-link3">
                     Home
            </a>
        
        </li>

       <li style="list-style:none outside none;background-color:#36b0d9; border-right: 1px solid #fff;" > 

        
            <a  href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.65ffb2c7839c95873d5fdd5108848a0c/"  class="epi-link3">

                     The Council
            </a>
        
        </li>

       <li style="list-style:none outside none;background-color:; border-right: 1px solid #fff;" > 

        
            <a  href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.416a35a5d10af92bf6be5010af8ca028/"  class="epi-link3">
                     What&#039;s on
            </a>
        
        </li>

       <li style="list-style:none outside none;background-color:; border-right: 1px solid #fff;" > 

        
            <a  href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.52a89bbab1772f21a6c7e2109a9084a0/"  class="epi-link3">

                     Your Councillors
            </a>
        
        </li>

       <li style="list-style:none outside none;background-color:; border-right: 1px solid #fff;" > 

        
            <a  href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.4548c2f3e7211e21a6c7e2109a9084a0/"  class="epi-link3">
                     Council Payments
            </a>
        
        </li>

       <li style="list-style:none outside none;background-color:; border-right: 1px solid #fff;" > 

        
            <a  href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.76eae7b6229facc8e53509ffaf8ca028/"  class="epi-link3">

                     Forms
            </a>
        
        </li>

       <li style="list-style:none outside none;background-color:; border-right: 1px solid #fff;" > 

        
            <a  href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.ed41fdfd5dd5a9b73d5fdd5108848a0c/"  class="epi-link3">
                     A-Z
            </a>
        
        </li>

       <li style="list-style:none outside none;background-color:; border-right: 1px solid #fff;" > 

        
            <a  href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.198c9386871a61698d5fdd5108848a0c/"  class="epi-link3">

                     Search
            </a>
        
        </li>

      </ul>


    </div>
   <!-- End Nav-Horz Area -->


            <!-- End horizontal navigation -->

    </div>
<div style="background: url(http://www.runnymede.gov.uk/portal/templates/template0005/XXTZYZUTRZbSdVYXXZVRVeQeTbQdaQSY/bg_nav.gif) repeat-y;">
    <div class="vgn-navvirt-pagecontent">
        <div class="vgn-navigation-vertical epi-BG3" >
            <!-- Begin vertical navigation -->
            



















    <!-- Begin Nav-Vert Area -->
    <div class="vgn-virt-nav-block" >
    <ul>


        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:10px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.a858283096c182ab068e90dbda9084a0/"  class="epi-link3">
            Welcome
        </a>

        &nbsp;
      </span>

    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:10px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.b351e7eb5f277b373d5fdd5108848a0c/"  class="epi-link3">
            Business
        </a>

        &nbsp;
      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:10px;"  >

        <span>

        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.b19c41a9a201ef373d5fdd5108848a0c/"  class="epi-link3">
            Community and living
        </a>

        &nbsp;
      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:10px; background-color:#36b0d9;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.5e51a3222b705b6d0fcf4570af8ca028/"  class="epi-link3">
            Council, government and democracy
        </a>

        &nbsp;
      </span>

    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:18px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.b4ecf4fae945f0806ee19ef4af8ca028/"  class="epi-link3">
            Committees information
        </a>

        &nbsp;
      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:18px;"  >

        <span>

        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.90ff8858526120bd0fcf4570af8ca028/"  class="epi-link3">
            Constitution
        </a>

        &nbsp;
      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:18px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.15d55c42e6b43f58c4a81c10af8ca028/"  class="epi-link3">
            Council
        </a>

        &nbsp;
      </span>

    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:18px; background-color:#63c2e3;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.dcba885b55b0720f0fcf4570af8ca028/"  class="epi-link3">
            Democratic processes &amp; events
        </a>

        &nbsp;
      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:26px;"  >

        <span>

        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.13778cc6eb03d8a2d409be10af8ca028/"  class="epi-link3">
            Calendar of meetings
        </a>

        &nbsp;
      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:26px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.c7dd6e28f949f5d00c3873acaf8ca028/"  class="epi-link3">
            Members&#039; bulletin
        </a>

        &nbsp;

      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:26px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.7a1929def7f3d6ac32cf4010af8ca028/"  class="epi-link3">

            News
        </a>

        &nbsp;
      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:26px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.a723af919090e6ac32cf4010af8ca028/"  class="epi-link3">
            News releases
        </a>

        &nbsp;
      </span>
    </li>



        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:26px;background-color: #87d0ea;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.bbcf55f3a4a758ceb14229a7af8ca028/"  class="epi-link3">
            Petitions
        </a>

        &nbsp;

      </span>
    </li>

        <li style="border-color: #000000; border-bottom: 1px solid #fff; padding-left: 34px; background-color: #a3dbef;">
        <span> <a href="/" class="epi-link3">e-Petitions</a> &nbsp; </span>
        </li>

        <li style="border-color: #000000; border-bottom: 1px solid #fff; padding-left: 42px;">
        <span> <a href="/new" class="epi-link3">Create a petition</a> &nbsp; </span>
        </li>

        <li style="border-color: #000000; border-bottom: 1px solid #fff; padding-left: 42px;">
        <span> <a href="/list" class="epi-link3">View petitions</a> &nbsp; </span>
        </li>

        <li style="border-color: #000000; border-bottom: 1px solid #fff; padding-left: 42px;">
        <span> <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.9e3786f0e4a5a623fa43a310af8ca028/" class="epi-link3">
            Questions
        </a> &nbsp; </span>
        </li>

        <li style="border-color: #000000; border-bottom: 1px solid #fff; padding-left: 42px;">
        <span> <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.eac7b227d6b697ef53d2dd85af8ca028/" class="epi-link3">
        Step by Step Guide
        </a> &nbsp; </span>
        </li>

        <li style="border-color: #000000; border-bottom: 1px solid #fff; padding-left: 42px;">
        <span> <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.12d3579a97fd8623fa43a310af8ca028/" class="epi-link3">
        Terms and Conditions
        </a> &nbsp; </span>
        </li>



        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:34px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.a47d94c6c4db6ad02d609c02af8ca028/"  class="epi-link3">

            Paper petitions received
        </a>

        &nbsp;
      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:34px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.55315d9ffbe39623fa43a310af8ca028/"  class="epi-link3">
            Have your say 
        </a>

        &nbsp;
      </span>
    </li>



        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:34px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.0b76d4debdb9a623fa43a310af8ca028/"  class="epi-link3">
            Submit a petitions by post
        </a>

        &nbsp;

      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:34px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.40b9386d6ff92926fa43a310af8ca028/"  class="epi-link3">

            Scheme for responding to petitions
        </a>

        &nbsp;
      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:26px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.f18f1bfd75af92901fcf4570af8ca028/"  class="epi-link3">
            Press releases
        </a>

        &nbsp;
      </span>
    </li>



        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:26px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.b46cc324e15e7a52f43873acaf8ca028/"  class="epi-link3">
            Standards Committee - membership
        </a>

        &nbsp;

      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:18px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/elections/"  class="epi-link3">

            Electoral services
        </a>

        &nbsp;
      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:18px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.9b27cea0d6dcb605cbfb1110af8ca028/"  class="epi-link3">
            Mayor
        </a>

        &nbsp;
      </span>
    </li>



        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:18px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.d8df1e1adde1559eb2b32d12af8ca028/"  class="epi-link3">
            Public notice
        </a>

        &nbsp;

      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:18px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.16f3b9838af31cfefa43a310af8ca028/"  class="epi-link3">

            Surrey first
        </a>

        &nbsp;
      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:10px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.852396247f3379140bfaaee4af8ca028/"  class="epi-link3">
            Economics and finance
        </a>

        &nbsp;
      </span>
    </li>



        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:10px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.261025667acc95473d5fdd5108848a0c/"  class="epi-link3">
            Education and learning
        </a>

        &nbsp;

      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:10px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.83a8a90383dba9473d5fdd5108848a0c/"  class="epi-link3">

            Environment
        </a>

        &nbsp;
      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:10px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.54c2446004e9ec473d5fdd5108848a0c/"  class="epi-link3">
            Health and social care
        </a>

        &nbsp;
      </span>
    </li>



        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:10px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.a3fc5ee7d610df473d5fdd5108848a0c/"  class="epi-link3">
            Housing
        </a>

        &nbsp;

      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:10px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.84e94e0a6b4555b2fe138e11af8ca028/"  class="epi-link3">

            Information and communication
        </a>

        &nbsp;
      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:10px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.6af9e96b8b7a81573d5fdd5108848a0c/"  class="epi-link3">
            Jobs and careers
        </a>

        &nbsp;
      </span>
    </li>



        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:10px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.9c9073a685b7b6573d5fdd5108848a0c/"  class="epi-link3">
            Leisure and culture
        </a>

        &nbsp;

      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:10px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.9270095d84f85cb5fe138e11af8ca028/"  class="epi-link3">

            People and organisations
        </a>

        &nbsp;
      </span>
    </li>




        <li style="border-color:#000000;border-bottom: 1px solid #fff; padding-left:10px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.957d18f70360e8573d5fdd5108848a0c/"  class="epi-link3">
            Policing and public safety
        </a>

        &nbsp;
      </span>
    </li>



        <li style="border-color:#999999;border-bottom: 1px solid #fff; padding-left:10px;"  >

        <span>


        <a href="http://www.runnymede.gov.uk/portal/site/runnymede/menuitem.8a1303c13184d0673d5fdd5108848a0c/"  class="epi-link3">
            Transport and streets
        </a>

        &nbsp;

      </span>
    </li>



    </ul>
    </div>
    <!-- End Nav-Vert Area -->

            <!-- End vertical navigation -->
        </div>

        <div class="vgn-pagecontent" >
            <div class="vgn-inner-pagecontent">
                <!-- Begin pageContent -->
                <!-- begin aa_displaypage.jsp -->

    <!-- begin aa_displaypage_static.inc -->
            <div class="page_container_fixed_width">

    <!-- begin aa_displaypage_static_column_oriented.inc -->

<div id="div_container" style="display: inline; width: 100%;"> 

    
    <div id="divider_0" style="width: 650px; float: left;" class="aa_page_column_divider">
    
    
   <div id="panel_0_0" style="width: 100%; float: left;" class="aa_page_column_panel">
              <!-- begin aa_displaypage_static_common.inc -->
    
<!-- begin aa_display_portlet.inc -->
    
<!--  AA VAP Linear Chrome portlet chrome for Petitions portlet - begin -->

<div class ="vgn-chrome epi-calculated-chrome-borders" style="border-left:#e4f7ff solid 1px; border-right:#e4f7ff solid 1px;border-top:#e4f7ff solid 1px; border-bottom:#e4f7ff solid 1px">

    <div class="vgn-chrome-header epi-chromeHeaderBG">

        <div class="vgn-chrome-title epi-chromeHeaderFont epi-chromeHeaderBG">
                PARAM_H1
        </div>

    </div> 
    <div class="vgn-chrome-portlet-content" style="border-top:#e4f7ff solid 1px;">
      
        <div class="epi-chromeBG" style="padding:8px;">

<!-- Start of AA StoryPublisher.view.jsp -->

