<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>PARAM_TITLE - Runnymede Borough Council</title>
        <link rel="stylesheet" type="text/css" href="http://www.runnymede.gov.uk/portal/templates/template0005/VXdfUdZcVcSUaZRRfXeRZefUafYcaQSY/aa_grids.css"/>
        <!--[if lte IE 6]>
        <style type="text/css">@import url("http://www.runnymede.gov.uk/portal/templates/template0005/VXdfUdZcVcSUaZRRfXeRZefUafYcaQSY/aa_grids-IE6.css");</style> 
        <![endif]--> 
        <!--[if IE 7]>
        <style type="text/css">@import url("http://www.runnymede.gov.uk/portal/templates/template0005/VXdfUdZcVcSUaZRRfXeRZefUafYcaQSY/aa_grids-IE7.css");</style> 
        <![endif]--> 
        <style type="text/css">@import url("http://www.runnymede.gov.uk/portal/templates/template0005/VXdfUdZcVcSUaZRRfXeRZefUafYcaQSY/vap_defaults.css");</style>

<link rel="stylesheet" type="text/css" href="/pet.css">
<link rel="stylesheet" type="text/css" href="/assets/runnymede/css.css">

<meta name="eGMS.Title" lang="en" content="Democratic processes &amp; events" />
<meta name="eGMS.Identifier" lang="en" content="/portal/site/runnymede/menuitem.dcba885b55b0720f0fcf4570af8ca028/" />
<meta name="eGMS.Creator" lang="en" content="Runnymede Borough Council" />
<meta name="eGMS.Audience" lang="en" content="" />
<meta name="eGMS.Coverage.Spatial" lang="en" content="Runnymede Borough Council, Runnymede, UK" />
<meta name="eGMS.Publisher" lang="en" content="Runnymede Borough Council" />
<meta name="eGMS.Language" lang="en" content="en" />
<meta name="eGMS.accessibility" scheme="WCAG" content="Double-A" />
<meta name="eGMS.subject.category" scheme="IPSV" content="Government, politics and public administration" />
<meta name="eGMS.subject.keyword" scheme="IPSV" content="Council. democracy, government, events" />
<meta name="eGMS.subject.interaction" content="provide information" />
<meta name="DC.Title" lang="en" content="Democratic processes &amp; events" />
<meta name="DC.Identifier" lang="en" content="/portal/site/runnymede/menuitem.dcba885b55b0720f0fcf4570af8ca028/" />
<meta name="DC.Creator" lang="en" content="Runnymede Borough Council" />
<meta name="DC.Date" lang="en" content="Tue Jul 12 08:16:08 BST 2005" />

<meta name="DC.Coverage" lang="en" content="Runnymede Borough Council, Runnymede, UK" />
<meta name="DC.Publisher" lang="en" content="Runnymede Borough Council" />
<meta name="DC.Language" lang="en" content="en" />
<meta name="DC.Subject" scheme="eGMS.IPSV" content="Government, politics and public administration" />
<meta name="description"  content="Runnymede Borough Council, rated excellent by the Audit Commission" />
<meta name="keywords"  content="Runnymede Borough Council" />

    </head>
    <body>
    <div class="vgn-main">
        <div id="accessibility">
            <p>For accessibility information on this site use accesskey "0"<br />
                Skip Navigation
                and go straight to the main content or use use accesskey "s"
        </p>
    </div>

    <div class="vgn-header">

<div id="header-block">
<div style="position:absolute; margin-left: 2%; bottom: 5%; font-size: 100%; color: #0099CC; ">PARAM_DATE</div>
	<div id="header-image">
		<img src="/assets/runnymede/rbc_header_home.jpg" width="808" height="119" alt="Runnymede Borough Council, home header picture"/>
	 </div>

</div>

        </div>
        <div class="vgn-pagecontent-wide">
            <div class="page_container_fixed_width">

