h2 {
    color: #0099cc;
    font-size: 136%; /* Combined with 110% to match 150% of span.ycsubtitle(!) */
}

h3 {
    color: #0099cc;
    font-size: 136%;
    margin-top: 1em;
}

small {
    font-size: 100%;
}

/* From .text in main CSS file */
#center_column_standard {
    font: 110%/130% Arial,Verdana,Helvetica,sans-serif;
}

div#petition_actions {
    border: none;
    font-size: 130%;
    line-height: 1.2;
}

div#petition_actions ul li {
    margin-bottom: 1em;
}

div#petition_actions, div#most_popular, div#most_recent {
    float: none;
    width: auto;
}

/*
form#signForm label {
    width: 8em;
}
*/

.loudmessage {
    font-size: 100%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #0099cc;
}
.petition_view_tabs span {
    background-color: #0099cc;
}

