<!-- Content end -->

                </div>
        </div>

    </div>
    </div>
    <div class="inner-footer">
        <div class="container footer">
          <ul class="council-contact">
              <li><a href="https://www.reigate-banstead.gov.uk/contact_us">Best ways to contact us</a></li>
              <li><a href="https://www.reigate-banstead.gov.uk/emergency_contacts">Emergency contacts</a></li>
              <li><a href="https://www.reigate-banstead.gov.uk/complaints">Complaints</a></li>
              <li><a href="https://www.reigate-banstead.gov.uk/translation_services">Translation services</a></li>
          </ul>
          <div class="social-links">
              <p class="social"><a title="Facebook" aria-label="Facebook" href="https://www.facebook.com/reigatebanstead"><i class="fa fa-facebook-square"></i><span class="visually-hidden">Facebook</span></a>  <a title="Twitter" aria-label="Twitter" href="https://twitter.com/reigatebanstead"><i class="fa fa-twitter-square"></i><span class="visually-hidden">Twitter</span></a></p>

<!-- Address start -->

              <p class="small">Reigate and Banstead Borough Council, Town Hall,

Castlefield Road,
Reigate,
RH2 0SH</p>

<!-- Address end -->

          </div>
    </div>
    <div class="container small-links">
        <div>
            <ul>
                    <li><a href="https://www.reigate-banstead.gov.uk/site_map">Site map</a></li>
                    <li><a href="https://www.reigate-banstead.gov.uk/terms">Terms and conditions</a></li>
                    <li><a href="https://www.reigate-banstead.gov.uk/cookies">Cookies</a></li>
            </ul>

            </div>
    </div>


        <div class="container">
            <footer>

<!-- Back to top link start -->
                <a href="#top"><i class="fa fa-arrow-circle-up"></i><span>Top</span></a>
<!-- Back to top link end -->

                <p>&copy; Reigate and Banstead Borough Council.</p>
            </footer>
        </div>
    </div>


</body></html>
