<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>          <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en"><!--<![endif]--><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.reigate-banstead.gov.uk/rss/news">

        <link rel="shortcut icon" type="image/x-icon" href="http://www.reigate-banstead.gov.uksite/site/favicon.ico">
        <link rel="apple-touch-icon" href="http://www.reigate-banstead.gov.uksite/site/apple-touch-icon.png">

        <!-- Petitions CSS -->
        <link rel="stylesheet" type="text/css" href="/pet.css"/>

        <link rel="stylesheet" type="text/css" href="/assets/reigate-banstead/css/base.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/reigate-banstead/css/font-awesome.css">

        <link href="/assets/reigate-banstead/css/sumpy.css" rel="stylesheet" type="text/css">

        <meta name="description" content="20 Pages">
        <meta name="keywords" content="documents, consultations, policies, information, plans, performance, objectives, facts and figures, strategy, ">
        <script type="text/javascript" src="/assets/reigate-banstead/js/swfobject.js"></script>

        <script src="/assets/reigate-banstead/js/modernizr.js"></script>
        <script src="/assets/reigate-banstead/js/modernizr_002.js"></script>

        <title>PARAM_TITLE | Reigate and Banstead Borough Council</title>
    </head>
    <body class="one-column">

            <div id="top" class="container">
                <header class="clearfix">
                    <div class="header-h1"><a href="http://www.reigate-banstead.gov.uk/">Reigate and Banstead Borough Council</a></div>
                    <form action="http://www.reigate-banstead.gov.uk/site/scripts/google_results.php" method="get">
                        <label for="search-site" class="visually-hidden">Search this site</label>
                        <input class="field" size="18" maxlength="40" name="q" placeholder="Search" id="search-site" type="search">
                        <button value="search"><i class="fa fa-search"></i><span class="visually-hidden">Search</span></button>
                    </form>
            </header>
            </div>

    <div class="container">

<!-- Breadcrumb start -->

            <ol class="breadcrumb">
                <li>
                    <a href="http://www.reigate-banstead.gov.uk/" rel="home">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="/">E-Petitions</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>PARAM_TITLE</span>
                </li>
            </ol>

<!-- Breadcrumb end -->

<div id="mainContent">

<!-- Page title start -->

            <h1>PARAM_H1</h1>

<!-- Page title end -->

            <div id="content" role="main">

<!-- Page navigation start -->

                <!-- Could put internal section nav here, but we don't have any
                <div class="pages-in">

                </div>
                -->

<!-- Page navigation end -->

                <div class="editor">

<!-- Content start -->

