div#errors {
    margin: 0 auto 1em;
    color: #000000;
    background-color: #ffcccc; 
    border: solid 2px #990000;
    padding: 4px;
}
div#errors ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}
div#errors > p {
    margin-top: 0;
}

#admin_nav {
    float: right;
    width: 25em;
    border: solid 1px #ccccff;
    padding: 1em 0 0 1em;
    margin: 0 0 1em 1em;
    background-color: #eeeeff;
}

#admin_offline_petition {
    clear: both;
    float: left;
    width: 48%;
}

#admin_offline_creator {
    float: right;
    width: 48%;
}

#signer_areas {
    float: right;
    clear: right;
    margin-bottom: 1em;
}

#signer_map {
    clear: right;
    float: right;
    width: 300px;
    height: 300px;
    border: solid 1px #666666;
}

#signer_map_large {
    width: 100%;
    height: 500px;
    border: solid 1px #666666;
}

#petition_admin_actions {
    clear: right;
    float: right;
    width: 25em;
    padding: 0 0 0 1em;
    margin: 0 0 1em 1em;
    border: solid 1px #ffccaa;
    background-color: #ffeecc;
}

#petition_admin_actions input[type=submit] {
    margin-right: 1em;
}

div.olControlAttribution {
    bottom: 0.5em;
}

.v {
    background-color: #cccccc;
    color: #000000;
}

.l {
    background-color: #ffcccc;
    color: #000000;
}

.v.l {
    background-color: #ff9999;
}

i,em {
    color: #666666;
    background-color: #cccccc;
}

hr {
    width: 600px;
    background-color: #cccccc;
    border: 0px;
    height: 1px;
    color: #000000;
}

/* Stats table */

table.stats th {
    text-align: left;
    font-weight: normal;
    padding-left: 3em;
}

table.stats td {
    min-width: 4em;
    text-align: right;
}

table.stats td:first-child {
    text-align: left;
}

table.stats tr.total th, table.stats tr.total td {
    padding-left: 4px;
    font-weight: bold;
}

table.stats tr.total {
    border-bottom: 1px solid black;
}

table.stats tr.separator {
    border-bottom: 1px dashed black;
}

table.stats tr.alone th {
    padding-left: 4px;
}


/* help pages */
#content {
    padding: 0 1em 1em;
}

.help-footer {
    text-align: right;
    margin-top: 2em;
    border-top:1px solid #dddddd;
}
.help-footer img {
    clear: both;
    margin: 0.5em 1em;
}

#content img.pet-screenshot {
    margin: 1.5em auto;
    display: block;
    border:1px solid #dddddd;
    -moz-box-shadow: 6px 6px 5px #aaa;
    -webkit-box-shadow: 6px 6px 5px #aaa;
    box-shadow: 6px 6px 5px #aaa;
}

ul.pet-help-nav {
    font-size:80%;
    list-style: none;
    padding: 1em 1em 3em 1em;
    margin: 0.25em 0 1em 0;
}

ul.pet-help-nav li {
    display: block;
    float: left;
    width: 33%;
}

.pet-help-prev { text-align:left;}
.pet-help-contents { text-align:center;}
.pet-help-next { text-align:right;}
.pet-help { clear: both; margin:1.5em 1em 1em 1em; border-top:1px solid #dddddd; }
.pet-help img { max-width: 80%; }

.pet-help h2 { margin-top: 1.666em; }

#content .warning {
    width: 90%;
    background-color: #ffeeee;
    border: 1px solid #c63838;
    padding: 0.5em 1em 0.5em 48px;
    background-image: url(help/images/warning_triangle.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

