body {
    background-color: #ffffff;
    color: #000000;
    font-family: arial, helvetica, sans-serif;
    font-size: 75%;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

a:link {
    color: #15742F;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: #75D48F;
    font-weight: bold;
    text-decoration: none;
}
a:focus, a:active, a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 4px;
}

h1 {
    font-size: 150%;
    border-bottom: 1px solid #cccccc;
}

h2 {
    font-size: 125%;
    border-bottom: 1px solid #cccccc;
}

#header {
    background-image: url("islington_header.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #ffffff;
    min-height: 130px;
}

#content {
    padding: 0 1em 1em;
}

#admin_nav {
    border: solid 1px #ccffcc;
    padding: 1em 0 0 1em;
    background-color: #eeffee;
}


