body {
    background-color: #ffffff;
    color: #000000;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Arial, sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

a:link {
    color: #0000FF;
}
a:visited {
    color: #000099;
}
a:focus, a:active, a:hover {
    color: #CC0000;
}

table {
    border-collapse: collapse;
}

td, th {
    font-size: 75%;
    padding: 4px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Candara, "Trebuchet MS", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 125%;
}

#header {
    background-image: url("admin_header.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100px;
    border-bottom: 1px solid #999999;
}

#content {
    padding: 0 1em 1em;
}

