/* Generics */

body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Arial, sans-serif;
    background-color: #e0e0ff;
    color: #000000;
}

a:link {
    color: #0000ff;
}
a:visited {
    color: #000099;
}
a:focus, a:active, a:hover {
    color: #cc0000;
}

h2, h3, h4, h5, h6 {
    font-family: Candara, "Trebuchet MS", Helvetica, Arial, sans-serif;
}

h2 {
    margin-top: 0;
}

dt {
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}

table {
    border: none;
    border-collapse: collapse;
}

th, td {
    border: none;
    border-bottom: solid 1px #666666;
    padding: 4px;
    margin: 0;
}

tr.a, li.a {
    background-color: #ffffee;
}

tr:nth-child(2n) {
    background-color: #ffffcc;
}

input, textarea {
    padding: 3px;
    border: solid 1px #999966;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/* Site layout */
#wrapper h1{
    font-family: Tahoma, Candara, "Trebuchet MS", Helvetica, Arial, sans-serif;    
    padding: 20px 0 0 0;
    margin: 0px 0 0 0;
    font-weight: normal;
    font-size: 60px;
    position: absolute;
    top:0;
    left: 200;
}

.steds_logo{
    position:absolute;
    top:0;
    left:0;
    margin:0;
    width:177px; 
    height:150px;
}

/* A wrapper div because of IE6 transparency issues with links */

#wrapper {
    max-width: 60em;
    margin: 0 auto;
    height: 150px;
    position: relative;
}

#header {
    padding: 0 0 0 200px;
    margin: 0;
    height: 150px;
    background-color: #010080;
    color: #ffffff;
    border-bottom: solid 3px #ffffff;
}

#nav {
    list-style-type: none;
    margin: 0 0 0 0px;
    padding: 10px 0 0 0;
    overflow: hidden;
    position: absolute;
    left:0;
    bottom:0;
}

#nav li {
    display: inline;
    margin: 0;
    padding: 0;
}
#nav a {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    float: left;
    background-color:#08163d;
    padding: 0.3em 0.5em;
    margin-right: 0.5em;
    color: #ffffff;
    text-decoration: none;
}
#nav a:hover {
    background-color: #E0E0FF;
    color:#010080;
}

#main {
    clear: both;
    color: #000000;
    background-color: #ffffff;
    padding: 1.5em 1.5em 0.75em;
    overflow: auto;
    max-width: 42em;
    margin: 0 auto;
}
#admin #main {
    max-width: 57em;
}

#footer {
    clear: both;
    text-align: center;
    background-color: #010080;
    color: #ffffff;
    margin: 0;
    padding: 0.5em 1em;
    font-size: 83%;
    border-top: solid 3px #ffffff;
}
#footer ul {
    list-style-type: none;
    padding: 0.5em 0;
    margin: 0;
}
#footer li {
    display: inline;
    margin: 0 0.5em;
}

#footer a {
    color: #ddddcc;
}

#admin_nav {
    border: solid 1px #cccccc;
    border-top: none;
    padding: 0.25em 0 0 0.5em;
    margin: -24px 0 0.5em 0.5em;
    background-color: #ffffff;
}

/* Bits and pieces */

div.petition_box {
    background-color: #ffffcc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#petition_actions {
    overflow: auto;
}
#petition_actions a {
    text-decoration: none;
}

#errors > p {
    margin-top: 0;
}

div#signatories {
   clear: left;
}

div#most_recent {
    float: right;
}

#most_popular h3 {
    margin-top: 0;
}

div#front_how {
    float: left;
    width: 45%;
}

form#signForm label {
    width: 8em;
}



/*=========================*/

#ms-petition-list-rss{
    text-align:right;
    width: 100%;
}
#ms-petition-list-rss img{
    vertical-align: baseline;
    margin:0;
}

div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #010080;
    margin: 1em 1em 1em 0;
    padding:8px 8px 8px 0;
}

.petition_view_tabs a{
    background-color: #E0E0FF;
    padding:8px 8px 9px 8px;
    text-decoration: none;
}

.petition_view_tabs a:hover{
    background-color: #010080;
    color: #ffffff;
}


.petition_view_tabs span {
    background-color: #010080;
    padding-bottom:10px;
}

#action_view a, #action_create a{
    text-decoration: none;
    font-size:80%;
}

#action_view a:hover, #action_create a:hover {
    text-decoration: none;
}

h3 {
  margin: 0.333em 0 ;
}

div#petition_actions {
    margin-bottom: 1em;
}

#action_create a, #action_create a:active {
    background-image: url('petition_button_create.png');
}
#action_view a, #action_view a:active {
    background-image: url('petition_button_view.png');
}
#action_create a, #action_view a, 
#action_create a:active, #action_view a:active  {
    display: block;
    text-align: center;
    padding-top: 64px;
    background-position: center top;
    background-repeat: no-repeat;
}
#action_create a:hover, #action_view a:hover {
    background-position: center -300px;
    text-decoration: underline;
}

#action_create a img,  #action_view a img {
    display: none;
}

h1 {
    margin-bottom: 1em;
}

#most_popular ul, #most_recent ul{
	margin-left: 0;
}
#most_popular ul li, #most_recent ul li{
	font-size: 1em;
}

