#ms-email2-note{
	margin-top: 0px;
	margin-left:12em;
	display:block;
}
#ms-email2-note-signup{
	margin-top: 0px;
	margin-left:7em;
}

/* mysoc-nav for second-tier navigation below main Westminster nav */
#mysoc-nav li a,
h3 {
	font-size: 1.333em;
}
#mysoc-nav {
	padding-top:  0px;
	background-color: transparent;
	font-family: georgia, times, serif;
}

#mysoc-nav ul {
	height: 2.2em;
	overflow: hidden;
	background: #fff url(wcc_files/images/nav-grey.gif) repeat-x bottom;
	padding-left: 1px;
}
#mysoc-nav li {
	display:  inline;
	list-style: none;
	float:  left;
}

#mysoc-nav li a {
	padding-left: 9px;
	padding-right: 9px;
	text-decoration: none;
	display: inline-block;
	color: #222;
	height: 1.333em;
	padding-top: .2em;
	padding-bottom: .1em;
	border-right:  1px solid #a4a4a4;
}
#mysoc-nav li.right {
	float: right;
}
#mysoc-nav li.right a {
	padding-right: 13px;
	border-left: 1px solid #a4a4a4;
}
#mysoc-nav li a:hover,
#mysoc-nav li.selected a {
	background: #f6d43b;
	border-right: 1px solid #f6d43b;
	border-left: 1px solid #f6d43b;
	margin-left: -1px;
}

/* end of nav */




div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

/*
form#signForm label {
    width: 8em;
}
*/

p.petition_view_tabs {
    border-bottom: solid 2px #facf24;
    background-image:url(/assets/westminster/westminster_blue.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    line-height: 10px !important; /* override Westminster defs, to join tabs to line below */
}
.petition_view_tabs span {
    background-color: #0B1867;
}

/* allow default behaviour
  #action_view a, #action_create a{
    text-decoration: none;
  }
  #action_view a:hover, #action_create a:hover {
    text-decoration: none;
  }
*/

h3 {
  margin: 0.333em 0 ;
}

div#petition_actions {
    margin-bottom: 1em;
}

p.petition_view_tabs {
    margin-bottom: 1em;
}


#action_create a {
    background-image: url('/assets/westminster/petition_button_create.png');
}
#action_view a {
    background-image: url('/assets/westminster/petition_button_view.png');
}
#action_create a, #action_view a, 
#action_create a:active, #action_view a:active  {
    margin-top: 10px;
    display: block;
    text-align: center;
    padding-top: 96px;
    background-position: center top;
    background-repeat: no-repeat;
}
#action_create a:hover, #action_view a:hover {
    background-position: center -300px;
    background-color: #ffffff;
    color: #b80000;
}

a:hover {
  color: #b80000; /* Waveney default */
  background-color: transparent;
}

#action_create a img,  #action_view a img {
    display: none;
}
/* RSS icon fix */
#article-content p a img{
    display: inline-block;
}
#article-content input, #article-content textarea {
  border: 1px solid #666666;
