                              <!-- start of petitions foot -->
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <!--
                <div id="rt-mainbottom">
                    <div class="rt-container">
                        <div class="rt-grid-12 rt-alpha rt-omega">
                            <div class="banners">
                                <div class="rt-block">
                                    <div id="k2ModuleBox137" class="k2ItemsBlock banners">
                                        <ul>
                                            <li class="even">
                                                <div class="moduleItemIntrotext">
                                                    <p class="itemImg">
                                                        <a href="#"><img src="http://www.whypoll.org/images/home-banner-1.jpg" border="0" alt="1" /></a>
                                                    </p>
                                                </div>
                                                <div class="clr"></div>
                                                <div class="clr"></div>
                                                <div class="clr"></div>
                                            </li>
                                            <li class="odd">
                                                <div class="moduleItemIntrotext">
                                                    <p class="itemImg">
                                                        <a href="#"><img src="http://www.whypoll.org/images/home-banner-2.jpg" border="0" alt="2" /></a>
                                                    </p>
                                                </div>
                                                <div class="clr"></div>
                                                <div class="clr"></div>
                                                <div class="clr"></div>
                                            </li>
                                            <li class="even lastItem">
                                                <div class="moduleItemIntrotext">
                                                    <p class="itemImg">
                                                        <a href="#"><img src="http://www.whypoll.org/images/home-banner-3.jpg" border="0" alt="3" /></a>
                                                    </p>
                                                </div>
                                                <div class="clr"></div>
                                                <div class="clr"></div>
                                                <div class="clr"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                -->
                <div class="push"></div>
            </div>
            <div id="footer">
                <div class="footer-container">
                    <div id="rt-bottom">
                        <div class="rt-container">
                            <div class="rt-grid-3 rt-alpha">
                                <div class="rt-block">
                                    <div class="module-title">
                                        <h2 class="title">
                                            HIRE US
                                        </h2>
                                    </div>
                                    <ul class="menu">
                                        <li id="item-173">
                                            <a href="#"><span>About</span></a>
                                        </li>
                                        <li id="item-175">
                                            <a href="http://www.whypoll.org/privacy-policy"><span>Privacy Policy</span></a>
                                        </li>
                                        <li id="item-176">
                                            <a href="#"><span>Terms &amp; Conditions</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rt-grid-3">
                                <div class="rt-block">
                                    <div class="module-title">
                                        <h2 class="title">
                                            DONATE
                                        </h2>
                                    </div>
                                    <ul class="menu">
                                        <li id="item-177">
                                            <a href="http://www.whypoll.org/2012-07-10-14-00-28"><span>Contact Us</span></a>
                                        </li>
                                        <li id="item-180">
                                            <a href="#"><span>Site Map</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rt-grid-3">
                                <div class="rt-block">
                                    <div class="module-title">
                                        <h2 class="title">
                                            VOLUNTEER
                                        </h2>
                                    </div>
                                    <ul class="menu">
                                        <li id="item-181">
                                            <a href="http://www.whypoll.org/2012-07-10-13-56-25"><span>CAMPAIGNS</span></a>
                                        </li>
                                        <li id="item-201">
                                            <a href="http://www.whypoll.org/data-analysis"><span>DATA ANALYSIS</span></a>
                                        </li>
                                        <li id="item-202">
                                            <a href="http://www.whypoll.org/data-visualisation"><span>DATA VISUALISATION</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rt-grid-3 rt-omega">
                                <div class="rt-block">
                                    <div class="module-title">
                                        <h2 class="title">
                                            WORK WITH US
                                        </h2>
                                    </div>
                                    <ul class="menu">
                                        <li id="item-203">
                                            <a href="http://www.whypoll.org/details"><span>DETAILS</span></a>
                                        </li>
                                        <li id="item-204">
                                            <a href="http://www.whypoll.org/newsletter"><span>NEWSLETTER</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div id="rt-footer">
                        <div class="rt-container">
                            <div class="rt-grid-6 rt-alpha">
                                <div class="clear"></div>
                                <div class="rt-block">
                                    <p class="copyright">
                                        © 2013 | <a href="http://www.whypoll.org/index.php/privacy-policy">Privacy Policy</a>
                                    </p>
                                </div>
                            </div>
                            <div class="rt-grid-6 rt-omega">
                                <div class="rt-block">
                                    <div class="smile" style="text-align: right">
                                        <a style="margin:0px;" rel="nofollow" href="http://www.facebook.com/whypoll" target="_blank"><img src="http://www.whypoll.org/modules/mod_socialmedialinks/icons/custom/size3/facebook.png" alt="Facebook" title="Follow us on Facebook" /></a><a style="margin:0px;" rel="nofollow" href="https://twitter.com/Whypoll" target="_blank"><img src="http://www.whypoll.org/modules/mod_socialmedialinks/icons/custom/size3/twitter.png" alt="Twitter" title="Follow us on Twitter" /></a>
                                        <div class="smilecredits" style="text-align:text-align: right ;margin: 0px 0px 0px 0px;">
                                            <a href="http://www.viperwebsites.com/" title="Social Media Icons for Joomla!">Social Media Icons for Joomla!</a>
                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </div><!-- {%FOOTER_LINK} -->
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div id="rt-copyright">
                        <div class="rt-container">
                            <div class="rt-grid-12 rt-alpha rt-omega">
                                <div class="clear"></div>
                                <div class="rt-block totop">
                                    <a href="#" id="gantry-totop" name="gantry-totop">Scroll to Top</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
