<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
    PARAM_TITLE
    </title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700" type="text/css">
    <style type="text/css">
    /*<![CDATA[*/
    body {font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:21px; color:#696969; }
    /*]]>*/
    </style>

    <link rel="stylesheet" type="text/css" href="/pet.css">
    <link rel="stylesheet" type="text/css" href="/assets/whypoll/css.css">

    PARAM_RSS_LINKS
    PARAM_EXTRA
  </head>
<body>
  <header>
    <div class="whypoll-pet-nav">
      <a href="http://www.whypoll.org"><img src="/assets/whypoll/whypoll-little-logo.png" id="whypoll-home-link"></a>
      <ul>
          <li><span>E-Petitions:</span></li><li><a
          href="/">Home</a></li><li><a
          href="/new">Create</a></li><li><a
          href="/list">View</a></li><li><a
          href="/steps">Help</a></li><li><a
          href="/terms">Policy</a></li>
      </ul>
    </div>
  </header>
  <div class="whypoll-content">
    <h2 class="title">
      PARAM_H1
    </h2>
  <!-- end of petitions head -->
