div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

#defaultcontent p {
    margin: 1em 0;
}

#defaultcontent #headingtext {
    /* re-iterate this because Runnymede's stylesheet overrides it */
    margin: auto;
    height: 100%;
}

#defaultcontent p.petition_view_tabs {
    border-bottom: solid 2px #003366;
    /* re-iterate this because Runnymede's stylesheet overrides it */
    padding: 1em 0 0.5em;
    margin: 0;
}
.petition_view_tabs span {
    background-color: #003366;
}

div#most_recent ul, div#most_popular ul {
    font-size: 13px; /* matching rest of site */
    padding-left: 0.75em;
}

div#most_recent ul li, div#most_popular ul li {
    padding: 2px;
}

div#signFormRight span.address-type-choices {
    display: block;
    margin: 0.5em 0;
}

fieldset {
    border: 0;
}
