div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #0099cc;
}
.petition_view_tabs span {
    background-color: #0099cc;
}

div#most_recent ul, div#most_popular ul {
    font-size: 13px; /* matching rest of site */
    padding-left: 0.75em;
}

div#most_recent ul li, div#most_popular ul li {
    padding: 2px;
}

