<!-- start of foot -->
        </div>
      </div>
    </section>

    <div class="row-fluid" id="A_to_Z">
      <div class="span11">
        <h3>A to Z of pages</h3>
        <div>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=A">A</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=B">B</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=C">C</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=D">D</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=E">E</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=F">F</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=G">G</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=H">H</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=I">I</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=J">J</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=K">K</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=L">L</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=M">M</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=N">N</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=O">O</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=P">P</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=Q">Q</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=R">R</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=S">S</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=T">T</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=U">U</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=V">V</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=W">W</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=X">X</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=Y">Y</a>
          <a href="http://www.ashfield-dc.gov.uk/Search.aspx?letter=Z">Z</a>
        </div>
      </div>
      <div class="span1">
          <a class="rightImg" href="https://www.facebook.com/pages/Ashfield-District-Council/151965718172261" target="_blank"><img  src="http://www.ashfield-dc.gov.uk/media/images/facebook-logo.png" alt="Facebook logo"/></a>
          <a class="rightImg" href="http://twitter.com/ADCAshfield" target="_blank"><img  src="http://www.ashfield-dc.gov.uk/media/images/twitter-logo.png" alt="Twitter logo"/></a>
      </div>
    </div>

    <footer class="hero-footer">
      <div class="row-fluid">
          <div class="span3"><p><strong>Ashfield District Council</strong><br />Urban Road<br />Kirkby-in-Ashfield<br />Nottingham<br />NG17 8DA<br /><br />Mon - Thurs: 8.30am to 5.00pm<br />Friday: 8.30am to 4.30pm<br /><br />Tel:  01623 450000<br />Fax: 01623 457585<br />Email: info@ashfield-dc.gov.uk<br />Typetalk: 18001 01623 450 000</p></div>

          <div class="span3"><p>For contact details and opening times of all our other premises, please see our <a href="http://www.ashfield-dc.gov.uk/contact.aspx" title="Contact"><strong>Contact Us</strong></a> page</p><p> </p>
          <p> </p>
          <p>To make payments please use our <a href="http://www.ashfield-dc.gov.uk/residents/revenues-and-support/online-payments.aspx" title="Online Payments"><strong>online payment</strong></a> service</p>
          <p>Alternatively call our 24 hour telephone payment line <strong>08453 726173</strong></p></div>

          <div class="span3">
              <ul>
                  <li class="selected">
                      <a href="http://www.ashfield-dc.gov.uk/residents.aspx">Residents</a>
                  </li>
                  <li>
                      <a href="http://www.ashfield-dc.gov.uk/business.aspx">Business</a>
                  </li>
                  <li>
                      <a href="http://www.ashfield-dc.gov.uk/about-ashfield.aspx">About Ashfield</a>
                  </li>
                  <li>
                      <a href="http://www.ashfield-dc.gov.uk/job-and-careers.aspx">Job and careers</a>
                  </li>
                  <li>
                      <a href="http://www.ashfield-dc.gov.uk/contact.aspx">Contact</a>
                  </li>
              </ul>


              <ul>
                  <li>
                      <a href="http://www.ashfield-dc.gov.uk/site-info/disclaimer-and-privacy-statement.aspx">Disclaimer and privacy statement</a>
                  </li>
                  <li>
                      <a href="http://www.ashfield-dc.gov.uk/site-info/accessibility.aspx">Accessibility</a>
                  </li>
                  <li>
                      <a href="http://www.ashfield-dc.gov.uk/site-info/copyright.aspx">Copyright</a>
                  </li>
                  <li>
                      <a href="http://www.ashfield-dc.gov.uk/site-info/sitemap.aspx">Sitemap</a>
                  </li>
              </ul>

          </div>
          <div class="span3">
                  <div id="google_translate_element"></div>
                      <script type="text/javascript"> function googleTranslateElementInit() {
                      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element'); } </script>
                      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                  </div>
          <div class="span3">
              <div class="uTwit tweets">

                  <h3><a href="https://twitter.com/ADCAshfield">Latest From Twitter <em>@ADCAshfield</em></a></h3>

                  <div class="tweet">
                      <a href="https://twitter.com/ADCAshfield/status/538012133423083520" class="timestamp">27 Nov</a>
                      <p class="text">ADC's Environmental Services achieved 5 star status from the Chartered Institute of Wastes Management (CIWM) at the Clean Britain Awards!<p>
                  </div>
                  <div class="tweet">
                      <a href="https://twitter.com/ADCAshfield/status/536820983488061440" class="timestamp">24 Nov</a>
                      <p class="text">Have your say in the Sutton Town Centre Regeneration Survey including proposals to move the outdoor market: <a href="https://t.co/x0O4JDqLwD">surveymonkey.com/s/suttontownce…</a><p>
                  </div>
                  <div class="tweet">
                      <a href="https://twitter.com/ADCAshfield/status/535437057305608192" class="timestamp">20 Nov</a>
                      <p class="text">Ashfield District Council is giving free parking on Sat 6th Dec at all Council car parks - why not get out and do some Christmas Shopping.<p>
                  </div>
              </div>
          </div>
      </div>

      <div class="row-fluid">

        <p class="copyright">
          <span class="fl innerContainer">&copy;Ashfield District Council 2012 <i> - </i> 2014</span>
          <span class="textrt fr innerContainer">
            <a href="http://icecreates.com" target="_blank">created by ICE Creates 2013</a>
          </span>
        </p>
      </div>
    </footer><!--hero-footer-->
    <p class="backToTop"><a href="#top">Back to top</a></p>
  </div><!--container-fluid-->

  <!--  ==================== javascript ========================= -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!--<script src="http://www.ashfield-dc.gov.uk/Scripts/jquery.js" type="text/javascript"></script>-->
  <script src="http://www.ashfield-dc.gov.uk/Scripts/jquery.iframe-auto-height.js"></script>
  <script src="http://www.ashfield-dc.gov.uk/Scripts/site.js" type="text/javascript"></script>
  <script src="http://www.ashfield-dc.gov.uk/Scripts/bootstrap-button.js" type="text/javascript"></script>
  <script src="http://www.ashfield-dc.gov.uk/Scripts/bootstrap-collapse.js" type="text/javascript"></script>
  <script src="http://www.ashfield-dc.gov.uk/Scripts/bootstrap-modal.js" type="text/javascript"></script>

  <script src="http://www.ashfield-dc.gov.uk/Scripts/bootstrap-scrollspy.js" type="text/javascript"></script>
  <script src="http://www.ashfield-dc.gov.uk/Scripts/bootstrap-tab.js" type="text/javascript"></script>
  <script src="http://www.ashfield-dc.gov.uk/Scripts/bootstrap-transition.js" type="text/javascript"></script>
  <script src="http://www.ashfield-dc.gov.uk/Scripts/bootstrap-typeahead.js" type="text/javascript"></script>
</body>
</html>