<!DOCTYPE html>
<html lang="en-gb">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="http://www.ashfield-dc.gov.uk/less/bootstrap.less" />
  <link rel="stylesheet" type="text/css" href="http://www.ashfield-dc.gov.uk/less/responsive.less" />
  <link rel="stylesheet" type="text/css" href="http://www.ashfield-dc.gov.uk/css/slides.css" />
  <link rel="stylesheet" type="text/css" href="http://www.ashfield-dc.gov.uk/less/style.less" />

  PARAM_RSS_LINKS
  PARAM_EXTRA

  <!--  ==================== javascript library for slider ========================= -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://www.ashfield-dc.gov.uk/Scripts/jquery.slides.js"></script>
  <script>
      var cookie_optin_name = "_cookie_optin_name";
      var cookie_optin_message = "We require the use of cookies. ";
      var cookie_optin_more_info_url = "http://www.ashfield-dc.gov.uk/site-info/disclaimer-and-privacy-statement.aspx";
      var cookie_optin_more_info_text = "More information";
      var cookie_optin_accept_button_text = "accept";
      var cookie_optin_close_button_text = "x";
      var cookie_template = "{message}{link} {accept}{close}";
      var cookie_optin_body_css_name = cookie_optin_name;
      var cookie_optin_mode = 'implicit';
      var _gaq = _gaq || [];//required to make GA auto inject, if you don't want to use google analytics then skip this

      _gaq.push(['_setAccount', 'UA-XXXXXXX-X']);
      _gaq.push(['_trackPageview']);
  </script>
  <script src="http://ice-creates.github.com/CookieOptIn/v/Current.min.js"></script>

  <title>PARAM_TITLE - Ashfield District Council</title>

  <!--[if IE 6]>
  <link rel="stylesheet" type="text/css" href="http://www.ashfield-dc.gov.uk/Content/css/ie6.css" />
  <![endif]-->

    <!--[if gt IE 6]>
  <link rel="stylesheet" type="text/css" href="http://www.ashfield-dc.gov.uk/css/ie7-and-up.css" />
    <![endif]-->

  <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="http://www.ashfield-dc.gov.uk/Content/css/ie.css" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://www.ashfield-dc.gov.uk/Scripts/selectivizr-min.js"></script>
  <![endif]-->

  <link href="/pet.css" rel="stylesheet" type="text/css" />
  <link href="/assets/ashfield-dc/css.css" type="text/css" rel="stylesheet" />

</head>

<body class="no_js">
  <div class="container" id="top">

    <header>
      <div class="row-fluid">
        <div class="span3">
          <h1><a href="http://www.ashfield-dc.gov.uk" class="site_logo"><img src="http://www.ashfield-dc.gov.uk/media/images/Ashfield-logo.png" alt="Ashfield District Council" /></a></h1>
        </div>

        <div class="span9">
          <div>

            <nav class="accessibility">
              <ul>
                    <li style="width: 20px;"><a href="#A_to_Z">A-Z</a></li>
                <li style="width: 50px;"><a href="http://www.ashfield-dc.gov.uk/site-info/accessibility.aspx">accessibility</a></li>
                <li style="width: 40px;"><a href="http://www.ashfield-dc.gov.uk/site-info/disclaimer-and-privacy-statement.aspx">privacy</a></li>
                <li style="width: 40px;"><a href="http://www.ashfield-dc.gov.uk/sitemap.aspx">sitemap</a></li>
                <li style="width: 50px;">
                  <div>
                    <script type="text/javascript">var _baLocale = 'uk', _baUseCookies = true, _baHiddenMode = false, _baHideOnLoad = true;</script>
                    <script type="text/javascript" src="//www.browsealoud.com/plus/scripts/ba.js"></script>
                  </div>
                </li>
              </ul>
            </nav>

            <div class="search">
              <label for="topSearch"><span>Search: </span></label>
              <form action="/search.aspx" method="get">
                <div>
                  <input type="text" name="search" id="search_query" placeholder="Search" class="searchBox" style="border: background: url(&quot;http://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif&quot;) no-repeat scroll left center rgb(255, 255, 255);">
                  <input type="submit" id="submit_button" value="GO" name="sa"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">



          <nav>
            <ul id="main_nav">
                   <li class="residents">

                    <a href="http://www.ashfield-dc.gov.uk/residents.aspx">Residents</a>


                  <ul class="dropdown">
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/residents/waste-and-environment.aspx">Waste and Environment</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/residents/democracy,-elections-and-legal.aspx">Democracy, Elections and Legal</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/residents/planning,-property-and-housing.aspx">Planning, Property and Housing</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/residents/community,-living-and-leisure.aspx">Community, Living and Leisure</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/residents/safety-and-enforcement.aspx">Safety and Enforcement</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/residents/revenues-and-support.aspx">Revenues and Support</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/residents/sustainability.aspx">Sustainability</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/residents/environmental-health.aspx">Environmental Health</a>
                        </li>
                  </ul>
               </li>
                   <li class="business">

                    <a href="http://www.ashfield-dc.gov.uk/business.aspx">Business</a>


                  <ul class="dropdown">
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/business/business-and-street-trading-licences.aspx">Business and street trading licences</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/business/national-non-domestic-rates.aspx">National Non Domestic Rates</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/business/estates-management.aspx">Estates Management</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/business/health-and-safety-at-work.aspx">Health and safety at work</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/business/regeneration.aspx">Regeneration</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/business/environmental-health.aspx">Environmental Health</a>
                        </li>
                  </ul>
               </li>
                   <li class="about ashfield">

                    <a href="http://www.ashfield-dc.gov.uk/about-ashfield.aspx">About Ashfield</a>


                  <ul class="dropdown">
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/about-ashfield/the-district-in-context.aspx">The District in context</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/about-ashfield/the-organisation.aspx">The Organisation</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/about-ashfield/working-together-in-partnership.aspx">Working together in partnership</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/about-ashfield/spending.aspx"> Spending</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/about-ashfield/media-centre.aspx">Media centre</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/about-ashfield/parking-in-ashfield.aspx">Parking in Ashfield</a>
                        </li>
                  </ul>
               </li>
                   <li class="job and careers">

                    <a href="http://www.ashfield-dc.gov.uk/job-and-careers.aspx">Jobs and careers</a>


                  <ul class="dropdown">
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/job-and-careers/current-vacancies.aspx">Current vacancies</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/job-and-careers/jobcentres-in-ashfield.aspx">Jobcentres in Ashfield</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/job-and-careers/2014-pay-policy-statement.aspx">2014 Pay Policy Statement</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/job-and-careers/njc-pay-scales.aspx">NJC pay scales</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/job-and-careers/recruitment-and-selection-policy.aspx">Recruitment and Selection Policy</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/job-and-careers/volunteering-opportunities.aspx">Volunteering Opportunities</a>
                        </li>
                  </ul>
               </li>
                   <li class="contact">

                    <a href="http://www.ashfield-dc.gov.uk/contact.aspx">Contact us</a>


                  <ul class="dropdown">
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/contact/corporate-communications.aspx">Corporate Communications</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/contact/district-councillors.aspx">District Councillors</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/contact/environment.aspx">Environment</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/contact/estate-management.aspx">Estate Management</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/contact/food-safety-team.aspx">Food Safety Team</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/contact/forward-plans.aspx">Forward Plans</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/contact/licensing.aspx">Licensing</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/contact/local-land-charges.aspx">Local Land Charges</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/contact/planning.aspx">Planning</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/contact/revenues.aspx">Revenues</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/contact/right-to-buy.aspx">Right to Buy</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/contact/waste-services.aspx">Waste Services</a>
                        </li>
                        <li >

                                <a href="http://www.ashfield-dc.gov.uk/contact/your-comments.aspx">Your comments</a>
                        </li>
                  </ul>
               </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <section id="main_content" class="wrapper">
      <div class="row-fluid">
        <div class="span12">
          <nav>
            <ul id="breadcrumbs">
              <li>You are here: </li>
              <li><a href="http://www.ashfield-dc.gov.uk">Home</a></li>
              <li><a href="http://www.ashfield-dc.gov.uk/residents.aspx">Residents</a></li>
              <li><a href="http://www.ashfield-dc.gov.uk/residents/democracy,-elections-and-legal.aspx">Democracy, Elections and Legal</a></li>
              <li>PARAM_H1</li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <img src="http://www.ashfield-dc.gov.uk/media/449905/new_banner_2.jpg" alt="Default category banner" />
          <h2>PARAM_H1</h2>

<!-- end of head -->
