/* note: FIXME:: looks like deployed resources will be on /media/rushcliffe/styleassets/images/ */

/* faked extra wide container (no right-hand column): based on mainContent3col */
#mysoc_mainContent5col {
      width: 676px; /* 458px (3 cols) + 218px (width of 2-col right-hand sidebar) */
      float: left;
      padding: 10px;
      word-wrap:break-word;
}

#mysoc_mainContent5col dt { /* FAQs */
 font-weight: bold; 
}
#mysoc_mainContent5col dd { /* FAQs */
  margin-left: 2em;
}

div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #004879;
    line-height: 1em;
    padding-bottom: 10px;
}

.petition_view_tabs span {
    background-color: #004879;
    padding-bottom: 10px;
}

h3 {
  margin: 0.333em 0 ;
}

div#petition_actions {
    margin-bottom: 1em;
}

p.petition_view_tabs {
    margin-bottom: 1em;
}

#action_create a, #action_create a:active {
    background-image: url('petition_button_create.png');
}
#action_view a, #action_view a:active {
    background-image: url('petition_button_view.png');
}
#action_create a, #action_view a, 
#action_create a:active, #action_view a:active  {
    display: block;
    text-align: center;
    padding-top: 76px;
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 90%;
}
div#petition_actions #action_create a:hover, #action_view a:hover {
    background-position: center -300px;
    background-color: #ffffff;
    text-decoration: underline;
    border: none;
}


#action_create a img,  #action_view a img {
    display: none;
}

h1 {
    margin-bottom: 1em;
}

#breadcrumb{
    display: block;
}
#leftspace, #rightspace {
    width: 20px;
}

#most_popular ul, #most_recent ul {
  list-style: none;
	padding-left: 0em;
	margin-left: 0;
}
#most_popular ul li, #most_recent ul li {
    padding: 4px;
}


