<!-- content ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


      </div>
      <p></p>             
                           
      <!-- Feedback Form Start -->
      <!--
      <h3 class="headerBackgroundFF">Rate this page</h3>
      <div id="feedbackForm">
        <div id="question">How do you rate this information / service?</div>
        <div id="thumbUp"><img src="/assets/rushcliffe/external/media/rushcliffe/GREENthumb.jpg" alt="This page is okay" title="This page is okay" border="0" height="55px" width="50px"></div>
        <div id="thumbDown"><img src="/assets/rushcliffe/external/media/rushcliffe/REDthumb.jpg" alt="This page needs improving" title="This page needs improving" border="0" height="55px" width="50px"></div>
        <div id="form">
          <form action="http://www.rushcliffe.gov.uk/petitions/" method="POST" enctype="multipart/form-data"><input name="sid" value="1911" type="hidden">
            <input name="tid" value="98" type="hidden">
            <input name="t4_content_element_Name" value="Feedback (2011-09-15 10:31:48)" type="hidden">
            <input name="status" value="0" type="hidden"><input name="redirect" value="/thankyou/feedback/" type="hidden">
            <input name="channel" value="6" type="hidden">
            <input name="el-name-prefix" value="t4_content_element_" type="hidden">
            <label>Name:</label><input name="t4_content_element_SubmittedName" size="20" maxlength="80" id="t4_content_element_SubmittedName" type="text"><br>
            <label>Email:</label><input name="t4_content_element_Email" size="20" maxlength="80" id="t4_content_element_Email" type="text"><br>
            <label>*Comment:</label><textarea name="t4_content_element_Comment" id="t4_content_element_Comment" cols="40" rows="5"></textarea><br>
            <input name="t4_content_element_rating" value="" type="hidden">
            <input name="t4_content_element_sid" value="1152" type="hidden">
            <input name="t4_content_element_url" value="http://www.rushcliffe.gov.uk/petitions/" type="hidden">
            <input name="t4_content_element_datetime" value="2011-09-15 10:31:48" type="hidden">
            <input name="s" value="1" type="hidden">
            <input value="Submit Feedback" id="button" type="submit">
          </form>
        </div>
      </div>
      -->
      <!-- Feedback Form End -->
    </div>
    <!--
    <div id="sidebarRight3col" class="bordered">
      <a name="d.en.4349"></a>
      <div class="sidebarContent">
        <span class="floatLeft"><img src="/assets/rushcliffe/external/media/rushcliffe/RBConlineIcon.jpg" alt="Do it online" style="width: 26px; height: 26px;"></span>
        <h3 class="headerBackground">Do It Online</h3>
        <div class="sidebarHTML">
          <ul>
            <li><a href="http://petitions.rushcliffe.gov.uk/" title="E-petitions" onclick="recordOutboundLink(this, 'Outbound Links', 'E-petitions system');return false;">Create an e-petition</a>&nbsp;</li>
            <li><a href="http://petitions.rushcliffe.gov.uk/" title="E-petitions" onclick="recordOutboundLink(this, 'Outbound Links', 'E-petitions system');return false;">Sign an e-petition</a> &nbsp;</li>
          </ul>
        </div>
      </div>
    </div>
    -->
    <div class="clearing"></div>
			</div> <!-- End of contentContainer div -->
			<div id="footer">
				<div id="footerLinks">
<!-- navigation object : Footer Social Icons --><div id="socialMediaLinks" class="bordered">
  <a href="http://www.facebook.com/rushcliffe"><img alt="Link: to the Rushcliffe Facebook page" title="Link: to the Rushcliffe Facebook page" src="http://www.rushcliffe.gov.uk/media/rushcliffe/styleassets/images/facebookIcon.jpg"></a>
  <a href="https://twitter.com/Rushcliffe"><img alt="Link: to the Rushcliffe Twitter page" title="Link: to the Rushcliffe Twitter page" src="http://www.rushcliffe.gov.uk/media/rushcliffe/styleassets/images/twitterIcon.jpg"></a>
  <a href="http://www.youtube.com/user/RushcliffeBC"><img alt="Link: to the Rushcliffe YouTube channel" title="Link: to the Rushcliffe YouTube channel" src="http://www.rushcliffe.gov.uk/media/rushcliffe/styleassets/images/youtubeIcon.jpg"></a>
  <a href="http://www.flickr.com/photos/rushcliffe/sets/"><img alt="Link: to the Rushcliffe Flickr page" title="Link: to the Rushcliffe Flickr page" src="http://www.rushcliffe.gov.uk/media/rushcliffe/styleassets/images/flickrIcon.jpg"></a>
  <a href="#"><img alt="rss icon Text and hover to do" src="http://www.rushcliffe.gov.uk/media/rushcliffe/styleassets/images/rssIcon.jpg"></a>
</div>

<!-- navigation object : Footer Details --><div id="footerContactDetails" class="bordered">
						<img src="http://www.rushcliffe.gov.uk/media/rushcliffe/styleassets/images/footerMap.jpg">
						<ul>
							<li id="footerTel">
								<label for="telephone">Telephone Number</label>
								0115 981 9911
							</li>
							<li id="footerEmail">
								<label for="email">Email Address</label>
								<a href="mailto:customerservices@rushcliffe.gov.uk" title="Send an email to Rushcliffe Borough Council">customerservices@rushcliffe.gov.uk</a>
							</li>
						</ul>
					</div>

<!-- navigation object : Footer Links --><a name="d.en.2174"></a>

<p></p>
<p></p><div class="bordered" id="footerNavigation">
<ul>
<li class="first">Copyright © 2011</li>
<li><a href="http://www.rushcliffe.gov.uk/privacy/">Privacy Policy</a></li>
<li><a href="http://www.rushcliffe.gov.uk/disclaimer/">Disclaimer</a></li>
<li><a href="http://www.rushcliffe.gov.uk/sitemap/">Sitemap</a></li>
<li><a href="http://www.rushcliffe.gov.uk/accessibility/">Accessibility</a></li>
</ul>
</div><p></p>
				</div>
				<div class="clearing"></div>
				<div id="footerTagline"></div>
			</div>
		</div>
	
</body></html>