<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="en" lang="en">
<head>
	<title>PARAM_TITLE - Rushcliffe Borough Council</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="DC.coverage.spatial" content="Rushcliffe" />
<meta name="DC.Format" content="HTML" />
<meta name="DC.language" content="English" />
<meta name="eGMS.accessibility" content="ICRA, WAI AA" />
<meta name="DC.creator" content="PARAM_CREATOR" />
<meta name="Keywords" content="online petitions, petition, e-petition" />
<meta name="DC.publisher" content="Rushcliffe Borough Council, Civic Centre, Pavilion Road, West Bridgford, Nottingham, NG2 5FE, UK. Email customerservices@rushcliffe.gov.uk" />
<meta name="DC.rights" content="Rushcliffe Borough Council" />
<meta name="DC.identifier" content="PARAM_DC_IDENTIFIER" />
<meta name="eGMS.subject.category" scheme="GCL" content="Government, politics and public administration" />

	<meta name='pics-label' content='(pics-1.1 "http://www.icra.org/ratingsv02.html" l r (cz 1 lz 1 nz 1 oz 1 vz 1))' />
	
<script type="text/javascript">
<!--
var brow=navigator.appName;
if (brow=="Netscape")
	brow="NN";
else brow="IE";
var agent=navigator.userAgent;
if (agent.indexOf("Opera")!=-1)
	brow="Opera";
var ver=parseInt(navigator.appVersion);
if (brow=="IE")
	ver=parseInt(agent.substring(agent.indexOf("MSIE")+4, agent.indexOf("MSIE")+8));
if (brow=="Opera" || ver>4){
	document.writeln('<li'+'nk rel="stylesheet" type="text/css" media="screen" href="http://www.rushcliffe.gov.uk/stylemain.asp" />');
}

function fontsizer(s) {
	document.getElementById('c1').style.fontSize=s+"em";

	if (document.getElementById && ! document.all) {
		document.getElementById('container2').className="size"+s;
		document.getElementById('container3').className="size"+s;
	}
	savefontprefs(s);
}

function savefontprefs(s){
	expireDate = new Date();
	expireDate.setFullYear(expireDate.getFullYear()+2);
	var cookieString = "";
	cookieString += s;
	document.cookie ="sizeprefs="+escape(cookieString)+"; expires="+expireDate.toGMTString();
}

function loadfontprefs(){
	if (document.cookie && document.cookie.indexOf("sizeprefs")!=-1){
		sizeCookie = unescape(document.cookie).substring(document.cookie.indexOf("sizeprefs")+10);
		fontsizer(sizeCookie);
	}
}

function clearInput(box,text){
if (box.value==text)
	 box.value="";
}
//-->
</script>
	<link rel="stylesheet" media="print" href="http://www.rushcliffe.gov.uk/mainprint.css" />
	
	<link href="/pet.css" rel="stylesheet" type="text/css" />
    <link href="/assets/rushcliffe/css.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="hide">
  Skip to [<a href="#mainnav">main navigation</a> | 
  <a href="#socondnav">secondary  navigation</a> |<a href="#content"> content</a>]
</div>

<div id="topnav">
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=1398">Contact Us</a><span> | </span><a href="http://www.rushcliffe.gov.uk/az.asp?cat=35">A to Z</a><span> | </span><a href="http://www.rushcliffe.gov.uk/doc.asp?cat=8264">Help</a><span> | </span><a href="http://www.rushcliffe.gov.uk/sitemap.asp?cat=36">Site Map</a><span> | </span><a href="http://www.rushcliffe.gov.uk/doc.asp?cat=1397">Home</a><span> | </span>
</div>
<table id="mastcontainer" border="0" cellspacing="0" cellpadding="0" summary="Table containing logo and mast pictures">
   <tr>
     
	 <td><div id="logo"><a href="http://www.rushcliffe.gov.uk"><img src="http://www.rushcliffe.gov.uk//upload/public/docimages/Image/g/i/o/MJwinner&LGC_masthead.gif" width="400" height="72" alt="Rushcliffe Borough Council: LGC Award 2009 winner and MJ Award 2009 Finalist." border="0" /></a></div></td><td> <div id="mastpic"><img src="http://www.rushcliffe.gov.uk//upload/public/docimages/Image/b/c/i/header_spring_flowers.jpg" width="297" height="72" alt="Photo of flowers, grass, and leaves." border="0" /></div></td>		

</tr>
</table>
<div id="mastblue"></div>

<table cellspacing="0" cellpadding="0" id="maintable" summary="Table containing second level navigation, main content and third column information">
  <tr valign="top">
    <td id="leftcolumn" valign="top">

    <a name="mainnav"></a>
	<!-- print navigation on one line with non-breaking spaces in spaces in words AND one normal space after the category name-->
<div id="leftnavcontainer">
<div class="hide">Skip to [<a href="#mainskipend">end of main navigation</a>]</div>
<a href="http://www.rushcliffe.gov.uk/index.asp?cat=6" class="leftnav" >Home</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=1571" class="leftnav" >Democracy and Elections</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=8724" class="leftnav" >Agendas and Minutes</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=105" class="leftnav" >News and Publications</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=115" class="leftnav" >About Rushcliffe</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=101" class="leftnav" >Arts and Events</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=10551" class="leftnav" >Community</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=120" class="leftnav" >Community Safety and Advice</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=1606" class="leftnav" >Council Tax and Benefit</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=155" class="leftnav" >Environment and Health</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=1558" class="leftnav" >Forms, Payments and Licensing</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=204" class="leftnav" >Housing</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=208" class="leftnav" >Job Vacancies</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=553" class="leftnav" >Planning and Building</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=11101" class="leftnav" >Recycling and Refuse Collection</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=104" class="leftnav" >Sports and Leisure</a><span class="hide">|</span>
<a href="http://www.rushcliffe.gov.uk/doc.asp?cat=604" class="leftnav" >Streetwise, Travel and Parking</a><span class="hide">|</span>

</div>

	<a name="mainskipend"></a>
		  <!-- Poll Notes -->
  <!-- Width of graphics should be 0.7 times the percentage -->
  <!-- Print percentage value in alt tag of graphic -->
  <!-- include unique id's for labels and form elements -->
<div class="promoleft">
<p><a href="http://www.thebigpicture-rushcliffe.com"><img src="http://www.rushcliffe.gov.uk//upload/public/docimages/Image/r/t/y/Big_picture_launch_web_ad.gif" width="143" height="325" alt="What's the Big Picture? Have your say in the Future of Rushcliffe." border="0" /></a></p><p><a href="http://www.rushcliffe.gov.uk/doc.asp?cat=1610"><img src="http://www.rushcliffe.gov.uk//upload/public/docimages/Image/q/s/y/Business_rates_web_ad_web.gif" width="144" height="290" alt="Find out more about business rates." border="0" /></a></p>
</div>
	  </td>
    <td id="leftgutter">&nbsp; </td>
    <td id="middlecolumn" valign="top">
	<div id="crumbcontainer">
	<a name="content"></a> 
	<span class="crumb">Current Location: | <a href="/">E-petitions</a> | PARAM_H1
	</span>
</div>
    <h1 class="docpagemast">PARAM_H1</h1>

    <table id="docpagepanel">
	 <tr>
	  <td>
       <!--<div class="catsummary"></div><div class="cattext"></div>-->
       <!-- end of head -->
       <div class="cattext">