<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>PARAM_TITLE</title>
  <link href="https://s106.hounslow.gov.uk/css/s106interface.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/pet.css" />
  <link rel="stylesheet" type="text/css" href="/assets/hounslow/css.css" />
  PARAM_RSS_LINKS
  PARAM_EXTRA
</head>
<body PARAM_BODYID>
  <table width="100%" border="0" class="mainTable">
    <tr>
      <td valign="top">
        <div id="page">
          <div id="masthead">
            <!-- common  navigation -->
            <div id="navigation">
              <div class="rightheader">
                <ul class="ul_line">
                  
                  <li class="line_last"><a href="/" title="e-petitions">e-Petitions</a></li>
                  <li class="line_last"><a href="/new" title="create petition">create petition</a></li>
                  <li class="line_last"><a href="/list" title="create petition">view petitions</a></li>
                  <li class="line_last"><a href="/terms" title="create petition">terms &amp; conditions</a></li>
                  
                </ul>
              </div>
            </div>
            <!-- common hounslow Logo -->
            <div id="topimage">
              <div class="topleft">
                <h1><a href="https://www.hounslow.gov.uk/"><img src="/assets/hounslow/header1.gif" alt="Home" /></a></h1>
              </div>
            </div>
          </div>
          <div id="breadcrumb">
            You are in: <a title="Link to index.htm" href="https://www.hounslow.gov.uk/">Home</a> 
            &gt;&gt; 
            <a title="e-Petitions" href="/">e-Petitions</a> 
            &gt;&gt; 
            <span id="breadcrumb_selected_item">PARAM_TITLE</span>
          </div>
          <div id="agreements_text">
            <span id="Header1_lblHeader" class="headerLabel">PARAM_H1</span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <div class="mysoc-content">
        <!-- end of head -->
