<img src="http://www.number10.gov.uk/files/images/clear.gif" width="1" height="1" alt="" class="emptyGif" />
</div>
</div>
<div id="rel_links">

<div class="primeminister submenu">
<h2><span class="ltr">E-Petitions</span></h2>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/list">View petitions</a></li>
<li><a href="/new">Create a petition</a></li>
<li><a href="/about">About e-petitions</a></li>
<li><a href="/steps">Step-by-Step Guide</a></li>
<li><a href="/faq"><acronym title="Frequently Asked Questions">FAQs</acronym></a></li>
<li><a href="/terms">Terms and Conditions</a></li>
<li><a href="/privacy">Privacy Policy</a></li>
</ul>
</div>

</div>
</div>
<div id="ilinks">

<h3 id="beta">BETA TEST</h3>

<p>The petitions system is currently in a public beta test. This means
that users are welcome to sign and create petitions, but we will be changing
the site frequently over the next few weeks in response to feedback.
If you'd like to tell us any improvements we could make to the functioning
of the petitions system, please contact 
<a href="mailto:team&#64;mysociety.org">team&#64;mysociety.org</a>.</p>

<p><strong>Update from No10, 16/11/2006:</strong>
There has been a huge response to this new service, with nearly 500
petitions submitted in the first couple of days. As our terms and
conditions explain, we are obliged to check them all before they can
be published on this site. This is to ensure that, for example, they
are not party political, obscene or libellous, as these are prohibited
by the law and the Civil Service Code. So far, we are finding that the
great majority of petitions can be published without any problem, and
more are being added to the site continually. However, we have been
obliged to send back to users a few for reasons explained in our
rejections section. Organisers then get a second chance to modify their
petition to fit it within the rules. We are also considering a number
pf petitions which raise legal questions or other issues (everything
from apparent false names and addresses, to apparent libel, to product
placement, to requests for money). Obviously, these will take more
time to vet, but we still aim to respond to all petition organisers
within 5 working days.
</p>

<img src="http://www.number10.gov.uk/files/images/clear.gif" width="1" height="1" alt="" class="emptyGif" />
</div>
<div id="footer">
<div><p>|
	<a href="http://www.number10.gov.uk/output/Page49.asp">copyright</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page7035.asp">freedom of information</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page50.asp">feedback</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page52.asp">privacy policy</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page53.asp">search</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page54.asp">sitemap</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page4049.asp">accessibility</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page6508.asp">rss and podcasts</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page9899.asp">directgov</a>&nbsp;|&nbsp;</p></div>
</div>
PARAM_SITE_STATS
</body>
</html>
