<img src="http://www.pm.gov.uk/files/images/clear.gif" width="1" height="1" alt="" class="emptyGif" />
</div>
</div>
<div id="rel_links">

<div class="primeminister submenu">
<h2><span class="ltr">E-Petitions</span></h2>
<ul>
<li><a href="/">Petitions home</a></li>
<li><a href="/list">View petitions</a></li>
<li><a href="/new">Create a petition</a></li>
<li><a href="/about">About e-petitions</a></li>
<li><a href="/steps">Step-by-Step Guide</a></li>
<li><a href="/faq"><acronym title="Frequently Asked Questions">FAQs</acronym></a></li>
<li><a href="/terms">Terms and Conditions</a></li>
<li><a href="/privacy">Privacy Policy</a></li>
</ul>
</div>

</div>
</div>
<div id="ilinks">

<h3 id="beta">BETA TEST</h3>

<p>
The e-petitions system launched in November 2006. It is currently
in a public "beta test". This means that users are welcome to sign
and create petitions, but we will be making changes to the site,
as we fix technical problems, improve usability and respond to
feedback.
</p>

<p><a href="http://www.pm.gov.uk/output/Page11051.asp">E-petitions:
Facts, figures and progress</a></p>

<img src="http://www.pm.gov.uk/files/images/clear.gif" width="1" height="1" alt="" class="emptyGif" />
</div>
<div id="footer">
<div><p>|
	<a href="http://www.pm.gov.uk/output/Page49.asp">copyright</a>&nbsp;|&nbsp;<a href="http://www.pm.gov.uk/output/Page7035.asp">freedom of information</a>&nbsp;|&nbsp;<a href="http://www.pm.gov.uk/output/Page50.asp">feedback</a>&nbsp;|&nbsp;<a href="http://www.pm.gov.uk/output/Page52.asp">privacy policy</a>&nbsp;|&nbsp;<a href="http://www.pm.gov.uk/output/Page53.asp">search</a>&nbsp;|&nbsp;<a href="http://www.pm.gov.uk/output/Page54.asp">sitemap</a>&nbsp;|&nbsp;<a href="http://www.pm.gov.uk/output/Page4049.asp">accessibility</a>&nbsp;|&nbsp;<a href="http://www.pm.gov.uk/output/Page6508.asp">rss and podcasts</a>&nbsp;|&nbsp;<a href="http://www.pm.gov.uk/output/Page9899.asp">directgov</a>&nbsp;|&nbsp;</p></div>
</div>
PARAM_SITE_STATS
</body>
</html>
