<img src="http://www.number10.gov.uk/files/images/clear.gif" width="1" height="1" alt="" class="emptyGif" />
</div>
</div>
<div id="rel_links">

<div class="primeminister submenu">
<h2><span class="ltr">E-Petitions</span></h2>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/list">View petitions</a></li>
<li><a href="/new">Create a petition</a></li>
<li><a href="/about">About e-petitions</a></li>
<li><a href="/steps">Step-by-Step Guide</a></li>
<li><a href="/faq"><acronym title="Frequently Asked Questions">FAQs</acronym></a></li>
<li><a href="/terms">Terms and Conditions</a></li>
<li><a href="/privacy">Privacy Policy</a></li>
</ul>
</div>

</div>
</div>
<div id="ilinks">

<h3 id="beta">BETA TEST</h3>

<p>The petitions system is currently in a public beta test. This means
that users are welcome to sign and create petitions, but we will be changing
the site frequently over the next few weeks in response to feedback.
If you'd like to tell us any improvements we could make to the functioning
of the petitions system, please contact 
<a href="mailto:team&#64;petitions.pm.gov.uk">team&#64;petitions.pm.gov.uk</a>.</p>

<p><strong>Special note for Hotmail users:</strong> Hotmail has been
accidentally blocking a significant proportion of petition signature
confirmation emails sent by this system to people with Hotmail
accounts. We're in touch with Microsoft, trying to resolve this, but
if you have a non-Hotmail address you may wish to use that for the moment.</p>

<p><strong>Update from No10, 21/11/2006:</strong>
The e-petitions beta test phase is
continuing and several improvements have been made to the site
following suggestions from users, such as the addition of a search
facility. A particular issue we are considering is what to do about
petitions which are identical or very similar to petitions already on
the site. So far we have not rejected most very similar petitions, in
order to allow users to express their views in their own words.
However, the increasing number of petitions which are very similar
congests the site and proably dilutes the voice of some petitioners.
We are considering ways to adapt the site to deal with this. Meanwhile
we would encourage users, before creating a new petition, to use the
search box to see if they would like to sign an existing one instead.

</p>

<img src="http://www.number10.gov.uk/files/images/clear.gif" width="1" height="1" alt="" class="emptyGif" />
</div>
<div id="footer">
<div><p>|
	<a href="http://www.number10.gov.uk/output/Page49.asp">copyright</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page7035.asp">freedom of information</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page50.asp">feedback</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page52.asp">privacy policy</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page53.asp">search</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page54.asp">sitemap</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page4049.asp">accessibility</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page6508.asp">rss and podcasts</a>&nbsp;|&nbsp;<a href="http://www.number10.gov.uk/output/Page9899.asp">directgov</a>&nbsp;|&nbsp;</p></div>
</div>
PARAM_SITE_STATS
</body>
</html>
