<script type="text/javascript">
<!--
function sitestat(ns_l){ns_l+='&amp;ns__t='+(new Date()).getTime();ns_pixelUrl=ns_l;ns_0=document.referrer;ns_0=(ns_0.lastIndexOf('/')==ns_0.length-1)?ns_0.substring(ns_0.lastIndexOf('/'),0):ns_0;
if(ns_0.length>0)ns_l+='&amp;ns_referrer='+escape(ns_0);
if(document.images){ns_1=new Image();ns_1.src=ns_l;}else
document.write('<img src="'+ns_l+'" width="1" height="1" alt="">');}
sitestat("http://uk.sitestat.com/primeministersoffice/downingstreet/s?PARAM_STAT_CODE");
//-->
</script>
<noscript>
<img width="1" height="1" alt="" src="http://uk.sitestat.com/primeministersoffice/downingstreet/s?PARAM_STAT_CODE" />
</noscript>
