			</div>
		
		</div>
			</div>

		
<!-- Footer -->
<!-- ISI_STOP -->
<div id="ycfooter">
	<div id="left_footer"><img src="http://www.spelthorne.gov.uk/corner_bl_yc.gif" style="width:10;height:22;" alt=""></div>
	<div id="content_footer">
		<ul class="footer_ul_line">
			<li class="footer_line"><span class="top_nav">&copy;&nbsp;Spelthorne Copyright 2006</span></li>
			<li class="footer_line"><a class="footer ISI_IGNORE" href="privacy_policy.htm" title="link to privacy policy page">Privacy Policy</a></li>
			<li class="footer_line"><a class="footer ISI_IGNORE" href="terms_and_conditions.htm" title="link to terms and conditions page">Terms & Conditions</a></li>
			<li class="footer_line"><a class="footer ISI_IGNORE" href="translate.htm" title="link to translate page">Translate</a></li>
			<li class="footer_line_last"><a class="footer ISI_IGNORE" href="accessibility.htm" title="link to accessibility page">Accessibility</a></li>
		</ul>
	</div>
	<div id="right_footer"><img src="http://www.spelthorne.gov.uk/corner_br_yc.gif" style="width:10;height:22;" alt=""></div>
</div>

</body>		

</html>
