							<!-- start of Spelthorne footer -->
							<div id="contentlinks">
								<ul>
									<li class="even first">
										<a href="javascript:printWindow();">
											<img class="icon" src="https://www.spelthorne.gov.uk/spelthorne/images/print.gif" alt="Print" />
											Print this page
										</a>
									</li>
									<li class="even last">
										<a href="#top">Top of page</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<div id="addressblock">
					<div class="title">
						Spelthorne Borough Council
					</div>
					<div class="bodytext">
						<div>
							Council Offices, Knowle Green, Staines-upon-Thames, TW18 1XB
						</div>
						<div>
							01784 451499
						</div>
						<div>
							<a href="mailto:customer.services@spelthorne.gov.uk">customer.services@spelthorne.gov.uk</a>
						</div>
					</div>
				</div>
				<div id="copyright">
					<div class="footertext">
						&#169; Spelthorne Borough Council 2012
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
