<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>

<title>PARAM_TITLE - Spelthorne Borough Council</title>
<meta name="section" content="yc">
<meta name="area" content="standard">

<link REL='stylesheet' HREF='http://www.spelthorne.gov.uk/css/broswer_sniffer_refresh.css' TYPE='text/css'>
<script type="text/javascript" src="http://www.spelthorne.gov.uk/scripts/shared.js">

document.write("cmoi");
// Calls the browser sniffer script

</script>

<!-- eGMS Metadata -->


<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="pics-label" content='(pics-1.1 "http://www.icra.org/ratingsv02.html" comment "ICRAonline v2.0" l gen true for "http://www.spelthorne.gov.uk" r (nz 1 vz 1 lz 1 oz 1 cb 1) "http://www.rsac.org/ratingsv01.html" l gen true for "http://www.spelthorne.gov.uk" r (n 0 s 0 v 0 l 0))'>
<meta name="DC.Title" content="E-petitions">
<meta name="DC.Identifier" content="PARAM_DC_IDENTIFIER">
<meta name="DC.Description" content="Spelthorne Borough Council - E-petitions ">
<meta name="DC.Creator" content="Spelthorne Borough Council">
<meta name="DC.Date" content="2010-06-04">
<meta name="DC.Date.Issued" content="2003-08-15">
<meta name="DC.Date.Created" content="2010-06-04">
<meta name="DC.Date.Valid" content="2010-06-04/Date is invalid">
<meta name="DC.Date.Modified" content="2010-06-18">
<meta name="eGMS.Disposal.Review" content="2011-06-04">
<meta name="eGMS.Disposal.Action" content="Update">
<meta name="DCTERMS.Audience" content="Public">
<meta name="DC.Coverage" content="Null">
<meta name="DC.Language" content="English">
<meta name="eGMS.Accessibility" content="W3C-WAI-WCAG V1">
<meta name="DC.Format" content="Text/HTML">
<meta name="DC.Publisher" content="Spelthorne Borough Council">
<meta name="DC.Rights.Copyright" content="http://www.spelthorne.gov.uk/disclaimer">
<meta name="eGMS.Subject.Category" scheme="GCL" content="Government, politics and public administration">
<meta name="eGMS.Subject.Category" scheme="LGCL" content="Council, government and democracy">
<meta name="eGMS.Subject.Keyword" scheme="LGCL" content="Council, government and democracy,electronic petitions,petitions,online petitions,epetitions,e-petitions">

<meta name="author" content="Spelthorne Borough Council">
<meta name="keywords" content="Council, government and democracy,electronic petitions,petitions,online petitions,epetitions,e-petitions">
<meta name="description" content="Spelthorne Borough Council - E-petitions ">

<!-- Import extra css -->

<style type="text/css" media="screen">@import "http://www.spelthorne.gov.uk/your_council-ff.css";</style>

<link rel='stylesheet' href='/pet.css' type='text/css'>

<!-- Edit Event Data -->

<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<!-- Google Analytics start -->
<script type="text/javascript">

var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

</script>

<script type="text/javascript">

try {

var pageTracker = _gat._getTracker("UA-9547999-1");

pageTracker._trackPageview();

} catch(err) {}

</script>
<!-- Google Analytics end -->

<!-- Urchin start -->
<script type="text/javascript" src="http://www.spelthorne.gov.uk/__utm.js"></script>
<!-- Urchin end -->
</head>


<body>

<!-- START OF WEBTRENDS LIVE TAG -->
<!-- Copyright 2004 NetIQ Corporation -->
<!--  For privacy concerns, check our Privacy Policy at http://www.webtrendslive.com/wtl_system/privacy_policy.htm -->

<!-- eCommerce Revenue Tracking (patent pending) -->
<!-- For eCommerce implementation, visit the following page: -->
<!-- http://www.webtrendslive.com/wtl_system/support/online_help/open_help.asp?helppage=techsupport_code_ecommerce&amp;redirection=help -->

<script type="text/javascript" src="http://www.spelthorne.gov.uk/webtrends.js"></script>

<NOSCRIPT>
<IMG style="width:1;height:1;" ALT="Webtrends" SRC="http://statse.webtrendslive.com/S152090/button6.asp?tagver=6&amp;si=152090&amp;fw=1&amp;js=No">
</NOSCRIPT>

<!-- END OF WEBTRENDS LIVE TAG -->
<!-- Accessibility Links -->


<!--stopindex-->
	<a accessKey="s" href="http://www.spelthorne.gov.uk/your_council/epetitions.htm#mainnav" class="blind" title="skip through navigation (Access Key = S)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="skip through navigation (Access Key = S )"></a>
	<a accessKey="0" href="http://www.spelthorne.gov.uk/accessibility.htm" class="blind" title="jump to Accessibility Information (Access Key = 0)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Accessibility Information (Access Key = 0 )"></a>
	<a accessKey="1" href="http://www.spelthorne.gov.uk/index.htm" class="blind" title="jump to Home Page (Access Key = 1)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Home Page (Access Key = 1 )"></a>
	<a accessKey="2" href="http://www.spelthorne.gov.uk/general_news.htm" class="blind" title="jump to News (Access Key = 2)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to News (Access Key = 2 )"></a>
	<a accessKey="3" href="http://www.spelthorne.gov.uk/sitemap.htm" class="blind" title="jump to Site Map (Access Key = 3)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Site Map (Access Key = 3 )"></a>
	<a accessKey="4" href="http://www.spelthorne.gov.uk/your_council/epetitions.htm#search" class="blind" title="jump to Search Box (Access Key = 4)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Search Box (Access Key = 4 )"></a>
	<a accessKey="5" href="http://www.spelthorne.gov.uk/how_do_i-2.htm" class="blind" title="jump to Frequently Asked Questions (Access Key = 5)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Frequently Asked Questions (Access Key = 5 )"></a>
	<a accessKey="6" href="http://www.spelthorne.gov.uk/help.htm" class="blind" title="jump to Help page (Access Key = 6)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Help Page (Access Key = 6 )"></a>
	<a accessKey="7" href="http___www.spelthorne.gov.uk_renderform2_achieveforms.htm_id_gazcdtjr1ha_hidetoolbar_1" class="blind" title="jump to Complaints  (Access Key = 7)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Complaints (Access Key = 7 )"></a>
	<a accessKey="8" href="http://www.spelthorne.gov.uk/terms_and_conditions.htm" class="blind" title="jump to Terms and Conditions (Access Key = 8)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Terms and Conditions (Access Key = 8 )"></a>
	<a accessKey="9" href="http___www.spelthorne.gov.uk_renderform2_achieveforms.htm_id_gazcdtjr1ha_hidetoolbar_1" class="blind" title="jump to Feedback Form (Access Key = 9)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Feedback Form (Access Key = 9 )"></a>
		
	<a accessKey="n" href="http://www.spelthorne.gov.uk/your_council/epetitions.htm#content" class="blind" title="jump to content (Access Key = N)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to content (Access Key = N )"></a>
	<a accessKey="b" href="http://www.spelthorne.gov.uk/business_and_advice.htm" class="blind" title="jump to Business and Advice (Access Key = B)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Business and Advice  (Access Key = B )"></a>
	<a accessKey="c" href="http://www.spelthorne.gov.uk/leisure.htm" class="blind" title="jump to Leisure and Culture  (Access Key = C)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Leisure and Culture  (Access Key = C )"></a>
	<a accessKey="m" href="http://www.spelthorne.gov.uk/calender_event.htm?year=2006&amp;month=2&amp;choice=month" class="blind" title="jump to Council and Community Diary (Access Key = M)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Council and Community Diary (Access Key = M )"></a>
	<a accessKey="v" href="http://www.spelthorne.gov.uk/environment___planning.htm" class="blind" title="jump to Environment and Planning  (Access Key = V)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Environment and Planning (Access Key = V )"></a>
	<a accessKey="g" href="http://www.spelthorne.gov.uk/community___learning.htm" class="blind" title="jump to Community and Learning (Access Key = G)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Community and Learning (Access Key = G )"></a>
	<a accessKey="o" href="http://www.spelthorne.gov.uk/do_it_online.htm" class="blind" title="jump to Do It Online (Access Key = O)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Do It Online (Access Key = O )"></a>
	<a accessKey="p" href="" class="blind" title="jump to Children and Young  People (Access Key = P)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Children and Young  People (Access Key = P )"></a>
	<a accessKey="t" href="http://www.spelthorne.gov.uk/council_services.htm" class="blind" title="jump to A to Z Services (Access Key = T)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to A to Z Services (Access Key = T )"></a>
	<a accessKey="y" href="http://www.spelthorne.gov.uk/your_council.htm" class="blind" title="jump to Your Council (Access Key = Y)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Your Council (Access Key = Y )"></a>
	<a accessKey="z" href="http://www.spelthorne.gov.uk/a-zindex.htm" class="blind" title="jump to A too Z site Index (Access Key = Z)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to A too Z site Index (Access Key = Z )"></a>
	<a accessKey="l" href="http://www.spelthorne.gov.uk/accessibility.htm#screenreader" class="blind" title="jump to Read Speaker functionality (Access Key = L)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="jump to Read Speaker functionality (Access Key = L)"></a>
	<a accessKey="f" class="blind" href="http://www.spelthorne.gov.uk/print/your_council/epetitions.htm" title="jump to Printer Friendly Version (Access Key = F)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Printer Friendly Version (Access Key = F)"></a>
  	<a accessKey="j" class="blind" href="http://www.spelthorne.gov.uk/text/your_council/epetitions.htm" title="jump to Text Only (Access Key = J)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Text Only (Access Key = J)"></a>
	<a accessKey="k" class="blind" href="http://www.spelthorne.gov.uk/contrast/your_council/epetitions.htm" title="jump to Change Contrast (Access Key = K)"><img src="http://www.spelthorne.gov.uk/spacer.gif" style="width:1px;height:1px;" alt="Jump to Change Contrast (Access Key = K)"></a>
<!--startindex-->
	
	<!--header and top navigation table-->
		










<div id="header">
	
	<!-- Spelthorne Logo -->
	<div id="spelthorne_logo_left">
	    <a href="http://www.spelthorne.gov.uk/index.htm" title="link back to home page"><img src="http://www.spelthorne.gov.uk/spellogo2-refresh.gif" width="123" height="81" alt="Spelthorne Borough Council"></a>
	</div>
	
	<!-- Accessibility Links Right -->
		<div id="accessibility_links_right">
	<ul class="ul_line_right">
		<li class="line_right"><a class="topnav ISI_IGNORE" href="http://www.spelthorne.gov.uk/text/your_council/epetitions.htm" title="Link to text only mode">Text Only</a></li>
		<li class="line_right"><a class="topnav ISI_IGNORE" href="http://www.spelthorne.gov.uk/print/your_council/epetitions.htm" title="Link for printer friendly version">Printer Friendly Version</a></li>
		<li class="line_last_right"><a class="topnav ISI_IGNORE" href="http://www.spelthorne.gov.uk/contrast/your_council/epetitions.htm" title="Link to change screen contrast">Change Contrast</a></li>
	</ul><br>
	<ul class="ul_line_right">
		<li class="line_right"><a class="topnav ISI_REMOVE" href="http://www.spelthorne.gov.uk/accessibility.htm#screenreader" title="Link to listen to this site">Listen</a></li>
		<li class="line_right"><a class="topnav ISI_IGNORE" href="http://www.spelthorne.gov.uk/contactus.htm" title="Link to contact us page">Contact Us</a></li>
		<li class="line_right"><a class="topnav ISI_IGNORE" href="http://www.spelthorne.gov.uk/a-zindex.htm" title="link to a-z index page">A-Z</a></li>
		<li class="line_last_right"><a class="topnav ISI_IGNORE" href="http://www.spelthorne.gov.uk/sitemap.htm" title="link to site map page">Site Map</a></li>
	</ul>
</div>
				
	<!-- Search Form -->
		<div id="site_search">

	<form action="search_result.htm" style="margin:0;">
	
	<input type="hidden" name="lk" value="1">
		<input type="hidden" name="col" value="spinter">
		<a name="search">
			<label for="qt"></label>
			<input name="qt" id="qt" style="border : 2px solid #003399; color : #003399; height:20px; margin-right : 2px;" size="17" value="Full Site Search" onfocus="this.value=''">
		</a>
		<input type="hidden" name="ws" value="1">
		<!-- <input type="hidden" name="enable_spell" value="1"> -->
		<input type="submit" value="Go" style="border: 1px solid #003399; background-color: #003399; color: #FFFFFF; height: 20px;"  name="search">
	
	</form>

</div>
		<!-- ISI_START -->
	<!-- Top Navigation Links -->
		<div id="top_navigation">

	<table class="top-nav-table"  summary="primary navigation, including links to home page, how do I area, council services, your council, leisure and tourism, environment and planning, work and business, community and learning and an external link to local weather" cellpadding="0" cellspacing="0">
		<tr class="top-nav-tr">
			
<!-- primary navigation table -->
<td class="top-nav-td0"><a name="mainnav"></a></td>

			<td class="nav top-nav-td1"><img src="http://www.spelthorne.gov.uk/images/nav_green_left.gif" style="width:9;height:35;" alt=""></td>
    		<td class="nav top-nav-td2"><a href="http://www.spelthorne.gov.uk/index.htm" class="nav ISI_IGNORE" title="This links to Home">Home</a></td>
    		<td class="nav top-nav-td3"><img src="http://www.spelthorne.gov.uk/images/nav_green_right.gif" style="width:9;height:35;" alt=""></td>
			<td class="top-nav-td4"><img src="http://www.spelthorne.gov.uk/images/spacer.gif" style="width:1;height:1;" alt=""></td>
		
			<td class="nav top-nav-td1"><img src="http://www.spelthorne.gov.uk/images/nav_green_left.gif" style="width:9;height:35;" alt=""></td>
    		<td class="nav top-nav-td2"><a href="http://www.spelthorne.gov.uk/do_it_online.htm" class="nav ISI_IGNORE" title="This links to Do it Online">Do it Online</a></td>
    		<td class="nav top-nav-td3"><img src="http://www.spelthorne.gov.uk/images/nav_green_right.gif" style="width:9;height:35;" alt=""></td>
			<td class="top-nav-td4"><img src="http://www.spelthorne.gov.uk/images/spacer.gif" style="width:1;height:1;" alt=""></td>
		
			<td class="yc top-nav-td1"><img src="http://www.spelthorne.gov.uk/nav_yc_left.gif" alt=""></td>
    		<td class="yc top-nav-td2"><a href="http://www.spelthorne.gov.uk/your_council.htm" class="nav ISI_IGNORE" style="text-decoration : underline" title="This links to Your Council">Your Council</a></td>
	    	<td class="yc top-nav-td3"><img src="http://www.spelthorne.gov.uk/nav_yc_right.gif" alt=""></td>
			<td class="top-nav-td4"><img src="http://www.spelthorne.gov.uk/images/spacer.gif" style="width:1;height:1;" alt=""></td>
		
			<td class="nav top-nav-td1"><img src="http://www.spelthorne.gov.uk/images/nav_green_left.gif" style="width:9;height:35;" alt=""></td>
    		<td class="nav top-nav-td2"><a href="http://www.spelthorne.gov.uk/leisure.htm" class="nav ISI_IGNORE" title="This links to Leisure">Leisure</a></td>
    		<td class="nav top-nav-td3"><img src="http://www.spelthorne.gov.uk/images/nav_green_right.gif" style="width:9;height:35;" alt=""></td>
			<td class="top-nav-td4"><img src="http://www.spelthorne.gov.uk/images/spacer.gif" style="width:1;height:1;" alt=""></td>
		
			<td class="nav top-nav-td1"><img src="http://www.spelthorne.gov.uk/images/nav_green_left.gif" style="width:9;height:35;" alt=""></td>
    		<td class="nav top-nav-td2"><a href="http://www.spelthorne.gov.uk/environment___planning.htm" class="nav ISI_IGNORE" title="This links to Environment and Planning">Environment and Planning</a></td>
    		<td class="nav top-nav-td3"><img src="http://www.spelthorne.gov.uk/images/nav_green_right.gif" style="width:9;height:35;" alt=""></td>
			<td class="top-nav-td4"><img src="http://www.spelthorne.gov.uk/images/spacer.gif" style="width:1;height:1;" alt=""></td>
		
			<td class="nav top-nav-td1"><img src="http://www.spelthorne.gov.uk/images/nav_green_left.gif" style="width:9;height:35;" alt=""></td>
    		<td class="nav top-nav-td2"><a href="http://www.spelthorne.gov.uk/business_and_advice.htm" class="nav ISI_IGNORE" title="This links to Business and Advice">Business and Advice</a></td>
    		<td class="nav top-nav-td3"><img src="http://www.spelthorne.gov.uk/images/nav_green_right.gif" style="width:9;height:35;" alt=""></td>
			<td class="top-nav-td4"><img src="http://www.spelthorne.gov.uk/images/spacer.gif" style="width:1;height:1;" alt=""></td>
		
			<td class="nav top-nav-td1"><img src="http://www.spelthorne.gov.uk/images/nav_green_left.gif" style="width:9;height:35;" alt=""></td>
    		<td class="nav top-nav-td2"><a href="http://www.spelthorne.gov.uk/community___learning.htm" class="nav ISI_IGNORE" title="This links to Community and Learning">Community and Learning</a></td>
    		<td class="nav top-nav-td3"><img src="http://www.spelthorne.gov.uk/images/nav_green_right.gif" style="width:9;height:35;" alt=""></td>
			<td class="top-nav-td4"><img src="http://www.spelthorne.gov.uk/images/spacer.gif" style="width:1;height:1;" alt=""></td>
		
			<td class="nav top-nav-td1"><img src="http://www.spelthorne.gov.uk/images/nav_green_left.gif" style="width:9;height:35;" alt=""></td>
    		<td class="nav top-nav-td2"><a href="http://www.spelthorne.gov.uk/my_spelthorne.htm" class="nav ISI_IGNORE" title="This links to My Spelthorne">My Spelthorne</a></td>
    		<td class="nav top-nav-td3"><img src="http://www.spelthorne.gov.uk/images/nav_green_right.gif" style="width:9;height:35;" alt=""></td>
			<td class="top-nav-td4"><img src="http://www.spelthorne.gov.uk/images/spacer.gif" style="width:1;height:1;" alt=""></td>
		


		</tr>
	</table>

</div>

	<!-- Top Corner bar -->
		<div class="clear"></div>


<div class="yc_line" >


	<div id="right"><img src="http://www.spelthorne.gov.uk/corner_tr_yc.gif" style="width:10;height:8;" alt=""></div>
</div>
		
</div>

	<!--main content section-->
	
	<div id="yc_main_section">
	
		<!-- Left column -->
		<div id="left_column_nav">

	
<!--sub navigation table-->	
	<ul class="left_nav_ul">

			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/cou_lottery_funding.htm" class="sub" title="link to Lottery Funding page">Lottery Funding</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/aboutspelthorne.htm" class="sub" title="link to About Spelthorne Council page">About Spelthorne Council</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/cou_about_borough.htm" class="sub" title="link to About the Borough page">About the Borough</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.surreycc.gov.uk/SCCWebsite/sccwspages.nsf/searchresults/b1447963c15a46dd80256d94002bb4cf?OpenDocument" class="sub" title="link to Surrey County Council Local Committee page">Surrey County Council Local Committee</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/consultation.htm" class="sub" title="link to Consultation page">Consultation</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/cou_council_budgets.htm" class="sub" title="link to Council budgets and spending page">Council budgets and spending</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/councillors.htm" class="sub" title="link to Councillors page">Councillors</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/committeemeetings.htm" class="sub" title="link to Council and Committee meetings page">Council and Committee meetings</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/counciltax.htm" class="sub" title="link to Council Tax page">Council Tax</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.direct.gov.uk/en/index.htm" class="sub" title="link to Directgov  page">Directgov </a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/elections.htm" class="sub" title="link to Electoral Services page">Electoral Services</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/emergencyinformation.htm" class="sub" title="link to Emergency information page">Emergency information</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/fair_processing.htm" class="sub" title="link to Fair Processing Notice page">Fair Processing Notice</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/freedomofinformation.htm" class="sub" title="link to Freedom of Information page">Freedom of Information</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/benefits.htm" class="sub" title="link to Housing and Council Tax Benefits page">Housing and Council Tax Benefits</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/vacancies.htm" class="sub" title="link to Jobs at Spelthorne page">Jobs at Spelthorne</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/mp_and_meps.htm" class="sub" title="link to MP and MEPs page">MP and MEPs</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/cou_national_fraud.htm" class="sub" title="link to National Fraud Initiative page">National Fraud Initiative</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/your_council_partnerships.htm" class="sub" title="link to Partnerships page">Partnerships</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/cou_publications.htm" class="sub" title="link to Publications page">Publications</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/opinions.htm" class="sub" title="link to Opinions page">Opinions</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.surreyalert.info" class="sub" title="link to Surrey Alert page">Surrey Alert</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/cou_surrey_districts.htm" class="sub" title="link to Surrey Districts page">Surrey Districts</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/cou_papers.htm" class="sub" title="link to What the papers didn't say page">What the papers didn't say</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.surreycommunity.info/" class="sub" title="link to Surrey Community.info page">Surrey Community.info</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/hrprocurement.htm" class="sub" title="link to HR procurement system page">HR procurement system</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/cou_spelthorne_news.htm" class="sub" title="link to Spelthorne news page">Spelthorne news</a>
			</li>
		
			<li class="left_nav_li">
				<a href="http://www.spelthorne.gov.uk/your_council/governance.htm" class="sub" title="link to Elected Mayor or Strong Leader page">Elected Mayor or Strong Leader</a>
			</li>
		
			<li class="left_nav_li_self">
		  		<a href="http://www.spelthorne.gov.uk/your_council/epetitions.htm" class="ycbold" style="text-decoration : underline;" title="link to E-petitions page">E-petitions</a>
			</li>
		</ul>

</div>
	
	
		<!-- content section -->
		<div id="content_section">
		
			<!-- Title heading -->
			
			<div class="yc_title_level2">
	<a name="content"></a>
	E-petitions
</div>

			
		
			<div id="center_column_standard">

