<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
	<head>
		<title>Spelthorne Borough Council - PARAM_TITLE</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta name="viewport" content="width=320;" />
		<meta name="DC.format.medium" content="html/text" />
		<meta name="eGMS.accessibility" content="double-a" scheme="eGMS.WCAG20" />
		<script type="text/javascript" src="/assets/spelthorne/scripts/javascripts.js"></script>
		<link href="/assets/spelthorne/css/editor.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/assets/spelthorne/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/assets/spelthorne/css/colours.css" rel="stylesheet" type="text/css" media="all" />
		<!--[if IE 7]> 
				<link href="/assets/spelthorne/css/ie7.css" rel="stylesheet" type="text/css" media="all" />
			<![endif]-->
		<!--[if lte IE 6]>
				<link href="/assets/spelthorne/css/ie6.css" rel="stylesheet" type="text/css" media="all" />
		<![endif]-->
		<link href="/assets/spelthorne/css/styleprint.css" rel="stylesheet" type="text/css" media="print" />
		<link href="/assets/spelthorne/css/colours/blue.css" rel="stylesheet" type="text/css" media="all" />
		<link media="only screen and (max-device-width: 480px)" href="/assets/spelthorne/css/mobile.css" type="text/css" rel="stylesheet" />

		<meta name="keywords" content="Council, government and democracy,electronic petitions,petitions,online petitions,epetitions,e-petitions">
		<meta name="description" content="Spelthorne Borough Council - PARAM_DESCRIPTION ">
		
		<link rel='stylesheet' href='/pet.css' type='text/css'>
		<link rel='stylesheet' href='/assets/spelthorne/css.css' type='text/css'>    

		PARAM_RSS_LINKS
		PARAM_EXTRA

	</head>
	<body>
		<div id="pagewrapper">
			<a id="top"></a>
			<div id="topbanner">
				<div id="toplogo">
					<a href="http://www.spelthorne.gov.uk" title="Link to homepage">
						<img alt="Link to homepage" src="/assets/spelthorne/images/toplogo.gif" />
					</a>
				</div>
				<div id="toplevelsearch">
					<form action="http://www.spelthorne.gov.uk/search" method="get" onsubmit="return searchpagevalidate(this.q.value, 'I\'m looking for...');">
					<fieldset>
						<legend>Search site</legend>
						<label for="q">
							<span>Search</span>
						</label>
						<input type="text" name="q" id="q" value="I'm looking for..." onfocus="focustextfield(this,'I\'m looking for...')"
							onblur="blurtextfield(this,'I\'m looking for...')" />
						<input type="submit" name="go" value="Go" title="Search for entered keyword" class="btntext" />
					</fieldset>
					</form>
				</div>
			</div>
			<div id="toplevel">
				<div id="toplevelnav">
					<ul>
						<li class="even first blue">
							<a href="/">
								e-Petitions
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="maincolumnwrapper">
				<div id="leftcolumn">
					<div style="margin-right: 1em;">
						<ul id="leftnavigation">
							<li>
								<div>
									<a href="/">e-Petitions home</a>
								</div>
							</li>
							<li>
								<div>
									<a href="/new">Create a petition</a>
								</div>
							</li>
							<li>
								<div>
									<a href="/list">View petitions</a>
								</div>
							</li>
							<!--
							<li>
								<div>
									<a href="/tems">Terms</a>
								</div>
							</li>
							-->
						</ul>
					</div>
				</div>
				<div id="contentwrap">
					<a id="SkipNavigation"></a>
					<div id="contentfullwidth" class="noleftnav">
						<div id="centrecolumn">
							<div id="breadcrumb">
								<div class="label">
									You are here:</div>
								<ol>
									<li class="even first">
										<a href="/">e-Petitions</a>
									</li>
									<li class="odd last">
										/ <span>PARAM_H1</span>
									</li>
								</ol>
							</div>
							<div id="headingtext">
								<h1>PARAM_H1</h1>
							</div>
							<!-- end of Spelthorne header -->
