#mysociety {
    float: right;
    width: 75%;
}

h3 {
    margin-top: 1em;
    margin-left: 0;
}

div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #008800;
}
.petition_view_tabs span {
    background-color: #008800;
}

#mysociety #errors {
    margin-top: 1em;
}

#mysociety #errors ul li {
    list-style-type: disc;
}

#most_recent ul, #most_popular ul {
    list-style: disc;
}
#most_recent ul li, #most_popular ul li {
    padding: 4px;
}