div#petition_actions {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

#main-content .container #petition_actions ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

/*
form#signForm label {
    width: 8em;
}
*/

p.petition_view_tabs {
    border-bottom: solid 2px #653366;
}
.petition_view_tabs span {
    background-color: #653366;
    color: #ffffff;
}

h3 {
  margin: 0.333em 0 ;
}

p.petition_view_tabs {
    margin-bottom: 1em;
}


#action_create a {
    background-image: url('petition_button_create.png');
}
#action_view a {
    background-image: url('petition_button_view.png');
}
#action_create a, #action_view a, 
#action_create a:active, #action_view a:active  {
    margin-top: 4px;
    display: block;
    text-align: center;
    padding-top: 80px;
    background-position: center top;
    background-repeat: no-repeat;
}
#action_create a:hover, #action_view a:hover {
    background-position: center -300px;
    background-color: #ffffff;
}

a:hover {
  background-color: transparent;
}

#action_create a img,  #action_view a img {
    display: none;
}

#most_popular{
    margin-bottom: 1.5em;
}

#most_popular ul, #most_recent ul {
    padding: 0px;
    margin: 10px 0px;
}

#most_popular ul li, #most_recent ul li {
    padding: 4px;
}
