div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #696969;
    font: 15px/17px 'Oswald', sans-serif;
    font-weight: normal;
    letter-spacing: normal;
}

.petition_view_tabs span {
    background-color: #696969;
}

p.petition_view_tabs a, p.petition_view_tabs span {
    margin-right: 1.4em;
}

#action_view a, #action_create a{
    text-decoration: none;
}

#action_view a:hover, #action_create a:hover {
    text-decoration: none;
}

h3 {
  margin: 0.333em 0 ;
}

div#petition_actions {
    margin-bottom: 1em;
}

p.petition_view_tabs {
    margin-bottom: 1em;
}

#action_create a, #action_create a:active {
    background-image: url('petition_button_create.png');
}
#action_view a, #action_view a:active {
    background-image: url('petition_button_view.png');
}
#action_create a, #action_view a, 
#action_create a:active, #action_view a:active  {
    display: block;
    text-align: center;
    padding-top: 80px;
    background-position: center top;
    background-repeat: no-repeat;
    line-height: 1.2em;
    font: 15px/17px 'Oswald', sans-serif;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: uppercase;
}
#action_create a:hover, #action_view a:hover {
    background-position: center -300px;
    background-color: #ffffff;
    text-decoration: underline;
}

#action_create a img,  #action_view a img {
    display: none;
}

h1 {
    margin-bottom: 1em;
}

#most_popular ul, #most_recent ul{
	padding-left: 2em;
	margin-left: 0;
}

h2, h3 {
    font: 21px/25px 'Oswald', sans-serif;
    font-weight: normal;
    letter-spacing: normal;
}


table.petition-list-table {
    width: 100%;
    margin-bottom: 2em;
}
table.petition-list-table th {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0;
}

@media only screen and (max-width: 768px) {
    div#petition_actions, div#most_popular, div#most_recent, div#front_how {
        float: none;
        width: 100%;
        clear: both;
        margin-top: 1em;
    }
    div#most_popular {
        padding-top: 1.5em;
    }
    div#petition_actions {
        margin-top: -0.5em;
    }
}
html,body {
    margin: 0;
    padding: 0;
}
.whypoll-content {
    margin:0;
    padding: 1em;
}
.whypoll-pet-nav {
    margin: 0;
    padding: 0;
    background: #272727;
    width: 100%;
    position: relative;
}
.whypoll-pet-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.whypoll-pet-nav ul li {
    color: #9c9c9c;
    display: inline-block;
    margin:0;
    padding:0;
    text-transform:uppercase;
}
.whypoll-pet-nav ul li span {
    padding: 20px;
}
.whypoll-pet-nav ul li a {
    color: white;
    padding: 20px;
    line-height:2em;
    text-transform:uppercase;
    text-decoration: none;   
    display: inline-block; 
    background: url(http://www.whypoll.org/templates/theme1038/images/menus/menu-border.png) no-repeat 0 center;
    margin: 0;
}
.whypoll-pet-nav ul li a:hover {
   background-color: black;
}
body a {
    color: black;
    text-decoration: none;
}
