#content {
    overflow: auto; /* clearfix */
}

div#errors {
    margin-top: 20px;
}

div#petition_actions {
    border: none;
    margin-top: 30px;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #990000;
    padding-bottom: 0.25em;
}
.petition_view_tabs span {
    background-color: #990000;
}

/* Everything is considered 'external' by the JS, so remove the arrows. */
a.ext:after {
    display: none !important;
}


.main > div > div {
    width: 100% !important;
}

/* list-style isn't used for the bullet points, for some reason... */
.main li:before {
    display: none !important;
}

@media (max-width: 767px) {
    div#front_how, div.relative_width_45 {
        width: 100%;
    }

    textarea, input[type=text] {
        max-width: 99%;
    }
}
