div#errors {
    margin-top: 20px;
}

div#petition_actions {
    border: none;
    margin-top: 30px;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #990000;
    padding-bottom: 0.25em;
}
.petition_view_tabs span {
    background-color: #990000;
}

/* Copied from back_to_top style */
#footer_links {
    margin-left: 30px;
    float: left;
    padding: 5px 0;
}
#footer_links a {
    padding: 0 3px;
}
#footer_links a:link, #footer_links a:visited {
    color: #333333;
}

/* Breadcrumb CSS from official site */
#wbc_content ol#breadcrumb {
    margin: 0;
    font-size: 90%;
}

#breadcrumb li {
    display: inline;
    padding: 0 10px 0 18px;
    background: transparent url(https://www.woking.gov.uk/res/frameworks/default/chrome/breadcrumb_separator.gif) 0 50% no-repeat;
}

#breadcrumb li.first {
    padding-left: 0;
    background: transparent;
}

#breadcrumb a:link,
#breadcrumb a:visited {
    color: #333;
    text-decoration: none;
}

#breadcrumb a:hover,
#breadcrumb a:focus,
#breadcrumb a:active {
    color: #000;
    text-decoration: none;
    background: #eee;
}


