div#errors {
    margin-top: 20px;
}

div#petition_actions {
    border: none;
    margin-top: 30px;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #990000;
    padding-bottom: 0.25em;
}
.petition_view_tabs span {
    background-color: #990000;
}

#footer_links {
    margin-left: 30px;
    float: left;
    padding: 5px 0;
}
