#new_defaultmain_content a {
    font-weight: bold;
}

div#petition_actions {
    border: none;
    font-size: 100%;
    margin-top: 1em;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #663366;
}
.petition_view_tabs span {
    background-color: #663366;
}

