						<!-- start of foot -->
						<div>&nbsp;</div>						   
					</div>	
					<!-- Main Content End -->					 
					<div>
						<div id="smsidemenu">
							<div id="leftcontenthome">
								<!-- Services Navigation Menu Start -->
								<div class="columnheader">E-Petitions</div>
								<div>&nbsp;</div>
								<div id="sidemenu">
									<ul>
										<li><a href="/" title="Introduction to e-petitions" class="L0"><span class="">&nbsp;</span>Introduction</a></li>
										<li><a href="/new" title="Create a petition online" class="L0"><span class="">&nbsp;</span>Create a petition</a></li>
										<li><a href="/list" title="View petitions" class="L0"><span class="">&nbsp;</span>View petitions</a></li>
										<li><a href="/terms" title="Petitions: terms and conditions" class="L0"><span class="">&nbsp;</span>Terms &amp; conditions</a></li>
									</ul>
								</div>								  
								<!-- Services Navigation Menu End -->
								<div class="maincontent">
									<div>&nbsp;</div>
								</div>
								<br/>
								
							</div>
						</div>
					</div>
					<!-- Services Navigation Menu End -->
				</div>	
				<!-- Two Column Area End -->
				<!-- Footer Area End -->
				<div id="footercontent" class="linkhead">
					<!-- Useful Links Start -->
					<div id="homecontentbottom">
						<h2>Useful Links</h2>
						<div>To view some files on the Bassetlaw website, you may find the following links useful.</div>
						<div>&nbsp;</div>
						<a href="http://www.adobe.com/products/acrobat/readstep2.html"><img src="http://www.bassetlaw.gov.uk/images/adobe_reader.gif" alt="Download Adobe Reader view PDFs" title="Download Adobe Reader to view PDFs" height="34px"></img></a>
						<a href="http://get.adobe.com/flashplayer/"><img src="http://www.bassetlaw.gov.uk/images/adobe_flash.gif" alt="Download Adobe Flash Player to view videos" title="Download Adobe Flash Player to view videos" height="34px"></img></a>
						<a href="http://www.direct.gov.uk/en/index.htm"><img src="http://www.bassetlaw.gov.uk/images/directgov.gif" alt="Visit the DirectGov Website" title="Visit the DirectGov Website" height="34px"></img></a>
						<a href="http://www.iammoving.com/"><img src="http://www.bassetlaw.gov.uk/images/iam-logo.gif" alt="Visit the I Am Moving Website" title="Visit the I Am Moving Website" height="34px"></img></a>
					</div>
					<!-- Useful Links End -->
					<div id="modeswitch">
						<a class="linkhead" href="http://www.bassetlaw.gov.uk/system_pages/copyright__disclaimer.aspx" title="Terms And Conditions">&copy; Bassetlaw District Council 2010</a>	
						<!--| <a class="linkhead" href="http://www.bassetlaw.gov.uk/services/council,_government,_democracy.aspx?theme=print" onclick="window.open(this.href, 'blank'); return false;" onkeypress="if (event.keyCode==13) {window.open(this.href, 'blank'); return false;}">Print</a> --> 
						| <a class="linkhead" href="http://www.bassetlaw.gov.uk/services/council,_government,_democracy.aspx?theme=textonly" title="Text Only">Text Only</a> 
						| <a class="linkhead" href="http://www.bassetlaw.gov.uk/system_pages/accessibility.aspx" title="Accessibility Help">Accessibility</a> 
						| <a class="linkhead" href="http://www.bassetlaw.gov.uk/system_pages/site_map.aspx" title="Site Map Search">Site Map</a> 
						| <a class="linkhead" href="http://www.bassetlaw.gov.uk/the_council/contact_us/maps__travel.aspx" title="How To Find Us">How To Find Us</a> 
						<!--| <a class="linkhead" onkeypress="if (event.keyCode==13) {window.open(this.href, '_blank'); return false;}" onclick="window.open(this.href, '_blank'); return false;" href="http://www.bassetlaw.gov.uk/default.aspx?theme=print">Print Page</a> -->
					</div>
				</div>
				<!-- Footer Area End -->
			</div> 
		</td>
		<td class="gap"></td>
	</tr>
</table>
<!-- Access Keys Start -->
<div class="skip">
	<a href="http://www.bassetlaw.gov.uk/default.aspx" accesskey="1">Home</a>
	<a href="http://www.bassetlaw.gov.uk/news.aspx" accesskey="2">News</a>
	<a href="http://www.bassetlaw.gov.uk/system_pages/site_map.aspx" title="SIte Map Page" accesskey="3">Site Map</a>
	<a href="http://www.bassetlaw.gov.uk/search" accesskey="4">Search</a>
	<a href="http://www.bassetlaw.gov.uk/the_council/faqs.aspx" accesskey="5">FAQs</a>

	<a href="http://www.bassetlaw.gov.uk/services/council__democracy/council/complaints__compliments.aspx" accesskey="7">Complaints Procedure</a>
	<a href="http://www.bassetlaw.gov.uk/system_pages/terms_and_conditions.aspx" accesskey="8">Terms And Conditions</a>
	<a href="http://www.bassetlaw.gov.uk/services/contact_us/feedback_form.aspx" accesskey="9">Feedback Form</a>
	<a href="http://www.bassetlaw.gov.uk/accessibility_menu/access_keys.aspx" accesskey="0">Access Keys</a>
</div>
<!-- Access Keys End -->
<!-- START Socitm Code -->
<script src="http://www.bassetlaw.gov.uk/js/socitm.js" type="text/javascript"></script>
<noscript><div>&nbsp;</div></noscript>
<script type="text/javascript" src="http://socitm.govmetric.com/js/socitm_wrapper.aspx"></script>
<noscript>
	<p><a href="http://socitm.govmetric.com/survey.aspx?code=55">Tell us what you think about our site...</a></p>
	<p><img src="http://socitm.govmetric.com/imagecounter.aspx?code=55" height="1" width="1" alt=" "></img></p>
</noscript>
<!-- END Socitm Code -->
<!-- START Google Analytics Code -->
<script src="http://www.bassetlaw.gov.uk/js/googleanalyitics1.js" type="text/javascript"></script>
<noscript><div>Browser does not support script.</div></noscript>
<script src="http://www.bassetlaw.gov.uk/js/googleanalyitics2.js" type="text/javascript"></script>
<noscript><div>Browser does not support script.</div></noscript>
<!-- END Google Analytics Code -->
</body>
</html>
