								<!-- start of foot -->
								<!-- ### END MAIN CONTENT ### -->
							</div>
						</div>
					</div>
					<!-- ### END LEFT HAND COLUMN ### -->

					<!-- ### START RIGHT HAND COLUMN ### -->
					<div id="rightColumn">
						<div id="rightSupplements">
							<div class="supplement">
								<h2>Committee Services</h2>
								<p>If you need further information about petitions please get in touch.</p>
								<p><strong>Tel:</strong> 01473 432510</p>

							</div>
						</div>

						<div id="related">
							<h2>Related links...</h2>
							<ul>
								<li><a href="/">e-Petitions home</a></li>
								<li><a href="/new">Create a petition</a></li>
								<li><a href="/list">View petitions</a></li>
								<li><a href="/terms">Terms and conditions</a></li>
								<li><a href="http://www.ipswich.gov.uk/site/scripts/documents_info.php?documentID=1146">Step by step guide</a></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<!-- ### END RIGHT HAND COLUMN ### -->

				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>

		<!-- ### START FOOTER ### -->
		<div id="footer">
			<div class="pageUp">
				<a href="#mast">
					<span>Jump to the top</span>
				</a>
			</div>
			<div class="footerText">
			    <p class="date">Ipswich Borough Council &copy; MMXI</p>
				<ul>	
					<li class="firstLi"><a href="http://www.ipswich.gov.uk/site/scripts/terms.php">Terms and disclaimer</a></li>
					<li><a href="http://www.ipswich.gov.uk/site/scripts/accessibility.php">Accessibility statement</a></li>
					<li><a href="http://www.ipswich.gov.uk/site/scripts/website_statistics.php">Statistics</a></li>
					<li><a href="http://www.ipswich.gov.uk/site/scripts/site_map.php">Site map</a></li>
					<li><a href="http://www.ipswich.gov.uk/site/scripts/contact.php">Contact us</a></li>
					<li><a href="http://www.ipswich.gov.uk/site/scripts/location.php">Location</a></li>
				</ul>
				<p><strong>Ipswich Borough Council</strong>, Grafton House, 15-17 Russell Road, Ipswich IP1 2DE. Telephone: <strong>01473 432000</strong></p>
				<p>Made with <a href="http://validator.w3.org/check/referer">XHTML</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer/">CSS</a> to <a href="http://www.w3.org/WAI/WCAG1AA-Conformance">WAI-AA</a>. <a href="http://www.fosi.org/icra/">ICRA</a> rated.</p>
			</div>
			<img class="footerLogo" src="/assets/ipswich/images/footerLogo.gif" alt="" />
			<div class="clear"></div>
		</div>
		<!-- ### END FOOTER ### -->
	</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7321435-4']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
