#content{
    padding-left: 1em; /* otherwise a bit close to the nav? */
}

.cattext .button{
    cursor: pointer;
    padding: 6px; /* Rushcliffe button is very skinny */
}

div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #990000;
    line-height: 1em;
    padding-bottom: 10px;
}

.petition_view_tabs span {
    background-color: #990000;
    padding-bottom: 10px;
}

#action_view a, #action_create a{
    text-decoration: none;
}

#action_view a:hover, #action_create a:hover {
    text-decoration: none;
}

h3 {
  margin: 0.333em 0 ;
}

div#petition_actions {
    margin-bottom: 1em;
}

p.petition_view_tabs {
    margin-bottom: 1em;
}

#action_create a, #action_create a:active {
    background-image: url('petition_button_create.png');
}
#action_view a, #action_view a:active {
    background-image: url('petition_button_view.png');
}
#action_create a, #action_view a, 
#action_create a:active, #action_view a:active  {
    display: block;
    text-align: center;
    padding-top: 76px;
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 80%;
}
#action_create a:hover, #action_view a:hover {
    background-position: center -300px;
    text-decoration: underline;
    background-color: #ffffff;
    color: #000000;
}

#action_create a img,  #action_view a img {
    display: none;
}

h1 {
    margin-bottom: 1em;
}

/* overriding http://www.guildford.gov.uk/guildford/template/home/css/home.css */
#breadcrumb{
    display: block;
}
#leftspace, #rightspace {
    width: 20px;
}

#most_popular ul, #most_recent ul{
	padding-left: 2em;
	margin-left: 0;
}
#most_popular ul li, #most_recent ul li{
    padding: 4px;
}



