.mysoc-content{
	padding: 2px 12px 24px 12px;
}

p {
	font-size: 100%;
}
h3 {
	font-size: 120%;
}

div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

/*
form#signForm label {
    width: 8em;
}
*/

p.petition_view_tabs {
    border-bottom: solid 2px #008184;
    line-height: 1em;
}
.petition_view_tabs span {
    background-color: #008184;
}

h3 {
  margin: 0.333em 0 ;
}

div#petition_actions {
    margin-bottom: 1em;
}

p.petition_view_tabs {
    margin-bottom: 1em;
}

/* note: #content a:active and #content a:focus both specify backgrounds which 
   hide the background image, so make sure they're overridden by specificity here */
#content #action_create a {
    background-image: url('petition_button_create.png');
}
#content #action_view a {
    background-image: url('petition_button_view.png');
}
#content #action_create a, #content #action_view a {
    color: #008184;
    margin-top: 10px;
    display: block;
    text-align: center;
    padding-top: 70px;
    background-position: center top;
    background-repeat: no-repeat;
}
#content #action_create a:focus, #content #action_view a:focus,
#content #action_create a:hover, #content #action_view a:hover {
    background-position: center -300px;
    background-color: #ffffff;
}

a:hover {
  background-color: transparent;
}

#action_create a img,  #action_view a img {
    display: none;
}

