			<!-- start of foot -->
			</div>
		</div>

		<div id="footer">
			<ul id="footerutilnav">
				<li class="start" 	><a href="index.aspx?articleid=9"  accesskey="0" 	title="Link to Accessibility"	>Accessibility</a>		</li>
				<li 				><a href="index.aspx?articleid=719"  				title="Link to Online forms"	>Online&nbsp;forms</a>	</li>
				<li 				><a href="index.aspx?articleid=8"  accesskey="3" 	title="Link to Sitemap"			>Sitemap</a>			</li>
				<li class="end" 	><a href="index.aspx?articleid=716"  				title="Link to Your privacy"	>Your&nbsp;privacy</a>	</li>
			</ul>

			&copy;&nbsp;<script type="text/javascript">document.write(theYear());</script>&nbsp;Mansfield District Council, Civic Centre, Chesterfield Road South, MANSFIELD, NG19 7BH
		</div>

			<p class="articleDate">This page was last modified 17/11/2010 08:45:12</p>
				<div class="printonly">Website URL : <span class="tokenerror">The Control Id 'trail' could not be resolved to an actual control., Type=iCMRender.Controls.Value, ID=MainBlock (~/mansfield/masterpages/HomePage.master)</span></div>	


			<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-17072993-1']);
				_gaq.push(['_trackPageview']);
				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>

	</body>
</html>