<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html lang="en-gb" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>PARAM_TITLE</title>
		<meta http-equiv="Content-Type" 		content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Style-Type" 	content="text/css" />
		<meta lang="en-gb" 						content="text" />
		<meta name="DC.format.medium" 			content="html/text" />
		<meta name="eGMS.rights.copyright" 		content="Copyright 2010 " />
		<meta name="DC.description" 			content="" />
		<meta name="DC.title" 					content="Mansfield District Council: PARAM_TITLE" />
		<meta name="eGMS.subject.category" 		content="Local government" />
		<meta name="eGMS.subject.category" 		content="Communication channels" />
		<meta name="eGMS.subject.category" 		content="Internet" />
		<meta name="eGMS.subject.category" 		content="Websites" />
		<meta name="DC.contributor" 			content="Web development, Mansfield District Council, Civic Centre, Chesterfield Road South, MANSFIELD, NG19 7BH, United Kingdom" />
		<meta name="DC.creator" 				content="Web development, Mansfield District Council, Civic Centre, Chesterfield Road South, MANSFIELD, NG19 7BH, United Kingdom" />
		<meta name="DC.publisher" 				content="Web development, Mansfield District Council, Civic Centre, Chesterfield Road South, MANSFIELD, NG19 7BH, United Kingdom" />
		<meta name="eGMS.subject.keyword" 		content="Local government, Local authorities, Communication channels, Channels (communication), Delivery channels (communication), ICT channels, Internet, World Wide Web, Web (World Wide), Surfing the Web, Websites, Web sites" />
		<meta name="keywords" 					content="Local government, Local authorities, Communication channels, Channels (communication), Delivery channels (communication), ICT channels, Internet, World Wide Web, Web (World Wide), Surfing the Web, Websites, Web sites" />
		<meta name="DC.date.created" 			scheme="W3CDTF" 			content="2007-01-31T17:09:55Z" />
		<meta name="DC.date.issued" 			scheme="W3CDTF" 			content="2007-01-31T17:09:55Z" />
		<meta name="DC.date.modified" 			                 			content="PARAM_DATE" />
		<meta name="DC.date.disposal.review" 	scheme="W3CDTF" 			content="2106-01-31T17:09:55Z" />
		<meta name="eGMS.accessibility" 		scheme="eGMS.WCAG10" 		content="Double-A" />
		<meta name="DC.identifier" 				scheme="DCTERMS.URI" 		content="http://www.mansfield.gov.uk/index.aspx?articleid=1" />
		<meta name="DC.language" 				scheme="DCTERMS.ISO639-2" 	content="en" />
		<meta name="DC.type" 					scheme="eGMS.TES" 			content="Reference" />

		<link href="http://www.mansfield.gov.uk/css/mansfield/style.css" 		rel="stylesheet" type="text/css" media="screen" />
		<link href="http://www.mansfield.gov.uk/css/mansfield/home.css" 		rel="stylesheet" type="text/css" media="all" />
		<link href="http://www.mansfield.gov.uk/css/mansfield/cseditor.css" 	rel="stylesheet" type="text/css" media="screen" />
		<link href="http://www.mansfield.gov.uk/css/mansfield/home.css" 		rel="stylesheet" type="text/css" media="screen" />
		<link href="http://www.mansfield.gov.uk/css/mansfield/styleprint.css" 	rel="stylesheet" type="text/css" media="print" />
		<!--[if lte IE 6]><link href="/css/mansfield/ieOldFix.css" rel="stylesheet" type="text/css"><![endif]-->
		<!--[if IE 7]><link href="/css/mansfield/ie7Fix.css" rel="stylesheet" type="text/css"><![endif]-->

		<link rel="stylesheet" type="text/css" href="/pet.css" />
		<link rel="stylesheet" type="text/css" href="/assets/mansfield/css.css" />
		PARAM_RSS_LINKS
        PARAM_EXTRA
	</head>

	<body PARAM_BODYID>

		<div id="topLinks">
			<ul>
				<li><a href="http://www.mansfield.gov.uk/index.aspx?articleid=9"	>[Accessibility]</a></li>
				<li><a href="http://www.mansfield.gov.uk/index.aspx?articleid=8"	>[Site map]</a></li>
				<li><a href="http://www.mansfield.gov.uk/index.aspx?articleid=127"	>[Contact us]</a></li>
			</ul>
		</div>

		<div id="header">
			<a href="http://www.mansfield.gov.uk/index.aspx?articleid=1" title="Home" accesskey="1"><img alt="Mansfield District Council" src="http://www.mansfield.gov.uk/images/mansfield/common/toplogo.gif" width="456" height="74" /></a>
			<ul id="contact">
				<li><strong>Telephone:</strong> 01623 463463</li>
				<li><strong>Email:</strong> <a href="mailto:mdc@mansfield.gov.uk">mdc@mansfield.gov.uk</a></li>
				<li><strong>Typetalk minicom service:</strong> 01623 463444</li>
			</ul>
		</div>

		<hr id="stripes" />

		<div id="infoBar">
			<div id="azLinks">
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=87">A</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=89">B</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=345">C</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=346">D</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=347">E</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=348">F</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=349">G</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=350">H</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=351">I</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=353">J</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=352">K</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=355">L</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=356">M</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=357">N</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=354">O</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=358">P</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=359">Q</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=360">R</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=361">S</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=362">T</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=363">U</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=364">V</a>
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=365">W</a>
				X
				<a href="http://www.mansfield.gov.uk/index.aspx?articleid=366">Y</a>
				Z
			</div>

			<form action="http://www.mansfield.gov.uk/index.aspx?articleid=7" method="post" id="frmSearch">
				<fieldset>
					<input type="text" name="keyword" id="keyword" size="40" />
					<label for="keyword">
						<input type="submit" name="go" value="Search" title="Search for entered keyword" id="go" />
					</label>
					<input type="hidden" name="returnarticleid"	value="1" />
					<input type="hidden" name="articleaction" value="newsearch" />
				</fieldset>
			</form>
		</div>



		<div id="navCollectionOne">
			<div id="siteSections">
				<ol>
					<li><a class="left1 first" 	href="http://www.mansfield.gov.uk/index.aspx?articleid=32" 	title="Link to Community and living"	>Community and living	</a></li>
					<li><a class="left1" 		href="http://www.mansfield.gov.uk/index.aspx?articleid=28" 	title="Link to Council and democracy"	>Council and democracy	</a></li>
					<li><a class="left1" 		href="http://www.mansfield.gov.uk/index.aspx?articleid=30" 	title="Link to Environment"				>Environment			</a></li>
					<li><a class="left1" 		href="http://www.mansfield.gov.uk/index.aspx?articleid=423"	title="Link to Planning"				>Planning				</a></li>
					<li><a class="left1" 		href="http://www.mansfield.gov.uk/index.aspx?articleid=34" 	title="Link to Health and social care"	>Health and social care	</a></li>
					<li><a class="left1" 		href="http://www.mansfield.gov.uk/index.aspx?articleid=35" 	title="Link to Jobs and careers"		>Jobs and careers		</a></li>
					<li><a class="left1" 		href="http://www.mansfield.gov.uk/index.aspx?articleid=36" 	title="Link to Leisure and culture"		>Leisure and culture	</a></li>
					<li><a class="left1" 		href="http://www.mansfield.gov.uk/index.aspx?articleid=31" 	title="Link to Business"				>Business				</a></li>
					<li><a class="left1" 		href="http://www.mansfield.gov.uk/index.aspx?articleid=37" 	title="Link to Transport and streets"	>Transport and streets	</a></li>
					<li><a class="left1" 		href="http://www.mansfield.gov.uk/index.aspx?articleid=27" 	title="Link to Advice and benefits"		>Advice and benefits	</a></li>
					<li><a class="left1" 		href="http://www.mansfield.gov.uk/index.aspx?articleid=23" 	title="Link to Housing"					>Housing				</a></li>
				</ol>
			</div>
		</div>

		<div id="navCollectionTwo">
			<div style="text-align:left;margin-top:0.6em">
				<h1>e-Petitions</h1>
				<ul>
					<li><a href="/">Introduction</a></li>
					<li><a href="/new">Create a petition</a></li>
  				<li><a href="/list">View petitions</a></li>
  				<li><a href="/terms">Terms &amp; conditions</a></li>
				</ul>
			</div>
    </div>

		<div id="content">
			<div id="ms-content-wrapper">
			<h1>PARAM_H1</h1>
			<p><strong>Please note:</strong> This e-petitions facility wil not be available from the 29th November.</p>
			<!-- end of head -->

