textarea{
    width: 523px;
}

#ms-petition-list-rss{
    text-align:right;
    width: 100%;
}
#ms-petition-list-rss img{
    vertical-align: baseline;
    margin:0;
}

div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 1px #9B9980;
	line-height:1em;
	padding-bottom:8px;
}

.petition_view_tabs span {
    background-color: #DDDDD4;
    border: 1px solid #9B9980;
	color: #183449;
}

#action_view a, #action_create a{
    text-decoration: none;
    font-size:80%;
}

#action_view a:hover, #action_create a:hover {
    text-decoration: none;
}

h3 {
  margin: 0.333em 0 ;
}

div#petition_actions {
    margin-bottom: 1em;
    background-color: #F6F1E5;
}

p.petition_view_tabs {
    margin-bottom: 1em;
}

#action_create a, #action_create a:active {
    background-image: url('petition_button_create.png');
}
#action_view a, #action_view a:active {
    background-image: url('petition_button_view.png');
}
#action_create a, #action_view a, 
#action_create a:active, #action_view a:active  {
    display: block;
    text-align: center;
    padding-top: 64px;
    background-position: center top;
    background-repeat: no-repeat;
}
#action_create a:hover, #action_view a:hover {
    background-position: center -300px;
    text-decoration: underline;
}

#action_create a img,  #action_view a img {
    display: none;
}

h1 {
    margin-bottom: 1em;
}

#most_popular ul, #most_recent ul{
	margin-left: 0;
}
#most_popular ul li, #most_recent ul li{
	font-size: 1em;
}

