
                <!-- start of foot -->
                <span class="invisi">]</span>
              </div>
              <span class="footerMinInternalBox"></span>
            </div>
          </div>
        </div>

        <div id="footer">
          <div id="footerlinks">
            <span class="invisi">]</span>

            <div class="browsealoud">
              <a href="http://www.browsealoud.com/page.asp" onclick="target='_blank'" onkeypress="target='_blank'"><img src="http://www.melton.gov.uk/images/templates/browsealoud.jpg" alt="Browsealoud....Making Websites Talk" /></a>
            </div><span class="invisi">]</span>

            <div class="directgov">
              <a href="http://www.direct.gov.uk/en/index.htm" onclick="target='_blank'" onkeypress="target='_blank'"><img src="http://www.melton.gov.uk/images/templates/directgov.gif" alt="DirectGov" /></a>
            </div>

            <div class="RateThisPage">
              <span class="invisi">]</span><a href="http://www.govmetric.com/WebMetric/websatisfaction.aspx?metric1.x=y&amp;organisationid=231&amp;refer=http://www.melton.gov.uk"><img style="border:none" src="http://www.govmetric.com/images/small-greenface.gif" alt="Rate this page as Good" width="28" height="28" /></a> <span class="invisi">]</span><a href="http://www.govmetric.com/WebMetric/websatisfaction.aspx?metric2.x=y&amp;organisationid=231&amp;refer=http://www.melton.gov.uk"><img style="border:none" src="http://www.govmetric.com/images/small-orangeface.gif" alt="Rate this page as Average" width="28" height="28" /></a><span class="invisi">]</span> <a href="http://www.govmetric.com/WebMetric/websatisfaction.aspx?metric3.x=y&amp;organisationid=231&amp;refer=http://www.melton.gov.uk"><img style="border:none" src="http://www.govmetric.com/images/small-redface.gif" alt="Rate this page as Poor" width="28" height="28" /></a><br />
              Rate this page
            </div><span class="invisi">]</span>

            <div class="address">
              &copy; 2010 Melton Borough Council, Nottingham Road, Melton Mowbray, Leicestershire, LE13 0UL
            </div>

            <div class="footermenu">
              <a href="http://www.melton.gov.uk/system_pages/useful_links/sitemap.aspx">sitemap</a> | <a href="http://www.melton.gov.uk/system_pages/useful_links/legal.aspx">legal</a> | <a href="http://www.melton.gov.uk/system_pages/useful_links/accessibility.aspx">accessibility</a> | <a href="http://www.melton.gov.uk/system_pages/useful_links/a-z_directory.aspx">A-Z directory</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
