			</div>

		</div>

		<div id="localNavigation">

			<div id="nav">
				<ul>
					<li><a href="/"><strong>e-petitions</strong></a></li>
					<li><a href="/list">View petitions</a></li>
					<li><a href="/steps">Step-by-step guide</a></li>
					<li><a href="/faq">Frequently asked questions</a></li>
					<li><a href="/terms">Terms and conditions</a></li>
					<li><a href="/privacy">Privacy policy</a></li>
				</ul>
			</div>

		</div>

		<div id="siteFunctions">

			<form action="http://www.salford.gov.uk/search.htm" method="get">
				<fieldset>
					<legend>Search site</legend>
					<label for="qt"><strong>Search site</strong></label><br />
					<input type="hidden" name="col" value="justhtm2" /><input type="text" id="qt" name="qt" size="5" class="searchinput" /><input type="submit" value="GO" id="searchbutton" class="button" />
				</fieldset>
			</form>

			<ul id="quickLinks">
                <li><strong>Quick links</strong></li>
                <li><a href="http://www.salford.gov.uk/aboutsalford.htm">About Salford</a></li>
                <li><a href="http://www.salford.gov.uk/complaints.htm"><span class="offscreen">Salford City Council </span>Complaints</a></li>
                <li><a href="http://www.salford.gov.uk/consultation.htm">Consultations</a></li>
                <li><a href="http://www.salford.gov.uk/emergencyplan.htm">Emergencies</a></li>
                <li><a href="http://www.salford.gov.uk/help.htm" accesskey="6">Help</a></li>
                <li><a href="http://maps.salford.gov.uk/">Interactive maps</a></li>
                <li><a href="http://www.salford.gov.uk/jobs.htm">Jobs</a></li>
                <li><a href="http://www.salford.gov.uk/pressreleases.htm">News</a></li>
                <li><a href="https://secure.salford.gov.uk/">Pay a bill</a></li>
                <li><a href="http://www.salford.gov.uk/selectservice.htm">Report it!</a></li>
                <li><a href="http://www.salford.gov.uk/sitemap.htm" accesskey="3">Site map</a></li>
            </ul>

                        <ul id="salford-social">
                                <li><strong>Find us on</strong></li>
                                <li><a href="http://www.facebook.com/SalfordCouncil"><img src="http://www.salford.gov.uk/t/salford-facebook.jpg" alt="Salford City Council on Facebook" /></a></li>
                                <li><a href="http://www.flickr.com/photos/salfordcitycouncil/"><img src="http://www.salford.gov.uk/t/salford-flickr.jpg" alt="Salford City Council on Flickr" /></a></li>
                                <li><a href="http://twitter.com/SalfordCouncil"><img src="http://www.salford.gov.uk/t/salford-twitter.jpg" alt="Salford City Council on Twitter" /></a></li>
                                <li><a href="http://www.youtube.com/user/SalfordCityCouncil"><img src="http://www.salford.gov.uk/t/salford-youtube.jpg" alt="Salford City Council on YouTube" /></a></li>
                                <li><a href="http://www.salford.gov.uk/socialmedia.htm">What are these?</a></li>
                        </ul>

		</div>

	</div>

	<div id="languages" class="clearfix">
		<ul>
			<li><a href="http://www.salford.gov.uk/arabic.htm"><img src="http://www.salford.gov.uk/t/index-arabic.gif" alt="Information in Arabic" /></a></li><li><a href="http://www.salford.gov.uk/bengali.htm"><img src="http://www.salford.gov.uk/t/index-bengali.gif" alt="Information in Bengali" /></a></li><li><a href="http://www.salford.gov.uk/cantonese.htm"><img src="http://www.salford.gov.uk/t/index-cantonese.gif" alt="Information in Cantonese" /></a></li><li><a href="http://www.salford.gov.uk/gujarati.htm"><img src="http://www.salford.gov.uk/t/index-gujarati.gif" alt="Information in Gujarati" /></a></li><li><a href="http://www.salford.gov.uk/punjabi.htm"><img src="http://www.salford.gov.uk/t/index-punjabi.gif" alt="Information in Punjabi" /></a></li><li><a href="http://www.salford.gov.uk/urdu.htm"><img src="http://www.salford.gov.uk/t/index-urdu.gif" alt="Information in Urdu" /></a></li>
		</ul>
	</div>

	<div id="siteInfo" class="clearfix">

		<div id="copyrightImage"><a href="http://www.salford.gov.uk/copyright.htm"><img src="http://www.salford.gov.uk/t/scc-copyright.gif" alt="Copyright Salford City Council" /></a></div>
		<div id="rssLink"><a href="http://www.salford.gov.uk/rss-feeds.htm">RSS feeds</a></div>

	</div>

	<div id="information" class="clearfix">

		<div id="scc-address" class="vcard"><strong><span class="fn org">Salford City Council</span></strong>, <span class="adr work"><span class="street-address"><a href="http://www.salford.gov.uk/findus.htm" title="How to find us">Salford Civic Centre</a>, Chorley Road</span>, <span class="locality">Swinton, Salford</span> <span class="postal-code">M27 5AW</span></span> &nbsp; <img src="http://www.salford.gov.uk/t/icon-telephone-small.gif" alt="Telephone" /> <span class="tel work">0161 794 4711</span></div>

		<ul id="information-links">
			<li class="first"><a href="http://www.salford.gov.uk/accessibility.htm">Accessibility</a></li>
			<li><a href="http://www.salford.gov.uk/availability.htm">Availability</a></li>
			<li><a href="http://www.salford.gov.uk/legal.htm">Legal notices</a></li>
			<li><a href="http://www.salford.gov.uk/localgovgm.htm">Neighbouring councils</a></li>
			<li><a href="http://www.salford.gov.uk/webstatistics.htm">Website statistics</a></li>
		</ul>

	</div>

	<div id="directgov"><a href="http://www.direct.gov.uk/en/index.htm"><img src="http://www.salford.gov.uk/t/directgov_logo_white.gif" alt="Directgov straight through to public services www.direct.gov.uk" id="directgovImage" /></a></div>

</div>

<div id="print">
	<p>&copy; Copyright Salford City Council</p>
	<p><img src="http://www.salford.gov.uk/t/printerfriendlyfooter.jpg" alt="Improving people's lives   IN Salford" /></p>
</div>

</body>
</html>
