
		</div>

	</div>

</div>

<div id="footercontainer">

	<div class="contentarea">

		<div class="scc-address vcard"><strong><span class="fn org">Salford City Council</span></strong>, <span class="adr work"><span class="street-address">Salford Civic Centre, Chorley Road</span>, <span class="locality">Swinton, Salford</span>, <span class="postal-code">M27 5AW</span></span></div>

		<div class="govuk"><a href="https://www.gov.uk/"><img src="//services.salford.gov.uk/website/template/images/govuk.png" alt="GOV.UK"></a></div>

	</div>

</div>

<a href="#headercontainer" class="cd-top">Back to top</a>

<script src="//services.salford.gov.uk/website/template/scripts/jquery-1.11.1.min.js"></script>
<script src="//services.salford.gov.uk/website/template/scripts/sitefunctions.js"></script>

</body>
</html>