<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>PARAM_TITLE - Salford City Council</title>
<meta name="author" content="Salford City Council" />
<meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<style type="text/css">
#branding {
background: #000 url(http://www.salford.gov.uk/b/v2-banner39.jpg) no-repeat top right;
}

#navigation.navigation-council {
background: #6b5f6d url(http://www.salford.gov.uk/t/council_insalford.gif) no-repeat center right;
}
</style>
<link rel="stylesheet" type="text/css" media="screen" href="http://www.salford.gov.uk/css/salford.css" />
<!--[if IE 8]><link rel="stylesheet" type="text/css" media="screen" href="http://www.salford.gov.uk/css/ie7.css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="http://www.salford.gov.uk/css/ie7.css" /><![endif]-->
<!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="http://www.salford.gov.uk/css/ie6.css" /><![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="http://www.salford.gov.uk/css/default.css" title="default" />
<link rel="alternate stylesheet" type="text/css" media="screen" href="http://www.salford.gov.uk/css/large.css" title="large" />
<link rel="alternate stylesheet" type="text/css" media="screen" href="http://www.salford.gov.uk/css/extralarge.css" title="extralarge" />
<link rel="stylesheet" type="text/css" media="print" href="http://www.salford.gov.uk/css/print.css" />
<link rel="stylesheet" type="text/css" media="handheld" href="http://www.salford.gov.uk/css/mobile.css" />
<link rel="alternate" href="http://www.salford.gov.uk/press.xml" type="application/rss+xml" title="Recent press releases from Salford City Council" />
<link rel="alternate" href="http://yourcounciljobs.co.uk/feeds/Jobs_rss.aspx?sAuthority_id=6" type="application/rss+xml" title="Job vacancies from Salford City Council" />
<link rel="alternate" href="http://services.salford.gov.uk/feeds/events/" type="application/rss+xml" title="What's on in Salford?" />
<link rel="alternate" href="http://services.salford.gov.uk/feeds/decisions/" type="application/rss+xml" title="Decisions of the council" />
<script src="http://www.salford.gov.uk/js/jquery-min.js" type="text/javascript"></script>
<script src="http://www.salford.gov.uk/js/sitefunctions.js" type="text/javascript"></script>
<script src="/assets/salford/sitefunctions.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/pet.css" />
<link rel="stylesheet" type="text/css" href="/assets/salford/css.css" />
</head>

<body>

<div id="container">

	<ul id="accessOptions">
		<li><a href="#startcontent" accesskey="s"><strong>Skip to content</strong></a></li>
		<li class="changetext"><a href="http://www.salford.gov.uk/accessibility.htm#textsize"><strong>Change text size</strong></a></li>
		<li class="cookies"><a href="http://www.salford.gov.uk/cookies.htm"><strong>How we use cookies</strong></a></li>
	</ul>

	<div id="brandingContainer">
		<div id="branding">
		<div id="logo"><h1><a href="http://www.salford.gov.uk/index.htm" title="Salford City Council home page">Salford City Council</a></h1></div>

			<ul id="siteServices"><li class="first"><a href="http://www.salford.gov.uk/az.htm" id="azlink"><span>A-Z of services</span></a></li><li><a href="http://www.salford.gov.uk/contacts.htm" id="contactlink"><span>Contact Salford City Council</span></a></li><li class="last"><a href="https://youraccount.salford.gov.uk" id="accountlink"><span>Your account</span></a></li></ul>
        </div>

	</div>

	<div id="navigationContainer">
		<div id="navigation" class="navigation-online">
			<ul>
				<li><a href="http://www.salford.gov.uk/index.htm">Home</a></li>
				<li><a href="http://www.salford.gov.uk/living.htm">Living</a></li>
				<li><a href="http://www.salford.gov.uk/learning.htm">Learning</a></li>
				<li><a href="http://www.salford.gov.uk/leisure.htm">Leisure</a></li>
				<li><a href="http://www.salford.gov.uk/business.htm">Business</a></li>
				<li><a href="http://www.salford.gov.uk/online.htm">Online services</a></li>
				<li><a href="http://www.salford.gov.uk/council.htm">Your council</a></li>
			</ul>
		</div>
	</div>

	<div id="contentContainer" class="clearfix">

		<div id="pageContent">

			<div id="breadcrumb"><a href="http://www.salford.gov.uk/">Home</a> &raquo; <a href="http://www.salford.gov.uk/council.htm">Your council</a> &raquo; <a href="http://www.salford.gov.uk/councillors.htm">Council, City Mayor and councillors</a> &raquo; <a href="http://www.salford.gov.uk/petitions.htm">Petitions</a> &raquo; <a href="http://epetitions.salford.gov.uk/">e-petitions</a> &raquo; PARAM_TITLE</div>

			<div id="content">

				<a name="startcontent"></a>

				<h2>PARAM_H1</h2>
