<!DOCTYPE html>
<html lang="en" class="nojs">
<head runat="server">
<meta charset="utf-8">
<title>PARAM_TITLE - e-petitions - Salford City Council</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" media="screen" href="//services.salford.gov.uk/website/template/css/reset.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,700,400italic">
<link rel="stylesheet" type="text/css" media="screen" href="//services.salford.gov.uk/website/template/css/styles.css">
<link rel="stylesheet" type="text/css" media="print" href="//services.salford.gov.uk/website/template/css/print.css">
<link rel="stylesheet" type="text/css" href="http://epetitions.salford.gov.uk/pet.css">
<link rel="stylesheet" type="text/css" href="http://epetitions.salford.gov.uk/assets/salford/css.css">
</head>

<body class="app content">

<div id="contentcontainer" class="default">

	<div class="contentheader">

		<a id="skip-to-content" href="#contentcontainer">Skip to content</a>

		<div class="brand"><a href="http://www.salford.gov.uk/"><img src="//services.salford.gov.uk/website/template/images/scc.png" alt="Salford City Council"></a></div>

		<div class="breadcrumb">
			<strong>You are here:</strong> <a href="http://www.salford.gov.uk/">Home</a> / <a href="http://epetitions.salford.gov.uk/">e-petitions</a> / PARAM_TITLE
		</div>

		<h1>PARAM_H1</h1>

	</div>

	<div class="contentarea">

		<div class="pagecontent fullwidth">
