<p>If you create an e-petition on this website, you will be required to provide us with basic personal information so that we can contact you about your petition. The information will only be used for this purpose, although we may need to pass your details to the relevant department to enable them to respond to the issues you raise.</p>

<p>If you sign an e-petition on this website, you will be required to provide us with basic personal information to enable us to verify that "signatures" collected are genuine.  Your name (but no other details) will be published on the petition on the website.</p>

<p>We will only use the information you provide us for this purpose, and, unless you ask us not to, to write to you about the issues raised in the petition.</p>