					<!-- start of foot -->
				</div><!-- end of content -->
			</div>
			<div id="column_nav">
				<h2>e-Petitions</h2>
				<ul class="navWidget">
					<li><a href="/">Introduction</a></li>
					<li><a href="/new">Create a petition</a></li>
					<li><a href="/list">View petitions</a></li>
					<li><a href="/terms">Terms &amp; conditions</a></li>
				</ul>
			</div>
			<div id="browseInformation">
			<h2>BROWSE INFORMATION ON...</h2>
			<div class="box1">
				<ol>
					<li><a title="Advice and benefits" href="http://wellingborough.gov.uk/site/scripts/documents.php?categoryID=100001">Advice and benefits</a></li>
					<li><a title="Business" href="http://wellingborough.gov.uk/site/scripts/documents.php?categoryID=100002">Business</a></li>
					<li><a title="Community and living" href="http://wellingborough.gov.uk/site/scripts/documents.php?categoryID=100003">Community and living</a></li>
					<li><a title="Council and democracy" href="http://wellingborough.gov.uk/site/scripts/documents.php?categoryID=100004">Council and democracy</a></li>
					<li><a title="Education and learning" href="http://wellingborough.gov.uk/site/scripts/documents.php?categoryID=100005">Education and learning</a></li>
					<li><a title="Environment and planning" href="http://wellingborough.gov.uk/site/scripts/documents.php?categoryID=100006">Environment and planning</a></li>
					<li><a title="Housing" href="http://wellingborough.gov.uk/site/scripts/documents.php?categoryID=100007">Housing</a></li>
					<li><a title="Jobs and careers" href="http://wellingborough.gov.uk/site/scripts/documents.php?categoryID=100008">Jobs and careers</a></li>
					<li><a title="Leisure and culture" href="http://wellingborough.gov.uk/site/scripts/documents.php?categoryID=100009">Leisure and culture</a></li>
					<li><a title="Health and social care" href="http://wellingborough.gov.uk/site/scripts/documents.php?categoryID=100010">Health and social care</a></li>
					<li><a title="Transport and streets" href="http://wellingborough.gov.uk/site/scripts/documents.php?categoryID=100011">Transport and streets</a></li>
				</ol>
			</div>
			<div class="box2">
				<ul id="browseInformationExtra">
					<li><a href="http://wellingborough.gov.uk/site/scripts/site_map.php">Site map</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/location.php">Location map</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/contact.php">Contact us</a></li>
				</ul>
			</div>
			</div>
			<div id="footer">
				<a href="http://wellingborough.gov.uk/site/scripts/documents.php?categoryID=100002#mast" class="linkJump">JUMP TO THE TOP</a>
				<p class="title">The Borough Council of Wellingborough &copy; 2010</p>
				<p class="addNav">
					<a href="http://wellingborough.gov.uk/site/scripts/terms.php">Terms &amp; Disclaimer</a> 
					<a href="http://wellingborough.gov.uk/site/scripts/accessibility.php">Accessibility statement</a>
					<a href="http://wellingborough.gov.uk/site/scripts/website_statistics.php">Web statistics</a>
					<a href="http://wellingborough.gov.uk/site/scripts/site_map.php" class="last">Site map</a>
				</p>
				<p>The Borough Council of Wellingborough, Swanspool House, Doddington Road, Wellingborough, NN8 1BP DX12865</p>
				<p>Made with&nbsp;<a class="bold" href="http://validator.w3.org/check/referer">XHTML</a>&nbsp;and&nbsp;<a class="bold" href="http://jigsaw.w3.org/css-validator/check/referer/">CSS</a>&nbsp;to&nbsp;<a class="bold" href="http://www.w3.org/WAI/WCAG1AA-Conformance">WAI-AA</a>.&nbsp;<a class="bold" href="http://www.fosi.org/icra/">ICRA</a> rated. Powered by Jadu&reg; <a href="http://www.jadu.co.uk/">Content Management</a></p>
			</div><!-- end of footer -->
		</div><!-- end of page_wrap -->
	</div><!-- end of ie_wrapper -->		
</div><!-- end of wrapper -->
<!-- #################################### -->
</body>
</html>