<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<title>The Borough Council of Wellingborough - PARAM_TITLE</title>
<link rel="stylesheet" type="text/css" href="/assets/wellingborough/styles/generic/base.css" media="screen" />
<link rel="Shortcut Icon" type="image/x-icon" href="/assets/wellingborough/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/pet.css"/>
<link rel="stylesheet" type="text/css" href="/assets/wellingborough/css.css"/>
PARAM_RSS_LINKS
PARAM_EXTRA
</head>
<body PARAM_BODYID>
<!-- ########## MAIN STRUCTURE ######### -->
<div id="wrapper">
	<div id="mobile_name">The Borough Council of Wellingborough</div>
	<div class="topLinks">
		<ul class="mastLinks">
			<li><a href="http://wellingborough.gov.uk/site/scripts/contact.php">Contact us</a></li>
			<li class="last"><a href="http://wellingborough.gov.uk/site/scripts/search_index.php" class="last">Search Wellingborough</a></li>
		</ul>
	</div>
	<div id="ie_wrapper">
		<div id="mast">	
			<a title="Home" href="http://wellingborough.gov.uk/" class="pseudoH1"><span>The Borough Council of Wellingborough</span></a>	
			<div id="nav">
				<ul class="tabNav">
					<li class="tab1"><a href="http://wellingborough.gov.uk/"><span>Home</span></a></li>
					<li class="tab2"><a href="http://wellingborough.gov.uk/payments"><span>Payments</span></a></li>
					<li class="tab3"><a href="http://wellingborough.gov.uk/apply"><span>Apply</span></a></li>
					<li class="tab4"><a href="http://wellingborough.gov.uk/report"><span>Report</span></a></li>
					<li class="tab5"><a href="http://wellingborough.gov.uk/say"><span>Say</span></a></li>
				</ul>
				<div class="clear"></div>
			</div>	
			<div id="services">
				<h3>Council services by A to Z <span>or by </span><a href="http://wellingborough.gov.uk/site/scripts/az_home.php">most popular</a></h3>
				<ul id="a2z">
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=A">a</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=B">b</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=C">c</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=D">d</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=E">e</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=F">f</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=G">g</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=H">h</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=I">i</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=J">j</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=K">k</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=L">l</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=M">m</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=N">n</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=O">o</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=P">p</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=Q">q</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=R">r</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=S">s</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=T">t</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=U">u</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=V">v</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=W">w</a></li>
					<li><span>x</span></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=Y">y</a></li>
					<li><a href="http://wellingborough.gov.uk/site/scripts/az_index.php?startsWith=Z">z</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div> <!-- end of mast -->
		<div id="page_wrap">
			<div id="page">
				<div id="content" class="withWidth">				
					<div id="breadcrumb">
						<ul>
							<li><a href="http://wellingborough.gov.uk/">Home</a></li>
							<li class="bc_end"><span>PARAM_TITLE</span></li>
						</ul>
					</div>
					<!-- Page Navigation if there is more than one page-->
					<!-- end page Nav -->
					<h1>PARAM_H1</h1>
					<!--
					<div id="contentLeftCol">
						<p>Content left column</p>
					</div>	
					<div id="contentRightCol">
						<p>Content right column</p>
						<div class="clear"></div>		
					</div>-->		
					<!-- end of head -->
