
<!-- start of foot -->        
</div></div></div></div></div>
<div class="Published t2bFlowPanel">
<div><span><a href="http://www.forest-heath.gov.uk/Copyright">Copyright</a></span>|
<span><a href="http://www.forest-heath.gov.uk/Disclaimer">Disclaimer</a></span>|
<span><a href="http://www.forest-heath.gov.uk/Privacy">Privacy</a></span>|
<span><a href="http://www.forest-heath.gov.uk/853%20Internet%20Service%20Standards">Internet
Standards</a></span></div></div>
<div class="address t2bFlowPanel">
<div>Forest Heath District Council District Offices, College Heath
Road, Mildenhall. Suffolk IP28 7EY Tel: +44(0)1638
719000</div></div>
<div><script language="JavaScript" type="text/javascript"
src="http://www.forest-heath.gov.uk//uk1.siteimprove.com/js/siteanalyze.js">
</script><noscript></noscript></div></div></div>
</body>
</html>