		<div class="clear"></div>
	
		

								</div>
							</div>
							
<div id="left-content">
	<div class="outside-container">
		<div class="inside-container">
			



			<h5><span>Find information on...</span></h5>
			
					<form class="dropdown" action="http://www.forest-heath.gov.uk/site/scripts/documents.aspx" method="get" name="categoryDropdown">
						<label for="categoryDropdown" class="hidden">Select a category</label>
						<select onchange="submitCategory();" id="categoryDropdown" name="categoryID">
							<option>Select a category</option>
				
							<option value="100001" >Advice and benefits</option>
				
							<option value="100002" >Business</option>
				
							<option value="100003" >Community and living</option>
				
							<option value="100004" selected="selected">Council and democracy</option>
				
							<option value="100005" >Education and learning</option>
				
							<option value="100006" >Environment and planning</option>
				
							<option value="100007" >Housing</option>
				
							<option value="100008" >Jobs and careers</option>
				
							<option value="100009" >Leisure and culture</option>
				
							<option value="100010" >Health and social care</option>
				
							<option value="100011" >Transport and streets</option>
				
						</select>
						<noscript>
						<input type="submit" class="button" value="Go" />
						</noscript>
					</form>
				
		<h5><span>Take me to...</span></h5>
		
			<ul>
			
				<li><a href="http://www.forest-heath.gov.uk/info/100001/advice_and_benefits">Benefits</a></li>
			
				<li><a href="http://www.forest-heath.gov.uk/info/10075/household_waste-information_and_advice">Bin Collections</a></li>
			
				<li><a href="http://www.forest-heath.gov.uk/info/100004/council_and_democracy/182/committee_minutes">Committee Papers</a></li>
			
				<li><a href="http://www.forest-heath.gov.uk/info/100001/advice_and_benefits/37/council_tax_information">Council Tax</a></li>
			
				<li><a href="http://www.forest-heath.gov.uk/councillors">Councillors</a></li>
			
				<li><a href="http://www.forest-heath.gov.uk/site/scripts/documents.aspx?categoryID=100007">Housing</a></li>
			
				<li><a href="http://www.eplan.forest-heath.gov.uk/Northgate/PlanningExplorer/Home.aspx">Planning Explorer</a></li>
			
				<li><a href="http://www.forest-heath.gov.uk/info/100004/council_and_democracy/62/report_a_problem">Report a Problem</a></li>
			
				<li><a href="http://www.forest-heath.gov.uk/info/200110/council_budgets_and_spending/256/transparency">Transparency</a></li>
			
			</ul>
			        
	
	<div>
		<h5><span>Quick Links</span></h5>
		<div class="quicklink">
		
			<ul>
			
				<li><a href="http://www.angcomleisure.com/">Anglia Community Leisure</a></li>
			
				<li><a href="http://www.angliarevenues.gov.uk/">Anglia Revenues Partnership</a></li>
			
				<li><a href="http://www.onesuffolk.co.uk/safersuffolk/">Safer Neighbourhood Team</a></li>
			
				<li><a href="http://www.onesuffolk.co.uk/wslsp">West Suffolk LSP</a></li>
			
				<li><a href="http://www.flagship-housing.co.uk/main.cfm">Flagship Housing</a></li>
			
			</ul>
			
		</div>
	</div>
	

		</div>
	</div>
</div>

							
<div id="right-content">
	

	
	<form class="myNeighbourhood" name="refineSearch" method="get" target="_self" action="http://www3.forest-heath.gov.uk/propertyaccount/AddressSearch.html">
		<h4>My Neighbourhood</h4>
		<label for="Street">Find local information here</label>
		<input id="Street" onclick="clearPostcode();" onfocus="clearPostcode();" type="text" name="Postcode" size="11" class="field" value="Postcode..." />
		<input type="submit" class="button" value="Go" />
	</form>
	
	<div class="translation">
		<h4><a href="http://www.forest-heath.gov.uk/translate">Translate our website</a></h4>
		<p>View a translated version of this website in your language.</p>
	</div>
	
<div class="quicklink">
<h2>E-petitions</h2>
<ul>
<li><a href="/">Introduction</a></li>
<li><a href="/new">Create a Petition</a></li>
<li><a href="/list">View Petitions</a></li>
<li><a href="/terms">Terms &amp; Conditions</a></li>
</ul>
</div>

	
</div>

						</div>
					</div>
				</div>			
				
<div id="footer">
	<a accesskey="/" href="http://www.forest-heath.gov.uk/info/100004/council_and_democracy/286/petitions#mast" rel="nofollow" class="top">Back to top</a>
	<ul>
        <li><a href="http://www.forest-heath.gov.uk/copyright">Copyright</a></li>
		<li><a href="http://www.forest-heath.gov.uk/terms">Disclaimer</a></li>
		<li><a href="http://www.forest-heath.gov.uk/privacy">Privacy</a></li>
		<li><a href="http://www.forest-heath.gov.uk/internetstandards">Internet Standards</a></li>
		
		 
		<li><a href="https://www.forest-heath.gov.uk/register">Register</a></li>
		
		
		 
		<li><a href="https://www.forest-heath.gov.uk/sign_in">Sign in</a></li>
		
	</ul>	


    <p>Forest Heath District Council District Offices, College Heath Road, Mildenhall. Suffolk IP28 7EY Tel: +44(0)1638 719000</p>
	<p>Powered by Jadu <a href="http://www.jadu.net/" target="_blank" title="Link opens in a new window.">Content Management.</a></p>
</div>
<p class="hidden">
	<a accesskey="1" >Homepage</a>
	<a accesskey="2" href="http://www.forest-heath.gov.uk/whats_new" rel="nofollow">What&#39;s new </a>
	<a accesskey="3" href="http://www.forest-heath.gov.uk/site_map" rel="nofollow">Site map</a>
	<a accesskey="4" href="http://www.forest-heath.gov.uk/site_search" rel="nofollow">Search facility </a>
	<a accesskey="5" href="http://www.forest-heath.gov.uk/faqs" rel="nofollow">Frequently asked questions</a>
	<a accesskey="6" href="http://www.forest-heath.gov.uk/a_to_z" rel="nofollow">Help</a>
	<a accesskey="7" href="http://www.forest-heath.gov.uk/contact" rel="nofollow">Contact details</a>
	<a accesskey="8" href="http://www.forest-heath.gov.uk/terms" rel="nofollow">Terms &amp; Privacy</a>
	<a accesskey="9" href="http://www.forest-heath.gov.uk/feedback" rel="nofollow">Feedback</a>
	<a accesskey="0" href="http://www.forest-heath.gov.uk/accessibility" rel="nofollow">Access key details</a>
	<a accesskey="s" href="http://www.forest-heath.gov.uk/info/100004/council_and_democracy/286/petitions#main-content" rel="nofollow">Skip to content</a>
	<a accesskey="n" href="http://www.forest-heath.gov.uk/info/100004/council_and_democracy/286/petitions#left-content" rel="nofollow">Skip to main navigation</a>
</p>
		</div>
	</div>
</div>
<!-- #################################### -->
<script type="text/javascript">    var _gaq = _gaq || [];   _gaq.push(['_setAccount', 'UA-19706595-1']);   _gaq.push(['_setDomainName', '.forest-heath.gov.uk']);   _gaq.push(['_trackPageview']);    (function() {     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);   })();  </script>

	<script type="text/javascript" src="http://www.forest-heath.gov.uk/site/javascript/site.js"></script>

</body>
</html>
