<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>PARAM_TITLE</title>
<meta name="ROBOTS" content="FOLLOW,INDEX" />
<meta name="DC.Coverage" content="UK" />
<meta name="DC.Creator" content="Forest Heath" />
<meta name="DC.Date" scheme="W3CDTF" content="2010-06-14" />
<meta name="DC.Identifier" content="{9B52F537-AFE4-40BB-AD08-B262DFD9505E}" />
<meta name="DC.Language" scheme="ISO 639-2/T" content="eng" />
<meta name="DC.Publisher" content="Forest Heath" />
<meta name="DC.Title" content="Petitions" />
<meta name="eGMS.Subject.Category" scheme="GCL"
content="Local government" />
<meta name="eGMS.accessibility" scheme="WCAG" content="" />
<meta name="TITLE" content="Petitions" />
<meta name="eGMS.Creator" content="Forest Heath" />
<meta name="eGMS.Date.Issued" content="26/05/2010 10:08:10" />
<meta name="eGMS.Date.Modified" content="14/06/2010 09:52:39" />
<meta name="Description" content="Petitions" />
<meta name="eGMS.Description" content="Petitions" />
<meta name="eGMS.Identifier" content="{9B52F537-AFE4-40BB-AD08-B262DFD9505E}" />
<meta name="eGMS.Publisher" content="Forest Heath" />
<meta name="SearchPath"
content="/Channels/www.forest-heath.gov.uk/Council/Petitions" />
<meta name="LAST-MODIFIED" content="14/06/2010 09:52:39" />
<meta name="x" content="0" />
<meta name="y" content="0" />
<meta name="LocationFilter" content="All+Forest Heath" />
<meta name="ppHideThemeNav" content="False" />
<meta name="eGMS.Subject.Keyword"
content="Council, government and democracy Council Democracy Elections" />
<meta name="RANK-WORDS"
content="Petitions Council, government and democracy Council Democracy Elections" />
<meta name="eGMS.Title" content="Petitions" />
<meta name="eGms.Coverage.Spatial" content="All" />
<meta name="Parish" content="All" />
<meta name="eGMS.subject.category" scheme="IPSV"
content="Council, government and democracy" />
<link rel='stylesheet' type='text/css'
href='http://www.forest-heath.gov.uk/OneSuffolk/CSS/Position.css' />
<link rel='stylesheet' type='text/css'
href='http://www.forest-heath.gov.uk/OneSuffolk/CSS/onesuffolk.css' />



<link href="/pet.css" rel="stylesheet" type="text/css" />
<link href="/assets/forest-heath/css.css" type="text/css" rel="stylesheet" />

</head>
<body>
<div id="TemplatePanel">
<div class="t2bFlowPanel">
<div class="headpanel t2bFlowPanel">
<div>
<div class="inclinks">
<div class="skiptocontent"><a href="#startcontent"
accesskey="S">skip navigation and go directly to the main
content</a></div>
<div class="arrowHeading">
<nobr><a href="http://www.forest-heath.gov.uk/accessibility">accessibility
<img src="http://www.forest-heath.gov.uk/onesuffolk/images/arrowT.gif"
alt="Link to accessibility page" /></a></nobr></div>
<div class="arrowHeading"><nobr><a href="http://www.forest-heath.gov.uk/atoz">A to Z
<img src="http://www.forest-heath.gov.uk/onesuffolk/images/arrowT.gif"
alt="Link to A to Z page" /></a></nobr></div>
<div class="arrowHeading"><nobr><a href="http://www.forest-heath.gov.uk/contactus">contact us
<img src="http://www.forest-heath.gov.uk/onesuffolk/images/arrowT.gif"
alt="Link to Contact Us page" /></a></nobr></div>
<div class="arrowHeading">
<nobr><a href="http://www.forest-heath.gov.uk/Council/Customer+Services/How+to+get+here.htm">how
to get here<img src="http://www.forest-heath.gov.uk/onesuffolk/images/arrowT.gif"
alt="Link to how to get here page" /></a></nobr></div></div></div></div>
<div class="primLinks t2bFlowPanel">
<div class="srchTag t2bFlowPanel">
<div>
<div class="ucSimpleSearchImproveInput">
<label for="_ctl9_txtSearchInput">Search&nbsp;</label>
<input name="_ctl8:txtSearchInput" type="text"
id="_ctl8_txtSearchInput" class="SearchInput"
value="Enter search text" style="width:105px;" />
<input type="submit" name="_ctl8:btnGo" value="GO" id="_ctl8_btnGo"
class="SearchButton" /></div></div></div>
<div>
<ul>
<li><a href="http://www.forest-heath.gov.uk/Business/">Business</a> |</li>
<li><a href="http://www.forest-heath.gov.uk/Community/">Community</a> |</li>
<li><a href="http://www.forest-heath.gov.uk/Council/">Council</a> |</li>
<li><a href="http://www.forest-heath.gov.uk/Environmental+Services/">Environment |</a></li>
<li><a href="http://www.forest-heath.gov.uk/Housing/">Housing |</a></li>
<li><a href="http://www.forest-heath.gov.uk/Jobs/">Jobs |</a></li>
<li><a href="http://www.forest-heath.gov.uk/Leisure/">Leisure and Culture |</a></li>
<li><a href="http://www.forest-heath.gov.uk/Licensing/">Licensing |</a></li>
<li><a href="http://www.forest-heath.gov.uk/News/">News |</a></li>
<li><a href="http://www.forest-heath.gov.uk/Planning/">Planning |</a></li>
<li><a href="http://www.forest-heath.gov.uk/Tourism/">Tourism</a></li></ul></div></div>
<div>
<div class="ucBreadcrumb">
<span id="_ctl13_lblDisplay"><a class='bread' href="http://www.forest-heath.gov.uk/">Home</a>
&gt; <a class='bread' href="http://www.forest-heath.gov.uk/Council/">Council</a> &gt;
<a class='bread' href="http://www.forest-heath.gov.uk/Council/Petitions.htm">Petitions</a> &gt;
<a class='breadText'>PARAM_H1</a></div></div>
<div class="rightPanel t2bFlowPanel">
<div>
<div class="neigHead">
<a href="http://www3.forest-heath.gov.uk/propertyaccount/AddressSearch.asp"
   title="Go to the My neighbourhood Search page"><img src="http://www.forest-heath.gov.uk/onesuffolk/images/gis.gif"
     width="156" height="30"
     alt="Go to the My neighbourhood Search page" /></a></div>
<div class="neighbourhood">Get local information using your
postcode, including: 
<div class="neighbourhood2">- Bin Collection Days<br />
 - Planning Applications<br />
 - Recycling Sites</div>
<div class="more">
<a href="http://www3.forest-heath.gov.uk/propertyaccount/AddressSearch.asp"
   title="Go to the My neighbourhood Search page">and much, much
   more...</a></div></div>
<div class="displayTitle">Quick <span>links</span></div>
<ul>
<li><a href="http://www.forest-heath.gov.uk/Maps">Forest Heath Maps</a></li>
<li><a href="http://www.forest-heath.gov.uk/Council/Benefits+and+Council+Tax/">Benefits and
Council Tax</a></li>
<li>
<a href="http://www.forest-heath.gov.uk/Council/Committees/Committee+Minutes+Agenda+and+Reports+354.htm">
Committee Papers</a></li>
<li><a href="http://www.forest-heath.gov.uk/Community/Consultation/">Have Your Say</a></li>
<li><a href="http://www.forest-heath.gov.uk/Jobs/">Job Vacancies</a></li>
<li>
<a href="http://www.eplan.forest-heath.gov.uk/Northgate/PlanningExplorer/Home.aspx">
Planning Explorer</a></li></ul>
<div class="displayTitle">Do it <span>online</span></div>
<ul>
<li>
<a href="http://www.forest-heath.gov.uk/Council/Customer+Services/353+653+Customer+satisfaction.htm">
Complaint, Comment or Suggestion</a></li>
<li>
<a href="https://www.epay1.forest-heath.gov.uk/AF3/an/default.aspx/RenderForm/?F.Name=HbxEI2Qtelv">
Feedback</a></li>
<li><a href="http://www.forest-heath.gov.uk/Council/Making+a+Payment/">Make a Payment</a></li>
<li>
<a href="http://www.forest-heath.gov.uk/Planning/Development+Control/PlanningApplications/ApplicationForms.htm">
Planning Application</a></li>
<li>
<a href="https://www.epay1.forest-heath.gov.uk/AF3/an/default.aspx/RenderForm/?F.Name=o6WevosNLXv">
Report a Problem</a></li></ul>
<div class="displayTitle">Featured
<span class="midGreenBold">pages</span></div>
<ul>
<li><a href="http://www.forest-heath.gov.uk/News/Public+Notices/">Adverts and Public
Notices</a></li>
<li><a href="http://www.forest-heath.gov.uk/community/community+safety/crimestatistics.htm">Crime
Statistics</a></li>
<li>
<a href="http://www.forest-heath.gov.uk/Council/Councillor+Information/LeadersMessage.htm">Leader's
Message</a></li>
<li><a href="http://www.forest-heath.gov.uk/News/Local+Newspapers.htm">Newspaper Links</a></li>
<li>
<a href="http://www.forest-heath.gov.uk/Council/Committees/Overview+and+Scrutiny+Committee.htm">Overview
and Scrutiny Committee</a></li>
<li><a href="http://www.forest-heath.gov.uk/leisure/Young+People1/">Young People</a></li></ul>
<div class="greenBox">
<div class="hoursTitle">out of hours</div>
<div class="hoursText">Out of hours emergency number for all Forest
Heath District Council services</div>
<div class="hoursNumber">01284 763252</div></div></div></div>
<div class="leftPanel t2bFlowPanel">
<div class="secondaryNav">
<div class="ucSecondaryNav">
<div class="themeTitle">E-Petitions</div>
<div class="pageNav">
<ul>
<li><a href="/">Introduction</a></li>
<li><a href="/new">Create a Petition</a></li>
<li><a href="/list">View Petitions</a></li>
<li><a href="/terms">Terms &amp; Conditions</a></li>
</ul>
</div>
</div>
</div>
<div class="contactDC t2bFlowPanel">
<div>
<div class="contactHead">Contact Us</div>
<div style="display-inline;padding:0.25em;">
<a href="mailto:dc@forest-heath.gov.uk"
style="font-weight:bold;color:#fff;text-decoration:none;"><img src="http://www3.forest-heath.gov.uk/images/email2.gif"
     width="34" height="34"
     align="left" /><span style="color:#000;text-decoration:none;">Contact
     Development Control by email</span></a>
<p class="contactUs">or read our
<a href="http://www.forest-heath.gov.uk/Planning/ContactPlanning.htm"><strong>Contact
Us</strong></a> page</p></div></div></div>
<div class="planPortal t2bFlowPanel">
<div>
<p style="margin-top:2em;font-weight:bold;">The Planning Portal</p>
<p>When you click on a link marked with
<img src="http://www3.forest-heath.gov.uk/images/planportal_12.jpg"
alt="" /> you will be taken to a page on the Planning Portal</p>
<p><img src="http://www3.forest-heath.gov.uk/images/planportal.jpg"
alt="" /></p>
<p>The Planning Portal is the UK Government online planning and
building regulations resource</p></div></div></div>
<div class="centrePanel t2bFlowPanel">
<div><a name="startcontent" id="startcontent"></a></div>
<div class="contentPanel t2bFlowPanel">
<div>
<div class="ucDisplayTitleH1">
<h1>PARAM_H1</h1>
</div>
</div>
<div class="content">
<div class="ucStandardPage">
<div class="StandardPageContent">
<!-- end of head -->