			<!-- END THIRD PARTY CONTENT -->
		</div>

		<div id="wbc_footer">
			<p id="wbc_back_to_top"><a href="#wbc_wrapper">Back to top</a>
            | <a href="http://www.woking.gov.uk/council/about/petitions/epetitionguide">Step by step guide</a>
            | <a href="http://www.woking.gov.uk/council/about/petitions/petitionquestions">Questions about petitions</a>
            </p>
			<p id="wbc_contactus_link"><a href="http://www.woking.gov.uk/contact">Contact us</a></p>
		</div>
	
	</div>

</body>
</html>
