<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>PARAM_TITLE - Woking Borough Council</title>
	<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
	<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
	<link rel="schema.eGMS" href="http://www.esd.org.uk/standards/egms/egms.rdfs"/>
	<meta name="DC.coverage" content="Woking, Surrey, UK"/>
	<meta name="DC.coverage.spatial" content="Woking, Surrey, UK"/>
	<meta name="DC.creator" content="Woking Borough Council"/>
	<meta name="DC.description" content="Woking Borough Council, providing e-Government to the residents of Woking, Surrey"/>
	<meta name="DC.format" scheme="IMT" content="text/html"/>
	<meta name="DC.publisher" content="Woking Borough Council, Civic Offices, Gloucester Square, Woking, Surrey, GU21 6YL.  Telephone: 01483 755855.  Email: postroom@woking.gov.uk"/>
	<meta name="DC.rights.copyright" content="© Woking Borough Council"/>
	<meta name="eGMS.subject.category" scheme="IPSV" content="Borough councils"/>
	<meta name="eGMS.subject.category" scheme="GCL" content="Local government"/>
	<link rel="stylesheet" type="text/css" href="http://www.woking.gov.uk/res/satellite/styles.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/pet.css">
    <link rel="stylesheet" type="text/css" href="/assets/woking/css.css">
</head>
<body>

	<div id="wbc_wrapper">
		
		<p id="wbc_return"><a href="http://www.woking.gov.uk/">Return to main site</a></p>
		<p id="wbc_logo"><img src="http://www.woking.gov.uk/res/satellite/wbc_logo.png" width="82" height="94" alt="Woking Borough Council"/></p>
		
		<div id="wbc_masthead">
			<h1>PARAM_TITLE - Woking Borough Council</h1>
		</div>
		
		<div id="wbc_content">
			<!-- BEGIN THIRD PARTY CONTENT -->

<ol id="breadcrumb"><li class="first"><a href="http://www.woking.gov.uk/">Home</a></li><li><a href="http://www.woking.gov.uk/council">Council and democracy</a></li><li><a href="/">Petitions</a></li></ol>
