div#petition_actions {
    /* width: 99%; */
    border: none;
    /* margin: 0 0 15px 0; */
}

div#most_recent {
    /* width: 48%; */
    float: right;
}

div#most_popular {
    /* width: 48%; */
}

#most_popular h3 {
    margin-top: 0;
}

#front_how {
    /* clear: both; */
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #6B5F6D;
}
.petition_view_tabs span {
    background-color: #6B5F6D;
}

#action_view a, #action_create a{
    text-decoration: none;
}

#action_view a:hover, #action_create a:hover {
    text-decoration: none;
}

