dt {
    margin-bottom: 10px;
    font-weight:bold;
}

.loudmessage {
    font-size: 100%;
}

div#petition_actions {
    width: 99%;
    border: none;
    margin: 0 0 15px 0;
}

div#most_recent {
    width: 48%;
    /* margin-top: 1em; */
}

div#most_popular {
    width: 48%;
}

h3 {
    margin-top: 15px;
}

#most_popular h3 {
    margin-top: 0;
}

#front_how {
    clear: both;
    /* margin-top: 1em; */
}

p.petition_view_tabs {
    border-bottom: solid 2px #6B5F6D;
}
.petition_view_tabs span {
    background-color: #6B5F6D;
}

#action_view a, #action_create a{
    text-decoration: none;
}

#action_view a:hover, #action_create a:hover {
    text-decoration: none;
}

input.error, input[type=text].error, select.error, input[type=radio].error, textarea.error {
    border: 1px solid #f00;
    background-color: #ffffff;
}

