
				</div>
			</div>
			<div id="footer-nav"><div class="clear-both"></div>
		</div>
		<div id="footer">
			<img src="wcc_files/images/crest-footer.gif" alt="Westminster City Council crest" class="left">
			<p>
				<span class="no-break">2008 Westminster City Council.</span>
				<span class="no-break contact-info"><a href="http://westminster.gov.uk/contact/">Contact the council</a></span>
				<span class="no-break contact-info" title="Telephone">T: 020 7641 6000</span>
				<span class="no-break contact-info" title="Email">E: <a href="mailto:info@westminster.gov.uk">info@westminster.gov.uk</a></span>
			</p>
			<ul>
				<li class="first"><a href="http://westminster.gov.uk/disclaimer/">Disclaimer</a></li>
				<li><a href="http://westminster.gov.uk/services/councilgovernmentanddemocracy/dataprotectionandfreedomofinformation/">Privacy Statement</a></li>
				<li><a href="http://westminster.gov.uk/services/councilgovernmentanddemocracy/dataprotectionandfreedomofinformation/foi/">Freedom of Information</a></li>
				<li><a href="http://westminster.gov.uk/copyright/">Copyright</a></li>
				<li><a href="http://www.direct.gov.uk/">DirectGov</a></li>
			</ul>
		</div>
	</body>
</html>