<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Westminster City Council - PARAM_TITLE</title>

    <link rel="stylesheet" type="text/css" media="all" href="/assets/westminster/wcc_files/common.css">
    <link href="/pet.css" rel="stylesheet" type="text/css" />
    <link href="/assets/westminster/css.css" type="text/css" rel="stylesheet" />
<!--[if IE 7]>
<link href="/assets/westminster/ie7.css" type="text/css" rel="stylesheet" />
<![endif]-->
    
    <link href="http://dublincore.org/usage/terms/dc/current-elements/" rel="SCHEMA.dc">
    <meta name="DC.Date.Created" scheme="DCTERMS.W3CDTF" content="2010-12-13">
    <meta name="eGMS.Accessibility" scheme="eGMS.WCAG10" content="Single-A">
    <meta name="DC.Format" content="text">
    <meta name="DC.Identifier" scheme="DCTERMS.URI" content="PARAM_DC_IDENTIFIER">
    <meta name="DC.Language" scheme="DCTERMS.ISO639-2" content="en-uk">
    <meta name="DC.Title" content="PARAM_TITLE" lang="en">
    <meta name="DC.Subject.Keyword" content="Borough,Central London,City of Westminster,council,Council services,England,local authority,Local government,London,United Kingdom,westminster,Westminster Council" lang="en">
    <meta name="DC.Subject.Category" scheme="LGCL" content="Borough,Central London,City of Westminster,council,Council services,England,local authority,Local government,London,United Kingdom,westminster,Westminster Council" lang="en">
    <meta name="eGMS.Subject.Category" scheme="LGCL" content="Borough,Central London,City of Westminster,council,Council services,England,local authority,Local government,London,United Kingdom,westminster,Westminster Council" lang="en">
    <meta name="eGMS.Subject.Category" scheme="IPSV" content="Councils" lang="en">
    <meta name="DC.Subject" scheme="eGMS.IPSV" content="Councils" lang="en">
    <meta name="eGMS.Subject.Category" scheme="GCL" content="Government, politics and public administration" lang="en">
    <meta name="DC.Description" content="Westminster e-Petitions" lang="en">
    <meta name="DC.Type" scheme="DCMIType" content="text">
    <meta name="DC.Creator" content="Westminster City Council" lang="en">
    <meta name="DC.Publisher" content="Westminster City Council" lang="en">
    <meta name="DC.Contributor" content="Westminster City Council" lang="en">
    <meta name="DC.Rights.Copyright" content="Copyright Westminster City Council 2009" lang="en">
    <meta name="DC.Coverage" content="London">
    <meta name="robots" content="all">
    <meta name="identifier" content="PARAM_DC_IDENTIFIER">
    <meta name="format" content="text/xhtml">
    <meta name="resource-type" content="document">
    <meta name="category" content="document">
    <meta name="country" content="uk">
    <meta name="language" content="en">
    <meta name="rights" content="Copyright Westminster City Council">
    <meta name="creator" content="Westminster City Council">
    <meta name="publisher" content="Westminster City Council">
    <meta name="subject" content="Borough,Central London,City of Westminster,council,Council services,England,local authority,Local government,London,United Kingdom,westminster,Westminster Council">
    <meta name="description" content="PARAM_TITLE">
    <meta name="title" content="PARAM_TITLE">
    <meta name="keywords" content="Borough,Central London,City of Westminster,council,Council services,England,local authority,Local government,London,United Kingdom,westminster,Westminster Council">
    <meta name="created" content="2010-10-14 15:00">
    <meta name="lastUpdate" content="2010-10-14 15:00">
    PARAM_RSS_LINKS
    PARAM_EXTRA
  </head>
  <body PARAM_BODYID>
    <div id="container">
      <div id="shadow">
        <div id="shadow-left"></div>
        <div id="shadow-right"></div>
        <div id="site-options">
          <span class="customise"><a href="https://westminster.gov.uk/mywestminster/login/">Log-on to my account</a></span>
          <ul>
            <li class="first"><a href="http://westminster.gov.uk/accessibility/">Problems viewing this site?</a></li>
            <li><a href="http://westminster.gov.uk/contact/">Contact</a></li>
            <li><a href="http://westminster.gov.uk/translations/en" xml:lang="en" class="lang-en" lang="en">Translations</a></li>
          </ul>
        </div>
        <div id="masthead">
          <div id="masthead-banner">
            <a href="http://westminster.gov.uk/"><img src="/assets/westminster/wcc_files/images/crest-reverse.gif" alt="City of Westminster"></a>
            <form id="search-form" method="post" action="http://westminster.gov.uk/search/" onsubmit="submit_search_form()">
              <fieldset>
                <h3><label for="search-term">Search the site</label></h3>
                <input class="text-input search" id="search-term" name="search-term" type="text">
                <input class="go-button" src="/assets/westminster/wcc_files/images/go.gif" onmouseover="this.src='http://westminster.gov.uk/assets/images/buttons/go-roll.gif'" onmouseout="this.src='http://westminster.gov.uk/assets/images/buttons/go.gif'" name="Go" value="Go" alt="Submit the form" type="image">
              </fieldset>
            </form>
            <div class="clear-both"></div>
          </div>
          <div id="nav">
            <ul>
              <li id="nav-home"><a href="http://westminster.gov.uk/">Home</a></li>
              <li id="nav-sevices"><a href="http://westminster.gov.uk/services/">Services</a></li>
              <li id="nav-maps"><a href="http://westminster.gov.uk/maps/">Maps</a></li>
              <li id="nav-apply"><a href="http://westminster.gov.uk/apply/">Apply</a></li>
              <li id="nav-report"><a href="http://westminster.gov.uk/report/">Tell us</a></li>
              <li id="nav-pay"><a href="http://westminster.gov.uk/pay/">Pay</a></li>
              <li id="nav-a-z" class="right"><a href="http://westminster.gov.uk/services/atoz/a">A-Z</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="article-1" class="content">
        <div id="mysoc-nav">
          <ul>
            <li><a href="/">e-Petitions</a></li>
            <li><a href="/new">Create</a></li>
            <li><a href="/list">View</a></li>
            <!--<li class="right"><a href="/terms">terms</a></li>-->
          </ul>
        </div>
        <div id="article-content" class="lang-en" xml:lang="en" lang="en">
          <!--
            <div id="breadcrumb">
              <a href="/">e-Petitions</a>
              &gt;
              PARAM_TITLE
            </div>
          -->
          <div class="header"><h1>PARAM_H1</h1></div>
          <!-- end of head -->
