              <!-- start of foot -->
            </td>
            <td id="rightspace"></td>
            <td id="righthandcolumn">
              <div class="columnwrap">
                <div class="homeAccordion">
                  <div id="abouttheborough">
                    <img src="http://www.guildford.gov.uk/media/aboutimage/4/6/High-Street.jpg" alt="High street" />
                  </div>
                  <div class="x-panel-header x-unselectable x-accordion-hd">
                    <div class="x-tool x-tool-toggle leftarrow" id="abouttheboroughopen" style="display: none;">&nbsp;</div><div class="x-tool x-tool-toggle upwardsarrow" id="abouttheboroughclose" style="display: none;">&nbsp;</div>
                    <span class="x-panel-header-text">
                      <a href="javascript:toggleabouttheborough();">About the borough</a>
                    </span>
                  </div>
                  <div id="visitorattractions">
                    <div class="x-panel-body">
                      <ul>
                        <li>
                          <a href="http://www.guildford.gov.uk/index.aspx?articleid=5789">The Electric Theatre</a>
                        </li>
                        <li>
                          <a href="http://www.guildford.gov.uk/index.aspx?articleid=5790">Guildford House Gallery</a>
                        </li>
                        <li>
                          <a href="http://www.guildford.gov.uk/index.aspx?articleid=5788">Guildford Museum</a>
                        </li>
                        <li>
                          <a href="http://www.guildford.gov.uk/index.aspx?articleid=2909">Guildford Philharmonic Orchestra</a>
                        </li>
                        <li>
                          <a href="http://www.guildford.gov.uk/index.aspx?articleid=5554">Tourism and travel</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="x-panel-header x-unselectable x-accordion-hd">
                    <div class="x-tool x-tool-toggle leftarrow" id="visitorattractionsclose" style="display: none;">&nbsp;</div>
                    <div class="x-tool x-tool-toggle upwardsarrow" id="visitorattractionsopen" style="display: none;">&nbsp;</div>
                    <span class="x-panel-header-text">
                      <a href="javascript:togglevisitorattractions();">Visitor Attractions</a>
                    </span>
                  </div>
                    <script type="text/javascript">//<![CDATA[
                      var va = document.getElementById("visitorattractions");
                      var abc = document.getElementById("abouttheboroughclose");
                      var vac = document.getElementById("visitorattractionsclose");
                      va.style.display = 'none';
                      abc.style.display = 'inline';
                      vac.style.display = 'inline';
                    //]]></script>
                  </div>
                  <div class="relatedBox">
                    <div class="top">
                      <div class="container">
                        <h2>e-Petitions</h2>
                        <ul class="relatedArticles">
                          <li>    
                            <a href="/">Introduction</a>
                          </li>
                          <li>    
                            <a href="/new">Create petition</a>
                          </li>
                          <li>    
                            <a href="/list">View petitions</a>
                          </li>
                          <li>    
                            <a href="/terms">Terms &amp; conditions</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div id="footer">
        <div id="footerimages">
          <a href="http://www.guildford.gov.uk/index.aspx?articleid=362"><img src="http://www.guildford.gov.uk/media/imagevalid/p/o/yourguildford1.gif" title="Your Guildford: For all your local information" alt="Your Guildford: For all your local information"/></a>
          <a href="http://www.facebook.com/guildfordboroughcouncil#!/pages/Guildford-United-Kingdom/Guildford-Borough-Council/125079607537538" rel="external"><img src="http://www.guildford.gov.uk/media/imagevalid/e/a/facebook.gif" title="Find us on Facebook" alt="Find us on Facebook"/></a>
          <a href="http://www.twitter.com/GuildfordBC" rel="external"><img src="http://www.guildford.gov.uk/media/imagevalid/e/8/twitter.gif" title="Follow us on Twitter" alt="Follow us on Twitter"/></a>
          <a href="http://www.youtube.com/GuildfordBC" rel="external"><img src="http://www.guildford.gov.uk/media/imagevalid/d/7/youtube.gif" title="View our Youtube channel" alt="View our Youtube channel"/></a>
        </div>
        <ul id="footerutilnav">
          <li class="first">
            &copy; 2010 Guildford Borough Council  
          </li>
          <li class="i0">
            <a accesskey="a" href="http://www.guildford.gov.uk/index.aspx?articleid=9">Accessibility</a>
          </li>
          <li class="i1">
            <a href="http://www.guildford.gov.uk/index.aspx?articleid=366">Link guidelines</a>
          </li>
        </ul>
        <div class="minifooter"></div>
      </div>
    </div>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-12091009-1");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>
  <!-- SOCITM Take-up Code Updated 31 March 2008-->
  <!-- START rol SiteCensus -->
  <script type="text/javascript">
    /* <![CDATA[ */
    var socitm_my_domains = "www.guildford.gov.uk";
    var socitm_custcode = "171";
    var socitm_intro_file = "/socitm_intro.html";
    /* ]]> */
  </script>
  <script type="text/javascript" src="http://socitm.govmetric.com/js/socitm_wrapper.aspx"></script>
  <noscript>
    <div>
      <a href="http://socitm.govmetric.com/survey.aspx?code=171">Tell us what you think about our site...</a>
      <img src="http://socitm.govmetric.com/imagecounter.aspx?code=171" alt="" />
    </div>
  </noscript>
  <!-- END rol SiteCensus -->
  <!-- end of SOCITM Take-up Code -->
  <script type="text/javascript" src="http://www.guildford.gov.uk/guildford/scripts/ext/adapter/ext/ext-base.js"></script>
  <noscript>
    <div></div>
  </noscript>
  <script type="text/javascript" src="http://www.guildford.gov.uk/guildford/scripts/ext/ext-all.js"></script>
  <noscript>
    <div></div>
  </noscript>
  <script type="text/javascript" src="http://www.guildford.gov.uk/iCMRender.2.10.3.0/iCMRender.Resources.Javascript.iCM.js.axd"></script>
  <noscript>
    <div></div>
  </noscript>
  <script type="text/javascript" src="http://www.guildford.gov.uk/GuildfordControls.1.0.0.0/GuildfordControls.src.main.resources.javascript.Accordion.js.axd"></script>
  <noscript>
    <div></div>
  </noscript>
  <script type="text/javascript">
    //<![CDATA[
    iCM.Accordion.Initialise('page_LeftNavigation_Accordion',[{"title":"Services","tabHtmlId":"page_LeftNavigation_services_tab","titleClass":"tabtitle","bodyClass":"tabbody"},{"title":"Report, pay, apply","tabHtmlId":"page_LeftNavigation_reportpayapply_tab","titleClass":"tabtitle","bodyClass":"tabbody"},{"title":"A - Z of services","tabHtmlId":"page_LeftNavigation_atoztab_tab","titleClass":"tabtitle","bodyClass":"tabbody"},{"title":"Contact us","tabHtmlId":"page_LeftNavigation_contacttab_tab","titleClass":"tabtitle","bodyClass":"tabbody"}]);
    //]]>
  </script>
  <script type="text/javascript" src="http://www.guildford.gov.uk/guildford/scripts/jcarousellite_1.0.1.min.js"></script>
  <script type="text/javascript">
    var elem = document.getElementById("leftnavcontainer");
    elem.style.display = "block";
  </script>
</body>
</html>
