                <!-- start of foot -->
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="row footer">
                    <div class="span6">
                        <ul class="unstyled">
                            <li>&copy; 2013 Guildford Borough Council</li>
                            <li class="alt i0 btn btn-mini btn-link"><a href="http://www.guildford.gov.uk/linkguidelines">Link guidelines</a></li>
                            <li class="alt i1 btn btn-mini btn-link"><a href="http://www.guildford.gov.uk/article/11482/News-RSS">News RSS</a></li>
                            <li class="alt i2 btn btn-mini btn-link"><a href="http://www.guildford.gov.uk/article/11483/Events-RSS">Events RSS</a></li>
                            <li class="alt i3 btn btn-mini btn-link"><a href="http://www.guildford.gov.uk/article/11650/GOVUK">GOV.UK</a></li>
                            <li>
                                <a href="https://socitm.govmetric.com/survey.aspx?code=171" rel="external" title="Tell us what you think about our site" class="btn btn-mini btn-link">Tell us what you think about our site...</a>
                                <img src="https://socitm.govmetric.com/imagecounter.aspx?code=171" alt="" height="0" width="0">
                            </li>
                        </ul>
                    </div>
                    <div class="span6 align-right">
                        <ul class="unstyled">
                            <li><a href="http://www.customerserviceexcellence.uk.com/" rel="external"><img src="http://www.guildford.gov.uk/media/imagevalid/g/7/CustomerServiceExcellence.gif" title="Customer Service Excellence logo" alt="Customer Service Excellence logo"/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tweets invisible hidden-phone">
        <div class="container">
            <ul class="unstyled"></ul>
        </div>
    </div>
    <div class="cookie">
        <a href="http://www.guildford.gov.uk/cookiepolicy"><img id="cookiepolicy" src="http://www.guildford.gov.uk/guildford/images/cookiepolicy.gif" alt="Cookie Policy" title="Cookie Policy" /></a>
    </div>
</body>
</html>
