              <!-- start of foot -->
            </td>
            <td id="rightspace"></td>
          </tr>
        </table>
      </div>
      <div id="footer">
        <div id="footerimages">
          <a href="http://www.guildford.gov.uk/index.aspx?articleid=362"><img src="http://www.guildford.gov.uk/media/imagevalid/p/o/yourguildford1.gif" title="Your Guildford: For all your local information" alt="Your Guildford: For all your local information"/></a>
          <a href="http://www.facebook.com/guildfordboroughcouncil#!/pages/Guildford-United-Kingdom/Guildford-Borough-Council/125079607537538" rel="external"><img src="http://www.guildford.gov.uk/media/imagevalid/e/a/facebook.gif" title="Find us on Facebook" alt="Find us on Facebook"/></a>
          <a href="http://www.twitter.com/GuildfordBC" rel="external"><img src="http://www.guildford.gov.uk/media/imagevalid/e/8/twitter.gif" title="Follow us on Twitter" alt="Follow us on Twitter"/></a>
          <a href="http://www.youtube.com/GuildfordBC" rel="external"><img src="http://www.guildford.gov.uk/media/imagevalid/d/7/youtube.gif" title="View our Youtube channel" alt="View our Youtube channel"/></a>
        </div>
        <ul id="footerutilnav">
          <li class="first">
            &copy; 2010 Guildford Borough Council  
          </li>
          <li class="i0">
            <a accesskey="a" href="http://www.guildford.gov.uk/index.aspx?articleid=9">Accessibility</a>
          </li>
          <li class="i1">
            <a href="http://www.guildford.gov.uk/index.aspx?articleid=366">Link guidelines</a>
          </li>
        </ul>
        <div class="minifooter"></div>
      </div>
    </div>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-12091009-1");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>
  <!-- SOCITM Take-up Code Updated 31 March 2008-->
  <!-- START rol SiteCensus -->
  <script type="text/javascript">
    /* <![CDATA[ */
    var socitm_my_domains = "www.guildford.gov.uk";
    var socitm_custcode = "171";
    var socitm_intro_file = "/socitm_intro.html";
    /* ]]> */
  </script>
  <script type="text/javascript" src="http://socitm.govmetric.com/js/socitm_wrapper.aspx"></script>
  <noscript>
    <div>
      <a href="http://socitm.govmetric.com/survey.aspx?code=171">Tell us what you think about our site...</a>
      <img src="http://socitm.govmetric.com/imagecounter.aspx?code=171" alt="" />
    </div>
  </noscript>
  <!-- END rol SiteCensus -->
  <!-- end of SOCITM Take-up Code -->
  <script type="text/javascript" src="http://www.guildford.gov.uk/guildford/scripts/ext/adapter/ext/ext-base.js"></script>
  <noscript>
    <div></div>
  </noscript>
  <script type="text/javascript" src="http://www.guildford.gov.uk/guildford/scripts/ext/ext-all.js"></script>
  <noscript>
    <div></div>
  </noscript>
  <script type="text/javascript" src="http://www.guildford.gov.uk/iCMRender.2.10.3.0/iCMRender.Resources.Javascript.iCM.js.axd"></script>
  <noscript>
    <div></div>
  </noscript>
  <script type="text/javascript" src="http://www.guildford.gov.uk/GuildfordControls.1.0.0.0/GuildfordControls.src.main.resources.javascript.Accordion.js.axd"></script>
  <noscript>
    <div></div>
  </noscript>
  <script type="text/javascript">
    //<![CDATA[
    iCM.Accordion.Initialise('page_LeftNavigation_Accordion',[{"title":"Services","tabHtmlId":"page_LeftNavigation_services_tab","titleClass":"tabtitle","bodyClass":"tabbody"},{"title":"Report, pay, apply","tabHtmlId":"page_LeftNavigation_reportpayapply_tab","titleClass":"tabtitle","bodyClass":"tabbody"},{"title":"A - Z of services","tabHtmlId":"page_LeftNavigation_atoztab_tab","titleClass":"tabtitle","bodyClass":"tabbody"},{"title":"Contact us","tabHtmlId":"page_LeftNavigation_contacttab_tab","titleClass":"tabtitle","bodyClass":"tabbody"}]);
    //]]>
  </script>
  <script type="text/javascript" src="http://www.guildford.gov.uk/guildford/scripts/jcarousellite_1.0.1.min.js"></script>
  <script type="text/javascript">
    var elem = document.getElementById("leftnavcontainer");
    elem.style.display = "block";
  </script>
</body>
</html>
