/* from WebResource.axd... 
table.ImmTS_Default{padding: 0px;width: 100%;background-color: #FFFFFF;border-collapse: collapse;}table.ImmTS_Default th, table.ImmTS_Default td{padding: 2px;margin: 2px;}table.ImmTS_Default, table.ImmTS_Default th, table.ImmTS_Default td{border: 1px solid black;}table.ImmTS_Default th{background-color: white;color: black;}table.ImmTS_Default tr{vertical-align: top;}.ImmTextAlign_Left{text-align: left;}.ImmTextAlign_Center{text-align: center;}.ImmTextAlign_Right{text-align: right;}.ImmTextAlign_Justify{text-align: justify;}.ImmControlAlign_Left{float: left;clear: both;margin-right: 7px;}.ImmControlAlign_Right{float: right;clear: both;margin-left: 7px;}.ImmVerticalAlign_Top{vertical-align: top !important;}.ImmVerticalAlign_Middle{vertical-align: middle !important;}.ImmVerticalAlign_Bottom{vertical-align: bottom !important;}.ImmUnderline_On{text-decoration: underline;}.ImmIndent_1{margin-left: 20px;}.ImmIndent_2{margin-left: 40px;}.ImmIndent_3{margin-left: 60px;}.ImmIndent_4{margin-left: 80px;}.ImmIndent_5{margin-left: 100px;}.ImmIndent_6{margin-left: 120px;}.ImmIndent_7{margin-left: 140px;}.ImmIndent_8{margin-left: 160px;}.ImmIndent_9{margin-left: 180px;}.ImmIndent_10{margin-left: 200px;}.ImmIndent_11{margin-left: 220px;}.ImmIndent_12{margin-left: 240px;}.ImmIndent_13{margin-left: 260px;}.ImmIndent_14{margin-left: 280px;}.ImmIndent_15{margin-left: 300px;}IMG{border-width: 0px;}
*/

div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #E85C14;
}
.petition_view_tabs span {
    background-color: #E85C14;
}

#action_view a, #action_create a{
    text-decoration: none;
}

#action_view a:hover, #action_create a:hover {
    text-decoration: none;
}

h3 {
  margin: 0.333em 0 ;
}

div#petition_actions {
    margin-bottom: 1em;
}

p.petition_view_tabs {
    margin-bottom: 1em;
}


#action_create a, #action_create a:active {
    background-image: url('/assets/barrowbc/petition_button_create.png');
}
#action_view a, #action_view a:active {
    background-image: url('/assets/barrowbc/petition_button_view.png');
}
#action_create a, #action_view a, 
#action_create a:active, #action_view a:active  {
    display: block;
    text-align: center;
    padding-top: 80px;
    background-position: center top;
    background-repeat: no-repeat;
}
#action_create a:hover, #action_view a:hover {
    background-position: center -300px;
}

#action_create a img,  #action_view a img {
    display: none;
}
