#mysociety {
    float: right;
    width: 100%;
    padding: 2em;
}

div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

div#front_how {
    float: left;
    margin-top: 1em;
    width: 45%;
}

p.petition_view_tabs {
    border-bottom: solid 2px #009778;
}
.petition_view_tabs span {
    background-color: #009778;
}
