div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

#most_popular h3 {
    margin-top: 0;
}

div#front_how {
    float: left;
    width: 45%;
}

form#signForm label {
    width: 8em;
}

