div#petition_actions {
    border: none;
}

div#most_recent {
    float: right;
}

#most_popular h3 {
    margin-top: 0;
}

div#front_how {
    float: left;
    width: 45%;
}

form#signForm label {
    width: 8em;
}

.loudmessage {
    font-size: 100%;
}

input.error, input[type=text].error, select.error, input[type=radio].error, textarea.error {
    border: solid 1px #df0000;
    background-color: #ffefef;
}

p.petition_view_tabs {
    border-bottom: solid 2px #02614D;
}
.petition_view_tabs span {
    background-color: #02614D;
}

.list_sort_by {
    text-align: left;
}

