/* Generics */

body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Arial, sans-serif;
    background-color: #000000;
    color: #000000;
}

a:link {
    color: #0000ff;
}
a:visited {
    color: #000099;
}
a:focus, a:active, a:hover {
    color: #cc0000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Candara, "Trebuchet MS", Helvetica, Arial, sans-serif;
}

h1 {
    color: #ffffff;
    padding: 0.4em 0.25em 0.4em 2em;
    margin: 0.2em 0 0 0;
    font-size: 180%;
    width: 13em;
}

h2 {
    margin-top: 0;
}

dt {
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}

table {
    border: none;
    border-collapse: collapse;
}

th, td {
    border: none;
    border-bottom: solid 1px #666666;
    padding: 4px;
    margin: 0;
}

tr.a, li.a {
    background-color: #ffffee;
}

tr:nth-child(2n) {
    background-color: #ffffcc;
}

input, textarea {
    padding: 3px;
    border: solid 1px #999966;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/* Site layout */

/* A wrapper div because of IE6 transparency issues with links */
#message {
    position: fixed;
    font-size: 83%;
    top: 0;
    right: 0;
    text-align: center;
}
#message_wrap {
    background: transparent url("/assets/sbdc1/red.png");
    background: rgba(153, 0, 0, 0.8) none;
    color: #ffffff;
    width: 15em;
    padding: 0.5em;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
#message a {
    color: #ffffff;
}
#message a:hover {
    color: #000000;
}

#wrapper {
    max-width: 60em;
    margin: 0 auto;
}

#header {
    padding: 1em 0 0 0em;
    margin-bottom: 0;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("/assets/sbdc1/sunny_big_c.jpg");
}

#nav {
    list-style-type: none;
    margin: 0 auto;
    padding: 35px 0 0 0;
    overflow: hidden;
    max-width: 42em;
}

#nav li {
    display: block;
    margin: 0 10px 0 0;
    padding: 0 0 0 0;
}
#nav a {
    display: inline-block;
    float:left;
    background-image: url("/assets/sbdc1/curved_nav_tab.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-color: transparent;
    margin: 0px 10px 0px 0px;
    color: #105510;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 0 0px 10px;
}
#nav a span{
    display: inline-block;
    float:left;
    background-image: url("/assets/sbdc1/curved_nav_tab.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-color: transparent;
    padding: 8px 10px 8px 0;
    margin:0 0 0 0;
}
#nav a:hover {
    background-image: url("/assets/sbdc1/curved_nav_tab_active.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    color:#ffffff;
    background-color: #000000;
    font-weight: bold;
}
#nav a span:hover{
    background-image: url("/assets/sbdc1/curved_nav_tab_active.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #000000;    
}

#main_wrap{
    background-image: url("/assets/sbdc1/dark_background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #000000;
}

#main {
    clear: both;
    color: #000000;
    background-image: url("/assets/sbdc1/light_background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #ffffff;
    padding: 0 0;
    max-width: 42em;
    margin: 0 auto;
}
#main_content {
    width: auto;
    padding: 1.5em 1.5em 0em 1.5em;
    overflow: auto;
    margin: 0 0;
}

#admin #header {
    background-image: url("/assets/sbdc1/admin/admin_header.jpg");    
}
#admin #main {
    max-width: 57em;
    background-image: url("/assets/sbdc1/admin/light_background.jpg");
}
#admin #nav {
    max-width: 57em;
}
#admin #main_wrap{
    background-image: url("/assets/sbdc1/admin/dark_background.jpg");
}
#admin #nav a, #admin #nav a span{
    background-image: url("/assets/sbdc1/admin/curved_nav_tab.jpg");
    color: #660000;
}
#admin #nav a:hover, #admin #nav a span:hover{
    background-image: url("/assets/sbdc1/admin/curved_nav_tab_active.jpg");
    color: #ffffff;
}

#footer {
    clear: both;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0.5em 1em;
    font-size: 83%;
}
#footer ul {
    list-style-type: none;
    padding: 0.5em 0;
    margin: 0;
}
#footer li {
    display: inline;
    margin: 0 0.5em;
}

#footer a {
    color: #ddddcc;
}

#admin_nav {
    float: right;
    width: 25em;
    border: solid 1px #cccccc;
    border-top: none;
    padding: 0.25em 0 0 0.5em;
    margin: -24px 0 0.5em 0.5em;
}

/* Bits and pieces */

div.petition_box {
    background-color: #ffffcc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#petition_actions {
    overflow: auto;
}
#petition_actions a {
    text-decoration: none;
}

#errors > p {
    margin-top: 0;
}

p.petition_view_tabs {
    border-bottom: solid 2px #cccc66;
    margin: 0;
    padding: 0;
    line-height: 2;
}
.petition_view_tabs span {
    font-weight: normal;
    background-color: #cccc66;
    color: #ffffff;
    padding: 0.4em;
}
.petition_view_tabs a {
    background-color: #999999;
    color: #ffffff;
    text-decoration: none;
    padding: 0.3em;
}

div#signatories {
   clear: left;
}

div#most_recent {
    float: right;
}

#most_popular h3 {
    margin-top: 0;
}

div#petition_actions {
    float: left;
    width: 45%;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    font-size: 150%;
    margin: 0 1em 0 0;
    padding: 5px;
}

div#front_how {
    float: left;
    width: 45%;
}

form#signForm label {
    width: 8em;
}

#main_wrap_bottom{
    height:30px;
    width:100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url("/assets/sbdc1/left-corner.png");
    margin: 0;
    padding:0;
}
#main_wrap_bottom span{
    display: block;
    float: right;
    width: 100px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("/assets/sbdc1/right-corner.png");
}

