<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-gb">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>PARAM_TITLE | mySociety council petitions</title>
<link rel="stylesheet" type="text/css" href="/pet.css">
<link rel="stylesheet" type="text/css" href="/assets/councils/css.css">
PARAM_RSS_LINKS
<meta name="keywords" content="number 10, petition, petitions, downing street, prime minister, pm">
<meta name="description" content="PARAM_DESCRIPTION">
<meta name="eGMS.accessibility" scheme="WCAG" content="Double-A">
<meta name="dc.creator" content="PARAM_CREATOR">
<meta name="dc.language" scheme="ISO 639-2/T" content="eng">
<meta name="dc.publisher" content="mySociety">
<meta name="dc.identifier" content="PARAM_DC_IDENTIFIER">
<!-- PARAM_SUBJECTS -->
<meta name="dc.title" content="PARAM_TITLE">
PARAM_EXTRA
</head>
<body>

<h1>mySociety council petitions</h1>

<ul role="navigation" id="nav">
<li><a href="/">Home</a></li>
<li><a href="/list">View petitions</a></li>
<li><a href="/new">Create a petition</a></li>
<li><a href="/about">About e-petitions</a></li>
<li><a href="/steps">Step-by-Step Guide</a></li>
<li><a href="/faq">Help</a></li>
</ul>

<div id="main">
