<!-- MAIN CONTENT END -->
                </div>
            </article>
        </main>

        <footer class="site-footer" role="contentinfo">
            <div class="trim">
				<span class="one"></span>
				<span class="two"></span>
				<span class="thr"></span>
			</div>
            <div class="container">
                <div class="left column">
                    <ul>
                        <li>
                            <a href="https://www3.rbwm.gov.uk/terms">Disclaimer</a>
                        </li>
                        <li>
                            <a href="https://www3.rbwm.gov.uk/privacy">Privacy &amp; Cookies</a>
                        </li>
                        <li>
                            <a href="https://www3.rbwm.gov.uk/complaints">Complaints</a>
                        </li>
                    </ul>
                    <p>Copyright &copy; The Royal Borough of Windsor and Maidenhead, Town Hall, St Ives Road, Maidenhead SL6 1RF</p>
                    <p>
                        <span class="row"><abbr title="Email">E</abbr>: <a href="mailto:customer.service@rbwm.gov.uk">customer.service@rbwm.gov.uk</a></span>
                        <span class="divide"> | </span>
                        <span class="row"><abbr title="Telephone">T</abbr>: 01628 683800</span>
                        <span class="divide"> | </span>
                        <span class="row"><abbr title="Fax">F</abbr>: 01628 685757</span>
                    </p>
                </div>
                <div class="right column">
					<div class="social">
						<ul>
							<li>
								<a href="https://www3.rbwm.gov.uk/facebook">
									<i class="icon-facebook-sign" title="Facebook"></i>
									<span class="visually-hidden">Facebook</span>
								</a>
							</li>
							<li>
								<a href="https://www3.rbwm.gov.uk/twitter">
									<i class="icon-twitter-sign" title="Twitter"></i>
									<span class="visually-hidden">Twitter</span>
								</a>
							</li>
							<li>
								<a href="https://www3.rbwm.gov.uk/youtube">
									<i class="icon-youtube-sign" title="YouTube"></i>
									<span class="visually-hidden">YouTube</span>
								</a>
							</li>
							<li>
								<a href="https://www3.rbwm.gov.uk/rssnews">
									<i class="icon-rss-sign" title="RSS Feed"></i>
									<span class="visually-hidden">RSS Feed</span>
								</a>
							</li>
						</ul>
					</div>
					<a class="logo" href="https://www3.rbwm.gov.uk/">
						<img src="/assets/rbwm/files/img/logo.png" alt="The Royal Borough of Windsor and Maidenhead">
					</a>
				</div>
                <div class="back-top">
                    <a href="#main">
                        <span>BACK TO THE TOP</span>
                        <i class="icon-arrow-up"></i>
                    </a>
                </div>
            </div>
        </footer>

		<script src="/assets/rbwm/files/js/jquery.js"></script>
        <script src="/assets/rbwm/files/js/main.js"></script>
<!--[if lte IE 8]>
        <script src="/assets/rbwm/files/js/main-oldie.js"></script>
<![endif]-->
<!--[if gt IE 8]><!-->
        <script src="/assets/rbwm/files/js/main-rwd.js"></script>
<!--<![endif]-->
</body></html>
