<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>          <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en"><!--<![endif]--><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <script>
            (function (html) {
                html.className = html.className.replace(/\bno-js\b/, '');
            })(document.getElementsByTagName('html')[0]);
        </script>
        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www3.rbwm.gov.uk/rss/news">
        <link rel="shortcut icon" type="image/x-icon" href="//www3.rbwm.gov.uk/site/favicon.ico">
        <link rel="apple-touch-icon" href="//www3.rbwm.gov.uk/site/apple-touch-icon.png">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700">
        <link rel="stylesheet" href="/assets/rbwm/files/css/font-awesome.css">
        <link rel="stylesheet" href="/assets/rbwm/files/css/base.css">
<!--[if lte IE 8]>
        <link rel="stylesheet" href="/assets/rbwm/files/css/rbwm-oldie.css">
        <script src="/assets/rbwm/files/js/html5shiv.min.js"></script>
<![endif]-->
<!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/assets/rbwm/files/css/rbwm.css">
<!--<![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="DC.title" lang="en" content="e-Petitions" xml:lang="en" />
        <meta name="DC.description" lang="en" content="PARAM_DESCRIPTION." xml:lang="en" />
        <meta name="DC.identifier" scheme="URI" content="PARAM_DC_IDENTIFIER" />
        <meta name="DC.format" scheme="IMT" content="text/html" />
        <meta name="DC.language" scheme="RFC3066" content="en-GB" />
        <meta name="DC.language" scheme="ISO639-2/T" content="eng" />
        <meta name="DC.subject" lang="en" content="Local Government" xml:lang="en" />
        <meta name="eGMS.subject.category" scheme="IPSV" lang="en" content="Online petitions" xml:lang="en" />
        <meta name="eGMS.subject.service" scheme="LGSL" content=" 354" />
        <meta name="DC.coverage" content="UK" />
        <meta name="DC.coverage.spacial" lang="en" content="The Royal Borough of Windsor and Maidenhead, Berkshire, United Kingdom" xml:lang="en" />
        <meta name="DC.date.created" scheme="W3CDTF" content="2015-08-21" />
        <meta name="DC.date.issued" content="PARAM_DATE" />
        <meta name="DC.date.modified"  content="PARAM_DATE" />
        <meta name="DC.rights.copyright" lang="en" content="The Royal Borough of Windsor and Maidenhead" xml:lang="en" />
        <meta name="DC.rights" scheme="URI" content="http://www.rbwm.gov.uk/copyrite.htm" />
        <meta name="DC.creator" content="The Royal Borough of Windsor and Maidenhead, Web-Manager, email mailto:customer.service@rbwm.gov.uk" />
        <meta name="DC.date" content="PARAM_DATE" />
        <meta name="DC.publisher" lang="en" content=" The Royal Borough of Windsor and Maidenhead, The Townhall, St Ives Road, Maidenhead, SL6 1RF United Kingdom - Tel: +44 (0)1628 683800 - Fax: +44 (0)1628 685757 - Email: mailto:customer.service@rbwm.gov.uk" xml:lang="en" /><!-- END - Dublin Core DC Meta-Tags -->
        <!-- START - Standard Meta-Tags -->
        <meta name="identifier" content="PARAM_DC_IDENTIFIER" />
        <meta name="format" content="text/html" />
        <meta name="description" content="PARAM_DESCRIPTION." />
        <meta name="country" content="uk" />
        <meta name="language" content="en" />
        <meta name="rights" content="The Royal Borough of Windsor and Maidenhead. All rights reserved" />
        <meta name="publisher" content="The Royal Borough of Windsor and Maidenhead, The Townhall, St Ives Road, Maidenhead, SL6 1RF United Kingdom - Tel: +44 (0)1628 683800 - Fax: +44 (0)1628 685757 - Email: mailto:customer.service@rbwm.gov.uk" />
        <meta name="subject" content="Unitary Authority, Local Government, Council Services" />
        <meta name="keywords" content="petitions, electronic" />
        <meta name="robots" content="all" />
        <meta name="revisit" content="7 days" />
        <meta name="created" content="2015-08-21" />
        <meta name="modified" content="PARAM_DATE" /><!-- END - Standard Meta-Tags -->
        <link rel="shortcut icon" href="http://www.rbwm.gov.uk/graphics/favicon.ico" />

        <script src="/assets/rbwm/files/js/modernizr.js"></script>
        <title>PARAM_TITLE | The Royal Borough of Windsor and Maidenhead</title>
        <link href="/pet.css" rel="stylesheet" type="text/css" />
        <link href="/assets/rbwm/css.css" type="text/css" rel="stylesheet" />
         PARAM_RSS_LINKS
         PARAM_EXTRA
    </head>
    <body class=" one-column"  PARAM_BODYID>

        <header role="banner" class="site-header" id="top">
            <ul class="visually-hidden skip-links">
                <li>
                    <a href="#content" rel="nofollow">Skip to content</a>
                </li>
                <li>
                    <a href="#navigation" rel="nofollow">Skip to main navigation</a>
                </li>
            </ul>

            <div class="logo">
                <a href="http://www3.rbwm.gov.uk/">
                    <img src="/assets/rbwm/files/img/logo.png" alt="">
                    <span class="visually-hidden">The Royal Borough of Windsor and Maidenhead</span>
                </a>
            </div>
			<div class="search">
				<div id="sb-search" class="sb-search sb-search-open">
                    <form action="http://www3.rbwm.gov.uk/search/search.asp" method="get">
                        <label for="zoom_query" class="visually-hidden">Search this site</label>
                        <input class="sb-search-input" placeholder="Search website (e.g. council tax)" size="18" maxlength="40" name="zoom_query" id="zoom_query" type="search">
                        <button class="sb-search-submit">
                            <span class="sb-icon-search icon-search"></span>
                            <span class="visually-hidden">Search</span>
                        </button>
                    </form>
                </div>
            </div>
        </header>

<!-- TOP NAVIGATION -->
        <div class="navigation" id="navigation">
			<a aria-hidden="true" class="nav-toggle" href="#">Menu</a><nav aria-hidden="false" class="nav-collapse nav-collapse-0 closed">
				<div class="inner">
                    <ul>
                        <li>
                            <a href="http://www3.rbwm.gov.uk/">Home</a>
                        </li>
                        <li>
                            <a href="http://www3.rbwm.gov.uk/info/200127/contact_the_council/60/contact_us">Contact Us</a>
                        </li>
                        <li>
                            <a href="http://www3.rbwm.gov.uk/info/200409/data_protection/59/privacy_and_cookies">Privacy &amp; Cookies</a>
                        </li>
					</ul>
				</div>
			</nav>
		</div>
<!-- TOP NAVIGATION END -->

        <main class="main" id="content" role="main">
            <div class="title-banner">
                <div class="container">
<!-- PAGE TITLE -->
                    <h1>PARAM_TITLE</h1>
<!-- PAGE TITLE END -->
                </div>
            </div>

            <div class="container">
                <nav class="breadcrumb">
<!-- BREADCRUMB -->
                    <ol>
                        <li>
                            <a href="http://www3.rbwm.gov.uk" rel="home">Home</a>
                        </li>
                        <li>
                            <a href="/">Petitions</a>
                        </li>
                        <li>
                            <span>PARAM_TITLE</span>
                        </li>
                    </ol>
<!-- BREADCRUMB END -->
                </nav>
            </div>

            <article class="main-content">
                <div class="container">
<!-- MAIN CONTENT -->
