							<!-- start of foot -->
						</div>
					</div>
					<div class="clearfloat"></div>
				</div><!--end #innercontent-->
			</div><!--end #innercontainer-->
		</div><!--end #content-->
		<br class="clearfloat"/>
		<div id="footerBorder">  
			<ul id="footer">
				<li><a href="http://www.barrowbc.gov.uk/default.aspx?page=351">Feedback</a></li>
				<li><a href="http://www.barrowbc.gov.uk/default.aspx?page=115">Privacy policy</a></li>
			</ul>
			<div id ="footerCenter" >
				Barrow Borough Council, Town Hall, Duke Street, Barrow-In-Furness,
				Cumbria, LA14 2LD, U.K.
				<br />
				Electoral Services: Tel: 01229&nbsp;876318 | Fax: 01229&nbsp;876340
				| <a class="contact" href="mailto:elecreg@barrowbc.gov.uk">elecreg@barrowbc.gov.uk</a>&nbsp;
				<span class="rm"> | </span>
			</div>
			<dl id="footerRight">
				<dd>Copyright 2008 Barrow Borough Council</dd>
				<dd>Last Updated 8/20/2010</dd>
			</dl>
			<div class="clearfloat"></div>
		</div><!--end #footerBorder-->
	</div><!--end #container-->
</body>
</html>

