<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head id="Template_Head1">
	<title>
		PARAM_TITLE
	</title>
	<meta name="description" content="Barrow-in-Furness Borough Council - Elections and Electoral Registration Information"/>
	<meta name="keywords" content="Barrow, Furness, council, borough, local, authority, web, site, website, dalton, askam, lindal, government, services, Cumbria, Lancashire, lake, district, England, Britain, United Kingdom, UK, election, elections, democracy, democratic process  "/>
	<!--
	 START: Immediacy to add eGMS elements
	<script src="/js/jquery-1.1.3.pack.js" type="text/javascript"></script>
	<script src="/js/jquery.equalizecols.js" type="text/javascript"></script>
	-->
	<script src="http://www.barrowbc.gov.uk/js/core.js" type="text/javascript"></script>
	<!-- core libaray of javascript functions -->
	<script src="http://www.barrowbc.gov.uk/js/h_actions.js" type="text/javascript"></script>
	<!-- targeted function calls just for this page -->
	<!-- START: Immediacy standard required parts -->
	<script src="http://www.barrowbc.gov.uk/js/common.js" type="text/javascript"></script>
	<script type="text/javascript" src="http://www.barrowbc.gov.uk/js/jquery.js"></script>
	<link href="http://www.barrowbc.gov.uk/templates/default/css/system/core.css" type="text/css" rel="stylesheet" />
	<link href="http://www.barrowbc.gov.uk/templates/default/css/system/design.css" type="text/css" rel="stylesheet" />
	<!--[if IE 6.0]>
	    <script type="text/javascript" src="http://www.barrowbc.gov.uk/js/IEHoverCSS.js"></script>
	    <link href="http://www.barrowbc.gov.uk/templates/default/css/system/ie.css" rel="stylesheet" type="text/css" />
		<link href="http://www.barrowbc.gov.uk/templates/default/css/system.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/pet.css" />
	<link href="/assets/barrowbc/css.css" type="text/css" rel="stylesheet" />
</head>   
<body>
<!-- skiplinks -->
	<div class="hide"> 
		<a href="#twocol-content">skip to content</a>
	</div>
<!-- end skiplinks -->
	<div id="container">
		<ul id="tools">
			<li><a href="http://www.barrowbc.gov.ukdefault.aspx?page=75">Accessibility help</a></li>
<!--
  		<li><a href="http://www.barrowbc.gov.ukdefault.aspx?page=363&amp;theme=textonly">Text only</a></li> 
   		<li><a href="http://www.barrowbc.gov.ukdefault.aspx?page=363&amp;theme=print" onclick="window.open(this.href, '_blank'); return false;" onkeypress="if (event.keyCode==13) {window.open(this.href, '_blank'); return false;}">Printer friendly</a></li>
-->
		</ul>
		<ul id="toolsRight">
			<li><a href="http://www.barrowbc.gov.uk/default.aspx?page=3361">A to Z of Pages</a></li>
			<li><a href="http://www.barrowbc.gov.uk/default.aspx?page=41">Site map</a></li>
			<li><a href="http://www.barrowbc.gov.uk/default.aspx?page=3405">A to Z of Services</a></li>
			<li><a href="http://www.barrowbc.gov.uk/default.aspx?page=2677">Contact us</a></li>
		</ul>
		<div class="clearfloat"></div>
		<div id="masterhead">
			<div id="masterlogo"><a href="default.aspx?page=0" title="Barrow Borough Council Home Page"><img src="http://www.barrowbc.gov.uk/images/logo.gif" alt="Barrow Borough Council Home Page" width="80" height="69" /></a> 
			<!--    <p id="welcome">Welcome to Barrow Borough Council</p></div> -->
				<p id="welcome">Barrow Borough Council</p>
			</div> <!-- end #masterlogo-->
		</div><!--end #masterhead-->
		<div class="clearfloat"></div>
		<div id="branchHeader">
			<h1> e-Petitions </h1>    
			<div class="clearfloat"></div>
		</div><!--end #branchHeader -->
		<div id="sidebar1">	<!-- inserts main side navigation plugin -->
			<ul>
				<li class="level0"><a href="default.aspx?page=0">Home</a></li>
			</ul>
			<!--- Start Navigation -->			
			<ul>
				<li class="level0"><a href="http://www.barrowbc.gov.uk/default.aspx?page=3325" title="Advice and Benefits">Advice and Benefits</a></li>
				<li class="level0"><a href="http://www.barrowbc.gov.uk/default.aspx?page=43" title="Business">Business</a></li>
				<li class="level0"><a href="http://www.barrowbc.gov.uk/default.aspx?page=44" title="Community &amp; Living">Community &amp; Living</a></li>
				<li class="level0"><a href="http://www.barrowbc.gov.uk/default.aspx?page=45" title="Council &amp; Democracy">Council &amp; Democracy</a></li>
				<li class="level0">
					<ul>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=342" title="Committees">Committees</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=113" title="Complaints">Complaints</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=1910" title="Community Consultation">Community Consultation</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=2677" title="Contacts">Contacts</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=3554" title="Corporate Documents">Corporate Documents</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=360" title="Council">Council</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=79" title="Councillors">Councillors</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=439" title="Council Tax">Council Tax</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=1197" onclick="window.open(this.href, '_blank'); return false;" onkeypress="if (event.keyCode==13) {window.open(this.href, '_blank'); return false;}" title="Data Protection &amp; Freedom of Information">Data Protection &amp; Freedom of Information</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=363" title="Democracy and Elections">Democracy and Elections</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=86" title="Departments">Departments</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=393" title="Finances">Finances</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=335" title="Forward Plan">Forward Plan</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=1131" title="Fraud Hotline">Fraud Hotline</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=1319" title="Information Management">Information Management</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=77" title="Job Vacancies">Job Vacancies</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=445" title="Mayor">Mayor</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=927" title="Media Enquiries">Media Enquiries</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=1989" title="NNDR (Business Rates)">NNDR (Business Rates)</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=362" title="Parish Councils">Parish Councils</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=284" title="Policy &amp; Performance">Policy &amp; Performance</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=4116" title="Procurement">Procurement</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=1702" title="Public Services">Public Services</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=402" title="Statistics">Statistics</a></li>
						<li class="level1"><a href="http://www.barrowbc.gov.uk/default.aspx?page=406" title="Wards">Wards</a></li>
					</ul>
				</li>
				<li class="level0"><a href="http://www.barrowbc.gov.uk/default.aspx?page=46" title="Environment">Environment</a></li>
				<li class="level0"><a href="http://www.barrowbc.gov.uk/default.aspx?page=47" title="Housing">Housing</a></li>
				<li class="level0"><a href="http://www.barrowbc.gov.uk/default.aspx?page=48" title="Leisure &amp; Culture">Leisure &amp; Culture</a></li>
				<li class="level0"><a href="http://www.barrowbc.gov.uk/default.aspx?page=1890" title="Planning">Planning</a></li>
				<li class="level0"><a href="http://www.barrowbc.gov.uk/default.aspx?page=50" title="Transport &amp; Streets">Transport &amp; Streets</a></li>
			</ul>
			<!--- End Navigation -->	
			<!-- Addition to Navigation Menu starts here -->
			<ul>
				<li class="level0"><a href="http://www.barrowbc.gov.uk/default.aspx?page=2011">How to contact us</a></li>
	    	</ul>
			<!-- Addition to Navigation Menu ends here -->
			<!-- WebMetric snippet starts here -->
			<!--
			<div class="govmetric">
				<br />
				<p>How do you rate this information/ service?</p>
				<a href="http://www.govmetric.com/WebMetric/websatisfaction.aspx?metric1.x=y&amp;organisationid=52">
				<img src="http://www.govmetric.com/images/med-greenface.gif" alt="Rate this page as Good" /></a>
				<a href="http://www.govmetric.com/WebMetric/websatisfaction.aspx?metric2.x=y&amp;organisationid=52">
				<img src="http://www.govmetric.com/images/med-orangeface.gif" alt="Rate this page as Average"/></a>
				<a href="http://www.govmetric.com/WebMetric/websatisfaction.aspx?metric3.x=y&amp;organisationid=52">
				<img src="http://www.govmetric.com/images/med-redface.gif" alt="Rate this page as Poor"/></a>
				<br />
				<p><a href="default.aspx?page=3921">What we do with your feedback</a></p> 
			</div>
			-->
			<!-- WebMetric snippet ends here -->
		</div><!--end #sidebar1-->  
		<div id="twocol-content"> 
			<div id="twocol-innercontainer" >
				<div id="twocol-innercontent" > 
					<div id="twocol-breadcrumb">
						<span class="crumb">You are in:&nbsp;
							<span class="Path"><a href="http://www.barrowbc.gov.uk/default.aspx?page=0">Home Page</a>&nbsp; > &nbsp;</span>
							<span class="Path"><a href="/">e-Petitions</a>&nbsp; > &nbsp;</span>
							<span class="Path">PARAM_TITLE</span>
						</span>
					</div>  <!--end breadcrumb --> 
					<div id="page-menu">
						<h2>PARAM_TITLE</h2>
						<div>
							<!-- end of head -->
