<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-gb">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>PARAM_TITLE | St Edmundsbury Borough Council</title>
<link rel="stylesheet" type="text/css" href="/pet.css">
<link rel="stylesheet" type="text/css" href="/assets/stedmundsbury/css.css">
<!--[if LT IE 7]>
    <link rel="stylesheet" type="text/css" href="/assets/stedmundsbury/ie6.css">
<![endif]-->
PARAM_RSS_LINKS
<meta name="keywords" content="petition, petitions, council, councils, local, democracy">
<meta name="description" content="PARAM_DESCRIPTION">
<meta name="eGMS.accessibility" scheme="WCAG" content="Double-A">
<meta name="dc.creator" content="PARAM_CREATOR">
<meta name="dc.language" scheme="ISO 639-2/T" content="eng">
<meta name="dc.publisher" content="mySociety">
<meta name="dc.identifier" content="PARAM_DC_IDENTIFIER">
<!-- PARAM_SUBJECTS -->
<meta name="dc.title" content="PARAM_TITLE">
PARAM_EXTRA
</head>
<bodyPARAM_BODYID>
<div id="header">
  <a href="http://www.stedmundsbury.gov.uk/" title="St Edmundsbury Borough Council home"><img src="/assets/stedmundsbury/stedmundsbury_logo.png" class="steds_logo" alt="St Edmundsbury Borough Council logo"/></a>
  <div id="wrapper">
    <h1>Council&nbsp;petitions</h1>
    <ul role="navigation" id="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/list">View petitions</a></li>
      <li><a href="/new">Create a petition</a></li>
      <li><a href="/faq">Help</a></li>
    </ul>
  </div>
</div>
<div id="main_wrap">
<div id="main">
  <div style="border:1px solid #010080;background:#e0e0ff;margin:0 0 2em 0;padding:0">
    <p style="background:#010080;color:#fff;margin:0;padding:1em"> 
      The e-petitions facility in its current form will not be available after 
      <strong>6&nbsp;December&nbsp;2013</strong>.
    </p>
    <p style="padding:0 1em"> 
      From 6 December 2013, the Council will accept electronic petitions created
      using free software that is available online. A number of websites provide
      this service which can be easily found by using an internet search engine.
      Completed petitions can be submitted to:
      <a href="mailto:democratic.services&#64;stedsbc.gov.uk">democratic.services&#64;stedsbc.gov.uk</a>
    </p>
  </div>
