                                <!-- start of foot -->
                                </div> <!-- ms-content -->
                                <!-- End Full Article -->
                            </div>
                            <a href="#nav">
                                <img src="http://www.sholland.gov.uk/SHDCCMSInternet/images/new/spacer_clear.gif"
                                    style="width: 1px; height: 1px; border: 0px;" alt="Jump to main navigation"></a>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="width: 200px;">
                            <div>
                                <a name="nav">&#13;</a>
                                <div>
                                    <div class="roundedborderdarkgrey">
                                        <div class="roundedborderdarkgrey1">
                                        </div>
                                        <div class="roundedborderdarkgrey2">
                                            <div>
                                            </div>
                                        </div>
                                        <div class="roundedborderdarkgrey3">
                                        </div>
                                        <div class="roundedborderdarkgrey4">
                                        </div>
                                        <div class="roundedborderdarkgrey5">
                                        </div>
                                    </div>

<ul id="services">
    <li><a href="http://www.sholland.gov.uk" class="first">Home</a></li>
    <li><a href="http://www.sholland.gov.uk/business/">Business</a></li>
    <li><a href="http://www.sholland.gov.uk/community/">Community and living</a></li>
    <li><a href="http://www.sholland.gov.uk/education/">Education and learning</a></li>
    <li><a href="http://www.sholland.gov.uk/environment/">Environment</a></li>
    <li><a href="http://www.sholland.gov.uk/health/">Health and social care</a></li>
    <li><a href="http://www.sholland.gov.uk/housing/">Housing</a></li>
    <li><a href="http://www.sholland.gov.uk/jobs/">Jobs and careers</a></li>
    <li><a href="http://www.sholland.gov.uk/leisure/">Leisure and culture</a></li>
    <li><a href="http://www.sholland.gov.uk/news/">News</a></li>
    <li><a href="http://www.sholland.gov.uk/policing/">Policing and public safety</a></li>
    <li><a href="http://www.sholland.gov.uk/transport/">Transport and streets</a></li>
    <li></li>

    <li><a href="http://www.sholland.gov.uk/council/" class="selected">Your Council</a>
        <ul>
            <li><a href="http://www.sholland.gov.uk/council/petitions/" class="chanopen">Petitions</a>
                <ul>
                    <li>
                        <a href="/" class="chanopen">e-Petitions</a>
                        <ul>
                            <li><a href="/new">Create a petition</a></li>
                            <li><a href="/list">View petitions</a></li>
                            <li><a href="/terms">Terms &amp; conditions</a></li>                                      
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

                                    <div class="roundedborderdarkgrey" style="margin-top: 0; padding-top: 0">
                                        <div class="roundedborderdarkgrey5">
                                        </div>
                                        <div class="roundedborderdarkgrey4">
                                        </div>
                                        <div class="roundedborderdarkgrey3">
                                        </div>
                                        <div class="roundedborderdarkgrey2">
                                            <div>
                                            </div>
                                        </div>
                                        <div class="roundedborderdarkgrey1">
                                        </div>
                                    </div>
                                </div>
                                <!-- CONTACT US -->
                                <div style="margin-top: 15px;">
                                    <div class="roundedborder">
                                        <div class="roundedborder1">
                                        </div>
                                        <div class="roundedborder2">
                                            <div>
                                            </div>
                                        </div>
                                        <div class="roundedborder3">
                                        </div>
                                        <div class="roundedborder4">
                                        </div>
                                        <div class="roundedborder5">
                                        </div>
                                    </div>
                                    <div class="roundedborderfg" style="padding: 5px;">
                                        <h2 class="home">
                                            <a href="http://www.sholland.gov.uk/contact/">Contact Us</a></h2>
                                        <br>
                                        <br>
                                        <div class="boxcontent">
                                            telephone: 01775 761161<br>
                                            email: <a href="mailto:info@sholland.gov.uk" style="font-size: 90%">info@sholland.gov.uk</a><br>
                                            <br>
                                            Council Offices<br>
                                            Priory Road, Spalding<br>
                                            PE11 2XE<br>
                                            <br>
                                            <strong>Offices open Mon to Fri:</strong><br>
                                            <table width="100%" border="0" cellpadding="2" cellspacing="0" id="contact">
                                                <tr>
                                                    <td>
                                                        Mon:
                                                    </td>
                                                    <td>
                                                        8.30am - 5.15pm*
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Tue:
                                                    </td>
                                                    <td>
                                                        8.30am - 5.15pm*
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Wed:
                                                    </td>
                                                    <td>
                                                        9.00am - 5.15pm*
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Thu:
                                                    </td>
                                                    <td>
                                                        8.30am - 5.15pm*
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Fri:
                                                    </td>
                                                    <td>
                                                        8.30am - 4.45pm
                                                    </td>
                                                </tr>
                                            </table>
                                            *<span style="font-size: 80%;"> payment office closes 4.45pm</span>
                                        </div>
                                    </div>
                                    <div class="roundedborderorange">
                                        <div class="roundedborderorange5">
                                        </div>
                                        <div class="roundedborderorange4">
                                        </div>
                                        <div class="roundedborderorange3">
                                        </div>
                                        <div class="roundedborderorange2">
                                            <div>
                                            </div>
                                        </div>
                                        <div class="roundedborderorange1">
                                        </div>
                                    </div>
                                </div>
                                <!-- /CONTACT US -->
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="roundedborderwhite">
        <div class="roundedborderwhite5">
        </div>
        <div class="roundedborderwhite4">
        </div>
        <div class="roundedborderwhite3">
        </div>
        <div class="roundedborderwhite2">
            <div>
            </div>
        </div>
        <div class="roundedborderwhite1">
        </div>
    </div>
    <br>
    <!-- FOOTER -->
    <div class="roundedborder">
        <div class="roundedborder1">
        </div>
        <div class="roundedborder2">
            <div>
            </div>
        </div>
        <div class="roundedborder3">
        </div>
        <div class="roundedborder4">
        </div>
        <div class="roundedborder5">
        </div>
    </div>
    <div class="roundedborderfg" style="padding: 5px;">
        <div style="clear: both">
            <div style="display: inline; float: left">
                <a href="http://www.sholland.gov.uk/feedback" class="bodynavdarkbg">Feedback</a>&nbsp;&nbsp;
                <a href="http://www.sholland.gov.uk/tandc.htm" class="bodynavdarkbg">Terms &amp; Conditions</a>&nbsp;&nbsp;
                <a href="http://www.sholland.gov.uk/Privacy+Policy.htm" class="bodynavdarkbg">Privacy
                    Policy</a>&nbsp;&nbsp; <a href="http://www.sholland.gov.uk/disclaimer.htm" class="bodynavdarkbg">
                        Disclaimer</a>&nbsp;&nbsp; <a href="http://www.sholland.gov.uk/council/webstatistics/"
                            class="bodynavdarkbg">Website Statistics</a>
            </div>
            <div style="display: inline; float: right">
                <img src="http://www.sholland.gov.uk/SHDCCMSInternet/images/global/rss1616lime.gif"
                    alt="" style="vertical-align: bottom">
                <a href="http://www.sholland.gov.uk/rss/" class="bodynavdarkbg">Feeds</a></div>
            <br>
            <br>
        </div>
        <p id="copyrighttext">
            <strong>&copy; Copyright Notice: South Holland District Council <span id="ContentSuffixControl_FooterControl_copyrightYear">
                2010</span></strong><br>
            While every care has been taken in the compilation of this information, South Holland
            District Council will not be held responsible for any loss, damage or inconvenience
            caused as a result of inaccuracy or error within these pages. The Council does not
            endorse any external linked sites and is not responsible for their content.</p>
    </div>
    <div class="roundedborderorange">
        <div class="roundedborderorange5">
        </div>
        <div class="roundedborderorange4">
        </div>
        <div class="roundedborderorange3">
        </div>
        <div class="roundedborderorange2">
            <div>
            </div>
        </div>
        <div class="roundedborderorange1">
        </div>
    </div>
    <!-- /FOOTER -->
    <span id="ContentSuffixControl_FooterControl_MetadataPlaceholderControl"></span>
    <!-- /feedback/default.htm -->
    <!--SiteAnalyze ScriptCode Start-->

    <script type="text/javascript" src="//uk1.siteimprove.com/js/siteanalyze_advanced.js"></script>

    <noscript>
        Your browser does not allow JavaScript!</noscript>
    <!--SiteAnalyze ScriptCode End-->
</body>
</html>
