<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <title>South Holland | Your Council | e-Petitions</title>
    <!-- Dublin Core meta tags start -->
    <meta name="DC.coverage" content="Lincolnshire, United Kingdom">
    <meta name="DC.coverage.spatial" content="South Holland District Council, Lincolnshire, United Kingdom">
    <meta name="DC.coverage.spatial.postcode" content="PE11 2XE">
    <meta name="DC.creator" content="South Holland District Council, Priory Road, Spalding, PE11 2XE, e-mail: info@sholland.gov.uk">
    <meta name="DC.date.created" scheme="W3CDTF" content="2010-12-15">
    <meta name="DC.date.expiry" scheme="W3CDTF" content="3000-01-01">
    <meta name="DC.date.issued" scheme="W3CDTF" content="2010-12-15">
    <meta name="DC.date.modified" scheme="W3CDTF" content="2010-12-15">
    <meta name="DC.date.updatingFrequency" content="six monthly">
    <meta name="DC.description" content="e-Petitions">
    <meta name="DC.format" scheme="IMT" content="text/html">
    <meta name="DC.identifier" content="http://www.sholland.gov.uk">
    <meta name="DC.language" scheme="ISO 639-2/T" content="en">
    <meta name="DC.publisher" content="South Holland District Council, Priory Road, Spalding, PE11 2XE.  Tel - 01775 761161 e-mail: info@sholland.gov.uk">
    <meta name="DC.rights.copyright" content="Copyright (C) South Holland District Council 2010 unless otherwise specified.">
    <meta name="DC.title" content="e-Petitions">
    <!-- Dublin Core meta tags end -->
    <!-- eGMS meta tags start -->
    <meta name="eGMS.accessibility" scheme="WCAG" content="Double-A">
    <meta name="eGMS.accessibility" scheme="ICRA" content='(pics-1.1 "http://www.icra.org/ratingsv02.html" comment "ICRAonline v2.0" l gen true for "http://www.sholland.gov.uk" r (nz 1 vz 1 lz 1 oz 1 cz 1) "http://www.rsac.org/ratingsv01.html" 1 gen true for "http://www.sholland.gov.uk" r (n 0 s 0 v 0 1 0))'>
    <meta name="eGMS.subject.category" content="Council policies and plans">
    <meta name="eGMS.subject.keyword" content="e-Petitions">
    <!-- eGMS meta tags end -->
    <!-- Standard meta tags start -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pics-label" content='(pics-1.1 "http://www.icra.org/ratingsv02.html" comment "ICRAonline v2.0" 1 gen true for "http://www.sholland.gov.uk" r (nz 1 vz 1 1z 1 oz 1 cz 1) "http://www.rsac.org/ratingsv01.html" 1 gen true for "http://www.sholland.gov.uk" r (n 0 s 0 v 0 1 0))'>
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta name="copyright" content="Copyright (C) South Holland District Council 2010 unless otherwise specified.">
    <meta name="country" content="Lincolnshire, United Kingdom">
    <meta name="creator" content="South Holland District Council, Priory Road, Spalding, PE11 2XE, e-mail: info@sholland.gov.uk">
    <meta name="publisher" content="South Holland District Council, Priory Road, Spalding, PE11 2XE.  Tel - 01775 761161 e-mail: info@sholland.gov.uk">
    <meta name="rights" content="Copyright (C) South Holland District Council 2010 unless otherwise specified.">
    <meta name="title" content="e-Petitions">
    <meta name="last-modified" content="15/12/2010">
    <meta name="keywords" content="e-Petitions">
    <meta name="description" content="e-Petitions">
    <meta name="cp_NewsFeature" content="false">
    <meta name="robots" content="INDEX,FOLLOW">
    <!-- Standard meta tags end -->
    <link rel="stylesheet" type="text/css" href="http://www.sholland.gov.uk/SHDCCMSInternet/styles/shdc.css"
        media="screen">

    <link href="/pet.css" rel="stylesheet" type="text/css" >
    <link href="/assets/sholland/css.css" type="text/css" rel="stylesheet" >

</head>
<body>
    <div id="header">
        <div id="innerheader">
            <!-- HEADER -->
            <div class="roundedborder">
                <div class="roundedborder1">
                </div>
                <div class="roundedborder2">
                    <div>
                    </div>
                </div>
                <div class="roundedborder3">
                </div>
                <div class="roundedborder4">
                </div>
                <div class="roundedborder5">
                </div>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="bgHeaderTop" style="width: 5%;" valign="bottom">
                        <a href="/">
                            <img src="http://www.sholland.gov.uk/SHDCCMSInternet/images/global/shdclogo-full-lime.gif"
                                style="width: 102px; height: 80px; border: 0px;" alt="South Holland District Council"></a>
                    </td>
                    <td class="bgHeaderTop">
                        <a href="#contents">
                            <img src="http://www.sholland.gov.uk/SHDCCMSInternet/images/global/jumpto.gif" style="width: 1px;
                                height: 80px; border: 0px;" alt="Jump to page content"></a>
                    </td>
                    <td class="bgHeaderTop stretch tulip" style="text-align: center;">
                        <br>
                        <form name="search" action="http://search.sholland.gov.uk/cgi-bin/semaphoreserver.exe"
                        method="GET" class="inline">
                        <label for="searchbox" class="invisible">
                            search for:</label>
                        <input type="text" name="QUERY00" size="25" maxlength="100" id="searchbox">
                        <input type="image" src="http://www.sholland.gov.uk/SHDCCMSInternet/images/new/btnSearch3.gif"
                            name="search" value="Search" alt="Search" class="vamiddle">
                        <input type="hidden" name="DB" value="shdc">
                        <input type="hidden" name="STYPE" value="simple">
                        <input name="QUERY07" type="hidden" value="MUSCOPYCGI:QUERY00">
                        <input name="PROP07" type="hidden" value="t=p,z=on,p=I9,s=none">
                        </form>
                    </td>
                    <td class="bgHeaderTop" valign="middle" style="width: 5%; padding-right: 10px; padding-top: 5px;
                        white-space: nowrap; text-align: right;">
                        <a title="accessibility" href="http://www.sholland.gov.uk/accessibility.htm" class="bodynavdarkbg">
                            Accessibility</a>
                        <br>
                        <a title="site map" href="http://www.sholland.gov.uk/sitemap.htm" class="bodynavdarkbg">
                            Site Map</a>
                        <br>
                        <a title="feedback" href="http://www.sholland.gov.uk/feedback" class="bodynavdarkbg">
                            Feedback</a>
                    </td>
                </tr>
            </table>
            <div class="roundedborderorange">
                <div class="roundedborderorange5">
                </div>
                <div class="roundedborderorange4">
                </div>
                <div class="roundedborderorange3">
                </div>
                <div class="roundedborderorange2">
                    <div>
                    </div>
                </div>
                <div class="roundedborderorange1">
                </div>
            </div>
            <div class="roundedbordergrey">
                <div class="roundedbordergrey1">
                </div>
                <div class="roundedbordergrey2">
                    <div>
                    </div>
                </div>
                <div class="roundedbordergrey3">
                </div>
                <div class="roundedbordergrey4">
                </div>
                <div class="roundedbordergrey5">
                </div>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="AZ">
                <tr>
                    <td colspan="4">
                        <div id="atoz">
                            <ol class="navlist clearfix">
                                <li>services:</li><li><a href="http://www.sholland.gov.uk/services/?show=a"><span>A</span></a></li><li>
                                    <a href="http://www.sholland.gov.uk/services/?show=b"><span>B</span></a></li><li><a
                                        href="http://www.sholland.gov.uk/services/?show=c"><span>C</span></a></li><li><a
                                            href="http://www.sholland.gov.uk/services/?show=d"><span>D</span></a></li><li><a
                                                href="http://www.sholland.gov.uk/services/?show=e"><span>E</span></a></li><li><a
                                                    href="http://www.sholland.gov.uk/services/?show=f"><span>F</span></a></li><li><a
                                                        href="http://www.sholland.gov.uk/services/?show=g"><span>G</span></a></li><li><a
                                                            href="http://www.sholland.gov.uk/services/?show=h"><span>H</span></a></li><li><a
                                                                href="http://www.sholland.gov.uk/services/?show=i"><span>I</span></a></li><li><a
                                                                    href="http://www.sholland.gov.uk/services/?show=j"><span>J</span></a></li><li><a
                                                                        href="http://www.sholland.gov.uk/services/?show=k"><span>K</span></a></li><li><a
                                                                            href="http://www.sholland.gov.uk/services/?show=l"><span>L</span></a></li><li><a
                                                                                href="http://www.sholland.gov.uk/services/?show=m"><span>M</span></a></li><li><a
                                                                                    href="http://www.sholland.gov.uk/services/?show=n"><span>N</span></a></li><li><a
                                                                                        href="http://www.sholland.gov.uk/services/?show=o"><span>O</span></a></li><li><a
                                                                                            href="http://www.sholland.gov.uk/services/?show=p"><span>P</span></a></li><li><a
                                                                                                href="http://www.sholland.gov.uk/services/?show=q"><span>Q</span></a></li><li><a
                                                                                                    href="http://www.sholland.gov.uk/services/?show=r"><span>R</span></a></li><li><a
                                                                                                        href="http://www.sholland.gov.uk/services/?show=s"><span>S</span></a></li><li><a
                                                                                                            href="http://www.sholland.gov.uk/services/?show=t"><span>T</span></a></li><li><a
                                                                                                                href="http://www.sholland.gov.uk/services/?show=u"><span>U</span></a></li><li><a
                                                                                                                    href="http://www.sholland.gov.uk/services/?show=v"><span>V</span></a></li><li><a
                                                                                                                        href="http://www.sholland.gov.uk/services/?show=w"><span>W</span></a></li><li><a
                                                                                                                            href="http://www.sholland.gov.uk/services/?show=x"><span>X</span></a></li><li><a
                                                                                                                                href="http://www.sholland.gov.uk/services/?show=y"><span>Y</span></a></li><li class="last">
                                                                                                                                    <a href="http://www.sholland.gov.uk/services/?show=z"><span>Z</span></a></li>
                            </ol>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="roundedbordergrey">
                <div class="roundedbordergrey5">
                </div>
                <div class="roundedbordergrey4">
                </div>
                <div class="roundedbordergrey3">
                </div>
                <div class="roundedbordergrey2">
                    <div>
                    </div>
                </div>
                <div class="roundedbordergrey1">
                </div>
            </div>
        </div>
    </div>
    <div id="body">
        <div id="innerbody">
            <div style="margin-left: 1px;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td valign="top" id="spacer" style="height: auto; white-space: nowrap">
                            <img src="http://www.sholland.gov.uk/SHDCCMSInternet/images/navspacer.gif" alt=""
                                style="border: 0px; width: 200px; height: 1px;">
                        </td>
                        <td rowspan="2" valign="top">
                            <div style="margin-left: 15px; margin-right: 0px;">
                                <a name="contents">&#13;</a>
                                <table width="100%" border="0" cellspacing="0" cellpadding="1">
                                    <tr>
                                        <td style="padding-top: 5px;" valign="top" class="colorHeader">
                                            You are here:&nbsp;<a href="http://www.sholland.gov.uk" class="footernav">Home</a>&nbsp;|&nbsp;<a
                                                href="http://www.sholland.gov.uk/council/" class="footernav">Your Council</a>&nbsp;|&nbsp;<a
                                                    href="/" class="footernav">e-Petitions</a>&nbsp;|&nbsp;PARAM_TITLE
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <!-- Main Article -->
                                <div><h1>PARAM_TITLE</h1></div>
                                <div id="ms-content" class="bodyTextBlack">
                                <!-- end of head -->
