              <!-- Start of foot -->
              </div>
            </div>

            <div id="related">
              <div class="container">
                <h2>Related Pages</h2>

                <ul>
                  <li class="even first last"><span class=
                  "square">&#9632;</span> <a href=
                  "http://newforest.gov.uk/article/15974/Petitions-Received">
                  Petitions Received</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="contentlinks">
        <ul>
          <li id="emailpage" class="even first"></li>

          <li class="print">
            <script type="text/javascript">
            /* <![CDATA[ */
                        document.write('<span class="padding">&#9632;&nbsp; <a href="#" title="Print this page">Print this page<\/a><\/span>');
                        /* ]]> */
            </script>
          </li>

          <li class="subscribe padding">&#9632;&nbsp; <a href=
          "http://newforest.gov.uk/article/0/?articleaction=subscribe&amp;contenttype=article&amp;contentid=10653&amp;returnarticleid=10653"
          class="subscribe" title=
          "Subscribe to Petitions Scheme">Subscribe to this
          page</a></li>

          <li class="addthis padding">
            <!--  AddThis Button BEGIN  --> <a class=
            "addthis_button" href=
            "http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4bfc0153695eecdb"
            title="Share this page"><img src=
            "http://s7.addthis.com/static/btn/v2/lg-share-en.gif"
            width="125" height="16" alt="Bookmark and Share" style=
            "border:0" /></a> <script type="text/javascript">
//<![CDATA[
                        var addthis_config = {
                            data_ga_property: '',
                            data_track_clickback: true
                        };
            //]]>
            </script> <script type="text/javascript" src=
            "http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4bfc0153695eecdb">
</script> <!--  AddThis Button END  -->
          </li>
        </ul>
      </div>
    </div>

    <div id="footer" class="active-tab0 active-tab0-first">
      <ul id="atoznav">
        <li class="label">A to Z of services</li>

        <li class="even first"><a href=
        "http://newforest.gov.uk/article/15825/A">A</a></li>

        <li class="odd"><a href=
        "http://newforest.gov.uk/article/15827/B">B</a></li>

        <li class="even"><a href=
        "http://newforest.gov.uk/article/15837/C">C</a></li>

        <li class="odd"><a href=
        "http://newforest.gov.uk/article/15875/D">D</a></li>

        <li class="even"><a href=
        "http://newforest.gov.uk/article/15876/E">E</a></li>

        <li class="odd"><a href=
        "http://newforest.gov.uk/article/15877/F">F</a></li>

        <li class="even"><a href=
        "http://newforest.gov.uk/article/15878/G">G</a></li>

        <li class="odd"><a href=
        "http://newforest.gov.uk/article/15879/H">H</a></li>

        <li class="even"><a href=
        "http://newforest.gov.uk/article/15880/I">I</a></li>

        <li class="odd"><a href=
        "http://newforest.gov.uk/article/15881/J">J</a></li>

        <li class="even"><a href=
        "http://newforest.gov.uk/article/15882/K">K</a></li>

        <li class="odd"><a href=
        "http://newforest.gov.uk/article/15883/L">L</a></li>

        <li class="even"><a href=
        "http://newforest.gov.uk/article/15884/M">M</a></li>

        <li class="odd"><a href=
        "http://newforest.gov.uk/article/15885/N">N</a></li>

        <li class="even"><a href=
        "http://newforest.gov.uk/article/15886/O">O</a></li>

        <li class="odd"><a href=
        "http://newforest.gov.uk/article/15887/P">P</a></li>

        <li class="even"><a href=
        "http://newforest.gov.uk/article/15888/Q">Q</a></li>

        <li class="odd"><a href=
        "http://newforest.gov.uk/article/15889/R">R</a></li>

        <li class="even"><a href=
        "http://newforest.gov.uk/article/15890/S">S</a></li>

        <li class="odd"><a href=
        "http://newforest.gov.uk/article/15891/T">T</a></li>

        <li class="even"><a href=
        "http://newforest.gov.uk/article/15892/U">U</a></li>

        <li class="odd"><a href=
        "http://newforest.gov.uk/article/15893/V">V</a></li>

        <li class="even"><a href=
        "http://newforest.gov.uk/article/15894/W">W</a></li>

        <li class="odd"><a href=
        "http://newforest.gov.uk/article/15895/X">X</a></li>

        <li class="even"><a href=
        "http://newforest.gov.uk/article/15896/Y">Y</a></li>

        <li class="odd last"><a href=
        "http://newforest.gov.uk/article/15897/Z">Z</a></li>
      </ul>

      <div id="bottomutilnav">
        <ul>
          <li class="even first"><a href=
          "http://newforest.gov.uk/article/12727/Cookies-Policy">Cookies
          Policy</a></li>

          <li class="odd"><a href=
          "http://newforest.gov.uk/article/4499/Emergency-Contacts">
          Emergency Contacts</a></li>

          <li class="even"><a href=
          "http://newforest.gov.uk/article/4549/Privacy-Notice">Privacy
          Notice</a></li>

          <li class="odd"><a href=
          "http://newforest.gov.uk/article/4550/Terms-and-Conditions">
          Terms and Conditions</a></li>

          <li class="even last"><a href=
          "http://newforest.gov.uk/article/15822/Site-Map">Site
          Map</a></li>
        </ul>
      </div>

      <ul id="iconlinks">
        <li><a href="https://www.gov.uk/" title=
        "GOV.uk"><img class="normal" src=
        "http://newforest.gov.uk/media/icon_link/6/3/GOV.current.png" alt="GOV.uk" />
        <img class="highlight" src="http://newforest.gov.uk/media/icon_link/0/p/gov-uk.jpg"
        alt="GOV.uk" /></a></li>

        <li><a href="article/12443/New-Forest-In-Touch" title=
        "New Forest In Touch Mobile App"><img class="normal" src=
        "http://newforest.gov.uk/media/icon_link/r/c/in-touch-app.jpg" alt=
        "New Forest In Touch Mobile App" /> <img class="highlight"
        src="http://newforest.gov.uk/media/icon_link/f/m/in-touch-app.jpg" alt=
        "New Forest In Touch Mobile App" /></a></li>

        <li><a href="https://www.facebook.com/newforestgov" title=
        "Facebook"><img class="normal" src=
        "http://newforest.gov.uk/media/icon_link/q/t/f_logox29x292.jpg" alt="Facebook" />
        <img class="highlight" src=
        "http://newforest.gov.uk/media/icon_link/t/4/facebook_logo_29x29.jpg" alt=
        "Facebook" /></a></li>

        <li><a href="https://twitter.com/newforestDC" title=
        "Twitter"><img class="normal" src=
        "http://newforest.gov.uk/media/icon_link/j/d/twitter_logo_29x29.jpg" alt=
        "Twitter" /> <img class="highlight" src=
        "http://newforest.gov.uk/media/icon_link/0/e/twitter_logo_29x29.jpg" alt=
        "Twitter" /></a></li>
      </ul>

      <p id="copyright">&copy; 2015 New Forest District Council New
      Forest District Council</p>
    </div>

    <div id="powered">
      <a rel="external" title="Web content management by GOSS iCM"
      href="http://www.gossinteractive.com">Powered by GOSS iCM</a>
    </div><script type="text/javascript" src=
    "http://newforest.gov.uk/iCMRender.4.0.4.10000/iCMRender.Resources.Javascript.iCM.js.axd">
</script><script type="text/javascript">
//<![CDATA[

    MagicSearchRPC = function() {
    return {
    GetSearchResults: function(avalue, acollections, aokcallback, afailcallback, atarget) {
    iCM.MakePostRPCCall({"method": "NewForest.Controls_NewForest$Controls$MagicSearch_GetSearchResults", "id": "null", "version": "1.1", "url": "ajax.ashx", "params": {"value": avalue,"collections": acollections}},aokcallback, afailcallback, atarget  );
    }
    }
    }();

    iCM.RPC.MagicSearch = MagicSearchRPC;

    //]]>
    </script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-524935-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </div>
</body>
</html>