        <!-- start of foot -->
      </div>
    </div>

    <div id="footer">
      <div style="text-align: center;">
        <br>
        Committed to providing accessible information, buildings, and services
      </div>

      <div style="text-align: center;">
        <a href="http://www.newforest.gov.uk/index.cfm?articleid=6419">Neighbouring Councils, Partners and other Councils within Hampshire</a><img src="http://www.newforest.gov.uk/images/blank.gif" alt="*" width="1" height="1" style="border: none;"><br>
        <a href="http://www.newforest.gov.uk/index.cfm?articleid=4549">Privacy</a> 
        | 
        <a href="http://www.newforest.gov.uk/index.cfm?articleid=4550">New Forest Terms and Conditions</a> 
        | 
        <a href="http://www.newforest.gov.uk/index.cfm?articleid=4969">Web Service Standards</a> 
        | 
        <a href="#topofpage">Top of Page</a>
      </div>
      
      <script type="text/javascript">
      /* <![CDATA[ */
        var socitm_my_domains = "www.nfdc.gov.uk,www.newforest.gov.uk,web2.newforest.gov.uk,web3.newforest.gov.uk,web4.newforest.gov.uk";
        var socitm_custcode = "241";
        var socitm_intro_file = "/socitm_intro.html";
      /* ]]> */
      </script> 
      <script type="text/javascript" src="http://socitm.govmetric.com/js/socitm_wrapper.aspx"></script> 
      <noscript>
        <a href="http://socitm.govmetric.com/survey.aspx?code=241">Tell us what you think about our site...</a> 
        <img src="http://socitm.govmetric.com/imagecounter.aspx?code=241" alt="">
      </noscript>
      <div style="float: left;">
        <!-- Last updated: -->  &nbsp;
      </div>
      <div style="float: right;">
        <!-- v1.2 -->
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-524935-1");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>
</html>
