
          <!-- start of foot -->
        </div>
      </div>
    </div>
  </div>
  
  <div id="footer">
  	<ul>
  		<li><a href="http://www.islington.gov.uk/legal" title="Legal information page">Legal</a> |</li>
  		<li><a href="http://www.islington.gov.uk/Council/councildocs/freedomofinformation/" title="Main freedom of information page">Freedom of information</a> |</li>
  		<li><a href="http://www.islington.gov.uk/feedback" title="Main website feedback page">Feedback</a></li>
  		<li id="precedent">&nbsp;</li>
  	</ul>
  </div>
  
  <!-- Google analytics -->
  <script type="text/javascript">
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-980124-14']);
   _gaq.push(['_trackPageview']);

   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(ga, s);
   })();
  </script>
</body>
</html>
