
          <!-- start of foot -->
        </div>
      </div>
    </div>
  </div>
  
  <div id="footer">
  	<ul>
  		<li><a href="http://www.islington.gov.uk/legal" title="Legal information page">Legal</a> |</li>
  		<li><a href="http://www.islington.gov.uk/Council/councildocs/freedomofinformation/" title="Main freedom of information page">Freedom of information</a> |</li>
  		<li><a href="http://www.islington.gov.uk/feedback" title="Main website feedback page">Feedback</a></li>
  		<li id="precedent">&nbsp;</li>
  	</ul>
  </div>
  
</body>
</html>
