<!-- start of foot -->
						</div>
					</div>
					<span> <!-- for IE --></span>
				</div>
				<!-- ### END SECTIONCONTAINER02 ###-->
			</div>
			<!-- ### START SECTIONCONTAINER03 ###-->
			<div class="SECTIONCONTAINER03">
				<!-- CMS START Footer -->
				<div id="footerContainer" class="footerContainer">
					<div id="footerL" class="footerL">
					</div>
					<div id="footerR" class="footerR">
						&nbsp;&copy;&nbsp;Epsom &amp;&nbsp;Ewell&nbsp;Borough Council 2010
					</div>
				</div>
				<!-- CMS END Footer -->
			</div>
			<!-- ### END SECTIONCONTAINER03 ###-->
	</body>
</html>