
					<!-- start of foot -->
				</div>
						

				<div id="footer-inner">
					<div id="footer-menu">
						<ul>
							<li class="first"><a href="http://www.nottinghamshire.gov.uk/home/privacystatement.htm"  title="Site privacy statement link"> Privacy</a></li> 
							<li><a href="http://www.nottinghamshire.gov.uk/home/disclaimer.htm"  title="Site disclaimer link"> Disclaimer</a></li> 
							<li><a href="http://www.nottinghamshire.gov.uk/home/plugins.htm"  title="Download page links for useful internet viewers and plugins"> Plug ins</a></li> 
							<li><a href="http://www.nottinghamshire.gov.uk/home/accessibility.htm" > Accessibility</a></li> 
							<li><a href="http://www.nottinghamshire.gov.uk/home/aboutthissite.htm" > About this site</a></li> 
						</ul>
					</div> 
					<div id="copyright">
						<span class="ISI_IGNORE"> 
							&copy; <a href="http://www.nottinghamshire.gov.uk/home/copyright.htm"  title="Copyright information link" accesskey="8"> Copyright 2010, Nottinghamshire County Council</a>
						</span>
					</div>
					<span class="linkseparator">
						<a href="http://www.nottinghamshire.gov.uk/home/newshome.htm" title="News home page link" accesskey="2"><img src="environment_files/spacer.gif" width="1" height="1" class="imgspacer" alt="News section link" /></a>
						<a href="http://www.nottinghamshire.gov.uk/home/accessibility/help.htm" title="Help using this site" accesskey="6"><img src="environment_files/spacer.gif" width="1" height="1" class="imgspacer" alt="Help using this site" /></a>
						<a href="http://www.nottinghamshire.gov.uk/home/search.htm" title="Search page link" accesskey="4"><img src="environment_files/spacer.gif" width="1" height="1" class="imgspacer" alt="Search page link" /></a>
						<a href="http://www.nottinghamshire.gov.uk/home/your_council/yccommentsandcomplaints.htm" title="Complaints procedure link" accesskey="7"><img src="environment_files/spacer.gif" width="1" height="1" class="imgspacer" alt="Complaints procedure link" /></a>
						<a href="https://www.nottinghamshire.gov.uk/home/your_council/contact/sitefeedback-form.htm" title="Feedback form link" accesskey="9"><img src="environment_files/spacer.gif" width="1" height="1" class="imgspacer" alt="Feedback form link" /></a>
					</span> 
				</div>
				
			</div>
		</div>
	</div>	 
</div>

<script type="text/javascript" src="http://www3.nottinghamshire.gov.uk/EasySiteWeb/EasySite/StyleData/NCC_Web/JavaScript/web.js"> </script>
</body>
</html>