<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>PARAM_TITLE - Nottinghamshire County Council</title>
	<meta http-equiv="content-script-type" content="text/javascript" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

	<link type="text/css" rel="stylesheet" href="http://www2.nottinghamshire.gov.uk/EasySiteWeb/EasySite/StyleData/Default/CSS/RenderEngine_Global.css" />
	<link type="text/css" rel="stylesheet" href="http://www2.nottinghamshire.gov.uk/EasySiteWeb/EasySite/StyleData/NCC_Web/CSS/RenderEngine.css" />
	<link type="text/css" rel="stylesheet" href="http://www2.nottinghamshire.gov.uk/EasySiteWeb/EasySite/StyleData/Default/CSS/ContentFormats.css" />
	<link type="text/css" rel="stylesheet" href="http://www2.nottinghamshire.gov.uk/EasySiteWeb/EasySite/StyleData/NCC_Web/CSS/RenderEngine_DocumentNavigation.css" />
	<link type="text/css" rel="stylesheet" href="http://www2.nottinghamshire.gov.uk/EasySiteWeb/EasySite/StyleData/NCC_Web/CSS/RenderEngine_BreadCrumbTrail.css" />
	<link type="text/css" rel="stylesheet" href="http://www2.nottinghamshire.gov.uk/EasySiteWeb/EasySite/StyleData/NCC_Web/CSS/RenderEngine_PageFooter.css" />
	<link type="text/css" rel="stylesheet" href="http://www2.nottinghamshire.gov.uk/EasySiteWeb/EasySite/StyleData/NCC_Web/CSS/ContentEditor.css" />
	<link type="text/css" rel="stylesheet" href="http://www2.nottinghamshire.gov.uk/EasySiteWeb/EasySite/StyleData/NCC_Web/CSS/RenderEngine_Applications.css" />
	<script type="text/javascript" src="http://www2.nottinghamshire.gov.uk/EasySiteWeb/EasySite/StyleData/NCC_Web/JavaScript/jquery-1.4.2.min.js"> </script>
</head>
<body style="font-size: 75.0%">
<p class="skip">[<a accesskey="S" href="#skiplinks">Skip to content</a>]</p>
<!-- // Wrappers // -->
<div id="wrapper-bl">
	<div id="wrapper-br">
		<div id="wrapper-tl">
			<div id="wrapper-tr">
					
				<!-- // Header // -->
				<div id="header-outer">
					<div id="accessibility"><a href="http://www.nottinghamshire.gov.uk/home/accessibility.htm" accesskey="6">Accessibility</a></div>
					<div id="header-middle">
						<div id="header-inner">
							<a href="http://www.nottinghamshire.gov.uk/index/">
								<img src="http://www2.nottinghamshire.gov.uk/EasySiteWeb/EasySite/StyleData/NCC_Web/Images/header_left.gif" width="520" height="89" alt="Nottinghamshire County Council" id="screen-header" />
								<img src="http://www2.nottinghamshire.gov.uk/EasySiteWeb/EasySite/StyleData/NCC_Web/Images/print-header.jpg" alt="Nottinghamshire County Council" id="print-header" />
							</a>
							<form name="search_site" id="search-site" action="http://search.nottinghamshire.gov.uk/cgi-bin/semaphoreserver.exe">
								<input type="hidden" name="SAVEDB" value="nottingham" />
								<input type="hidden" name="SAVESTYPE" value="simple" />
								<input type="hidden" name="CMD" value="search.run" />
								<input type="hidden" name="B" value="THTML" />
								<label id="search-text-input" for="QUERY00">Search text</label>
								<input type="text" name="QUERY00" id="QUERY00" title="Search the site by entering text" />
								<input type="submit" name="search_submit" id="search-submit" value="Search" />
							</form>
						</div>
					</div>
				</div>
				<div id="site-tools">
					<div id="application-title">
						<h2>e-Petitions</h2>
					</div>
				</div>	

				<!-- // Container // -->
				<div id="container">	
					
					<!-- // Breadcrumb // -->
					<div id="breadcrumb-outer">
						<div id="breadcrumb-inner">	
							You are here <span class="BCTDelimiter">»</span><a href="/" class="breadcrumb-link" title="e-Petitions">e-Petitions</a>	
						</div>
					</div>
				
					<!-- // Left Navigation // -->
					<div id="left-outer">
						<div id="left-inner">
							<div class="top-border"><div></div></div>
								<map id="oSideNavigationMap">
								  <ul class="oNavigationList">
									<li class="oNavigationItemSibling">
									  <a href="/" class="NavigationSiblingLink" title="Item 1">
										<span class="snv-sibling-outer">
										  <span class="snv-sibling-inner">Introduction</span>
										</span>
									  </a>
									</li>
									<li class="oNavigationItemSibling">
									  <a href="/new" class="NavigationSiblingLink" title="Item 2">
										<span class="snv-sibling-outer">
										  <span class="snv-sibling-inner">Create a petition</span>
										</span>
									  </a>
									</li>
									<!--
									<li class="oNavigationItemCurrent">
									  <a href="#" class="NavigationCurrentLink" title="Selected Item">
										<span class="snv-current-outer">
										  <span class="snv-current-inner">Selected Item</span>
										</span>
									  </a>
									</li>
									-->
									<li class="oNavigationItemSibling">
									  <a href="/list" class="NavigationSiblingLink" title="Item 2">
										<span class="snv-sibling-outer">
										  <span class="snv-sibling-inner">View petitions</span>
										</span>
									  </a>
									</li>
									<li class="oNavigationItemSibling">
									  <a href="/terms" class="NavigationSiblingLink" title="Item 2">
										<span class="snv-sibling-outer">
										  <span class="snv-sibling-inner">Terms &nbsp; conditions</span>
										</span>
									  </a>
									</li>
								  </ul>
								</map>
							<div class="bottom-border"><div></div></div>
						</div>
					</div>
					
					<!-- // Content // -->
					<p id="skiplinks">
					  
					</p>
					<!-- end of head -->