</div>
</div>
</div>
<p>&nbsp;</p>
</div>

<div id="footer_container">
<div id="footer_content_container">
<div id="footer_left_container">
<div id="footer_left">
<p>Mole Valley District Council<br></p>
                <p><a href="http://www.1010global.org/uk/about"><img src="http://www.molevalley.gov.uk/images/mvdc_new/1010.jpg" alt="Mole Valley District Council is a 1010 Organisation"></a></p>

                  <p><a href="http://www.molevalley.gov.uk/index.cfm?articleid=10430"><strong>How to find us</strong></a></p>
</div>

<div id="footer_middle">
<p><a href="http://www.molevalley.gov.uk/index.cfm?articleid=9271&amp;startat=A">A-Z of Services</a><br>
<a href="http://www.molevalley.ukcouncil.net/site/index.php?l=en_GB">Webcasting</a><br>
                  <a href="http://www.molevalley.gov.uk/index.cfm?articleid=9258">Planning Applications</a><br>
                  <a href="http://www.molevalley.gov.uk/index.cfm?articleid=9225">Recycling &amp; Waste</a><br>

                  <a href="http://www.molevalley.gov.uk/greener">Greener</a><br>
               <br>
                      <a href="http://www.direct.gov.uk/en/index.htm">Direct Gov</a>
                </p>
</div>
</div>
<div id="footer_right_container">
<p><a href="http://validator.w3.org/check?uri=http%3A//www.molevalley.gov.uk">W3C Validated
                </a>                  
                </p>
                  <p><a href="http://www.molevalley.gov.uk/index.cfm?articleid=10231">Site map</a><br>

                  <a href="http://www.molevalley.gov.uk/index.cfm?articleid=9148">Accessibility</a><br>
                  <a href="http://www.molevalley.gov.uk/index.cfm?articleid=9084">Privacy Policy</a><br>
                   <a href="http://www.molevalley.gov.uk/index.cfm?articleid=13">Members Extranet</a></p>
</div>

</div>


</div>
</body>
</html> 
