</div><!-- end content -->

		<div id="navigation">
		  
			<ul class="topwidget">
                <li><a href="/">Petitions home</a></li>
                <li><a href="/new">Create a petitions</a></li>
                <li><a href="/list">View petitions</a></li>
                <li><a href="/terms">Terms and conditions</a></li>
			</ul>

			<!-- Extra column content -->
            <!--
			<div class="supplement">
				<h2>Content here</h2>
				<p>You may wish to include content in this column. For example instructions, help or further information. Use a div with the class of suppliment.</p>
				<p><a href="index.html">See the template</a></p>
			</div>
            -->

		</div>

	<div id="footer">

			<p class="first"><a rel="nofollow" href="#header">Jump to the top</a></p>
			<p><a href="http://www.waverley.gov.uk/site/scripts/terms.php">Terms and Disclaimer</a> | <a href="http://www.waverley.gov.uk/site/scripts/website_statistics.php">Website statistics</a> | <a href="http://www.waverley.gov.uk/site/scripts/site_map.php">Site map</a> | All content &copy; 2010 Waverley Borough Council. All Rights Reserved.</p>
			<p><a title="External website" href="http://www.directgov.gov.uk/">Directgov</a> | <a title="External website" href="http://www.surreyonline.info">Surrey online</a> | <a title="External website" href="http://www.surreycc.gov.uk">Surrey County Council</a></p>

		</div> <!-- end footer -->

</div>
</div>
</body>
</html>
