<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>PARAM_TITLE - Waverley Borough Council</title>

        <link rel="stylesheet" type="text/css" href="http://www.waverley.gov.uk/site/styles/standard.css" media="screen" />

		<!--[if lte IE 6]>
			<link rel="stylesheet" type="text/css" href="http://www.waverley.gov.uk/site/stylesext/css/ie_special.css" media="screen" />
		<![endif]-->

		<!--[if IE 7]>
		 <link rel="stylesheet" type="text/css" href="http://www.waverley.gov.uk/site/stylesext/css/ie-seven.css" media="screen" />
		<![endif]-->
            <link rel="stylesheet" type="text/css" href="http://www.waverley.gov.uk/site/styles/generic/banner_img.php?imageURL=" media="screen" />

		<link rel="stylesheet" type="text/css" href="/pet.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/assets/waverley/css.css" media="screen" />

		<link rel="Shortcut Icon" type="image/x-icon" href="favicon.ico" />

		<meta name="Keywords" content="waverley borough council" />
		<meta name="Description" content="Waverley Borough Council - " />
		<meta name="DC.title" lang="en" content="Waverley Borough Council" />
		<meta name="DC.description" lang="en" content="Waverley Borough Council" />
      	PARAM_RSS_LINKS
        PARAM_EXTRA
	</head>
<body PARAM_BODYID>
<div id="wrapper">
	<div id="container">
		<div id="header">

			<p class="access">Jump to <a accesskey="s" title="Jump to page content, access key S" href="#skipc" rel="nofollow">content</a> or <a accesskey="n" title="Jump to navigation, access key N" href="#navigation" rel="nofollow">navigation</a></p>

			<div class="pseudoH1">
				<a accesskey="1" href="http://www.waverley.gov.uk/site/index.php" title="Return to homepage"><span>Waverley Borough Council</span></a>
			</div>

			<div id="image_wrapper">
                <div id="randomimage"></div>
				<ul>
					<li><a href="http://www.waverley.gov.uk/site/index.php"><span>Home</span></a></li><li><a href="http://www.waverley.gov.uk/site/scripts/az_home.php"><span>Council services A to Z</span></a></li><li><a href="http://www.waverley.gov.uk/site/scripts/contact.php"><span class="end">Contact us</span></a></li>
				</ul>
			</div>

		</div><!-- end header -->


		<div id="content">
			<div id="skipc"></div>
			<h1>PARAM_H1</h1>

