<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://www.eastcambs.gov.uk/sites/default/files/favicon.ico" type="image/x-icon" />
<meta name="description" content="  PARAM_DESCRIPTION  " />
<meta name="title" content="PARAM_TITLE" />
<meta name="keywords" content="" />
<meta name="author" content="administrator" />
<meta name="Rights.copyright" content="copyright East Cambridgeshire District Council" />
<meta name="Publisher" content="East Cambridgeshire District Council" />
<meta name="Language" content="Engl" />
  <title>PARAM_TITLE | East Cambridgeshire District Council</title>  

<link type="text/css" rel="stylesheet" media="all" href="http://www.eastcambs.gov.uk/sites/all/themes/static-css/main.css" />
  <script type="text/javascript" src="http://www.eastcambs.gov.uk/sites/all/themes/static-css/jscript.js"></script>
  <!-- NB: js magic trimmed down to just the five star rating mechanism -->
  <script type="text/javascript">
  <!--//--><![CDATA[//><!--
  jQuery.extend(Drupal.settings, { "basePath": "/", "fivestar": { "titleUser": "Your rating: ", "titleAverage": "Average: ", "feedbackSavingVote": "Saving your vote...", "feedbackVoteSaved": "Your vote has been saved.", "feedbackDeletingVote": "Deleting your vote...", "feedbackVoteDeleted": "Your vote has been deleted." } });
  //--><!]]>
  </script>
  <!--[if IE 6]><link rel="stylesheet" href="http://www.eastcambs.gov.uk/sites/all/themes/static-css/style.ie6.css" type="text/css" /><![endif]-->  
  <!--[if IE 7]><link rel="stylesheet" href="http://www.eastcambs.gov.uk/sites/all/themes/static-css/style.ie7.css" type="text/css" media="screen" /><![endif]-->
  <!-- mySociety CSS: 2 files -->
  <link rel="stylesheet" type="text/css" href="/pet.css" />
  <link rel="stylesheet" type="text/css" href="/assets/eastcambs/css.css" />
  PARAM_RSS_LINKS
  PARAM_EXTRA 
</head>

<body PARAM_BODYID>
<div id="art-page-background-simple-gradient">
    <div id="art-page-background-gradient"></div>
</div>
<div id="art-page-background-glare">
    <div id="art-page-background-glare-image"></div>
</div>
<div id="art-main">
<div class="art-sheet">
    <div class="art-sheet-tl"></div>
    <div class="art-sheet-tr"></div>
    <div class="art-sheet-bl"></div>
    <div class="art-sheet-br"></div>
    <div class="art-sheet-tc"></div>
    <div class="art-sheet-bc"></div>
    <div class="art-sheet-cl"></div>
    <div class="art-sheet-cr"></div>
    <div class="art-sheet-cc"></div>
    <div class="art-sheet-body">
<div class="art-header">
    <div class="art-header-png"></div>
    <div class="art-header-jpeg"></div>
<div class="art-logo">
    <h1 class="art-logo-name"><a href="http://www.eastcambs.gov.uk/" title = "East Cambridgeshire District Council">East Cambridgeshire District Council</a></h1></div>
</div>
<div class="art-nav">
    <div class="l"></div>
    <div class="r"></div>
    <div class="art-nav-center">
    
<div id="art-menu-id"><ul class="art-menu">
<li class="leaf first"><a href="http://www.eastcambs.gov.uk/" title="Home Page"><span class="l"> </span><span class="r"> </span><span class="t">Home</span></a></li>
<li class="leaf"><a href="http://www.eastcambs.gov.uk/taxonomy_vtn" title=""><span class="l"> </span><span class="r"> </span><span class="t">Site index</span></a></li>
<li class="expanded">
<a href="http://www.eastcambs.gov.uk/aggregator" title="An aggregation of all the feeds enabled on this website"><span class="l"> </span><span class="r"> </span><span class="t">Newsroom</span></a><ul>
<li class="expanded first">
<a href="http://www.eastcambs.gov.uk/aggregator/categories">Categories</a><ul>
<li class="leaf first"><a href="http://www.eastcambs.gov.uk/aggregator/categories/1">Directgov</a></li>
<li class="leaf"><a href="http://www.eastcambs.gov.uk/aggregator/categories/2">East Cambs DC site feeds</a></li>
<li class="leaf"><a href="http://www.eastcambs.gov.uk/aggregator/categories/3">Local Press</a></li>
<li class="leaf"><a href="http://www.eastcambs.gov.uk/aggregator/categories/6" title="News from NHS Choices">NHS Choices</a></li>
<li class="leaf last"><a href="http://www.eastcambs.gov.uk/aggregator/categories/4" title="Met Office Weather Warnings">Weather Warnings</a></li>
</ul>
</li>
<li class="leaf"><a href="http://www.eastcambs.gov.uk/press-publications/east-cambs-magazine" title="East Cambs Magazine">East Cambs Magazine</a></li>
<li class="leaf"><a href="http://www.eastcambs.gov.uk/content/press-releases" title="Press Releases">Latest Press Releases</a></li>
<li class="leaf last"><a href="http://www.eastcambs.gov.uk/aggregator/sources">Sources</a></li>
</ul>
</li>
<li class="expanded">
<a href="http://www.eastcambs.gov.uk/customer-services/contact-customer-services" title="Contact Customer Services"><span class="l"> </span><span class="r"> </span><span class="t">Contact Us</span></a><ul>
<li class="leaf first"><a href="http://www.eastcambs.gov.uk/customer-services/contact-customer-services" title="  Ways of contacting the council ">Contact the Council</a></li>
<li class="leaf"><a href="http://www.eastcambs.gov.uk/customer-services/complaints" title="Complaints">Complaints</a></li>
<li class="leaf last"><a href="http://www.eastcambs.gov.uk/customer-services/customer-self-service" title="Customer Self-Service">Customer Self-Service</a></li>
</ul>
</li>
<li class="expanded">
<a href="http://www.eastcambs.gov.uk/content/consultations" title="Consultations"><span class="l"> </span><span class="r"> </span><span class="t">Consultations</span></a><ul>
<li class="leaf first"><a href="http://www.eastcambs.gov.uk/east-cambs-district-council/consultee-register" title="Consultee Register">Consultee Register</a></li>
<li class="leaf last"><a href="http://www.eastcambs.gov.uk/consultations/current-consultations" title="Current Consultations">Current Consultations</a></li>
</ul>
</li>
<li class="leaf last"><a href="http://www.eastcambs.gov.uk/maps/find-my-nearest" title="Find My Nearest"><span class="l"> </span><span class="r"> </span><span class="t">Find My Nearest</span></a></li>
</ul></div>
    </div>
</div>
<div id="banner1"><div id="banner1-block-17">
  <div class="content">
    <div id="search_box_layer">
<form action="http://www.eastcambs.gov.uk/council-democracy/council-democracy"  accept-charset="UTF-8" method="post" id="search-theme-form" target="_self" class="search-form">
<div><div id="search" class="container-inline">
  <div class="form-item" id="edit-search-theme-form-1-wrapper">
 <input type="text" maxlength="128" name="search_theme_form" id="edit-search-theme-form-1" size="15" value="I am looking for..." title="Enter the terms you wish to search for." class="form-text  custom-search-default-value custom-search-box" />
</div>
<span class="art-button-wrapper"><span class="l"></span><span class="r"></span><input type="submit" name="op" id="edit-submit" value="Search"  class="form-submit art-button"/></span><input type="hidden" name="form_build_id" id="form-2a730ce34364b338bd642666f000ff9a" value="form-2a730ce34364b338bd642666f000ff9a"  />
<input type="hidden" name="form_id" id="edit-search-theme-form" value="search_theme_form"  />
<input type="hidden" name="default_text" id="edit-default-text" value="I am looking for..."  class="default-text" />
</div>

</div></form>
</div>
<div class="a-z">
    <ul class="pager">
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/a" title="View entries in A-Z for the letter A">A</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/b" title="View entries in A-Z for the letter B">B</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/c" title="View entries in A-Z for the letter C">C</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/d" title="View entries in A-Z for the letter D">D</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/e" title="View entries in A-Z for the letter E">E</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/f" title="View entries in A-Z for the letter F">F</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/g" title="View entries in A-Z for the letter G">G</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/h" title="View entries in A-Z for the letter H">H</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/i" title="View entries in A-Z for the letter I">I</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/j" title="View entries in A-Z for the letter J">J</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/k" title="View entries in A-Z for the letter K">K</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/l" title="View entries in A-Z for the letter L">L</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/m" title="View entries in A-Z for the letter M">M</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/n" title="View entries in A-Z for the letter N">N</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/o" title="View entries in A-Z for the letter O">O</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/p" title="View entries in A-Z for the letter P">P</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/q" title="View entries in A-Z for the letter Q">Q</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/r" title="View entries in A-Z for the letter R">R</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/s" title="View entries in A-Z for the letter S">S</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/t" title="View entries in A-Z for the letter T">T</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/u" title="View entries in A-Z for the letter U">U</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/v" title="View entries in A-Z for the letter V">V</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/w" title="View entries in A-Z for the letter W">W</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/x" title="View entries in A-Z for the letter X">X</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/y" title="View entries in A-Z for the letter Y">Y</a>      </li>
        <li class="pager-item">
<a class="active" href="http://www.eastcambs.gov.uk/atoz/z" title="View entries in A-Z for the letter Z">Z</a>      </li>
    </ul>
</div>
  </div>
</div></div><div class="art-content-layout">
    <div class="art-content-layout-row">
<div class="art-layout-cell art-sidebar1">  <div class="art-vmenublock">
    <div class="art-vmenublock-tl"></div>
    <div class="art-vmenublock-tr"></div>
    <div class="art-vmenublock-bl"></div>
    <div class="art-vmenublock-br"></div>
    <div class="art-vmenublock-tc"></div>
    <div class="art-vmenublock-bc"></div>
      <div class="art-vmenublock-cl"></div>
      <div class="art-vmenublock-cr"></div>
      <div class="art-vmenublock-cc"></div>
    
      <div class="art-vmenublock-body">
              <div class="art-vmenublockheader">
              <div class="l"></div>
              <div class="r"></div>
              <div class="t">Find out more about...</div>
          </div>
          <div class="art-vmenublockcontent">
      <div class="art-vmenublockcontent-tl"></div>
      <div class="art-vmenublockcontent-tr"></div>
      <div class="art-vmenublockcontent-bl"></div>
      <div class="art-vmenublockcontent-br"></div>
      <div class="art-vmenublockcontent-tc"></div>
      <div class="art-vmenublockcontent-bc"></div>
      <div class="art-vmenublockcontent-cl"></div>
      <div class="art-vmenublockcontent-cr"></div>
      <div class="art-vmenublockcontent-cc"></div>
      
          <div class="art-vmenublockcontent-body">
              <!-- block-content -->
              <div class="art-vmenu">
          
<div id="art-vmenu-id"><ul class="art-vmenu">
<li class="collapsed first"><a href="http://www.eastcambs.gov.uk/east-cambs-district-council/east-cambridgeshire-district-council" title="  East Cambridgeshire District Council "><span class="l"> </span><span class="r"> </span><span class="t">At the Council</span></a></li>
<li class="collapsed"><a href="http://www.eastcambs.gov.uk/business/business" title="Business"><span class="l"> </span><span class="r"> </span><span class="t">Business</span></a></li>
<li class="collapsed"><a href="http://www.eastcambs.gov.uk/community/community-health" title="Community &amp; Living"><span class="l"> </span><span class="r"> </span><span class="t">Community &amp; Health</span></a></li>
<li class="collapsed"><a href="http://www.eastcambs.gov.uk/crime/crime-safety" title="Community Safety"><span class="l"> </span><span class="r"> </span><span class="t">Crime &amp; Safety</span></a></li>
<li class="expanded active-trail active">
<a href="http://www.eastcambs.gov.uk/council-democracy/council-democracy" title="Council &amp; Democracy" class="active active"><span class="l"> </span><span class="r"> </span><span class="t">Council &amp; Democracy</span></a><ul>
<li class="collapsed first"><a href="http://www.eastcambs.gov.uk/council-and-democracy/council-membership" title="Find out about the District's Councillors">Council Membership</a></li>
<li class="collapsed"><a href="http://www.eastcambs.gov.uk/council-and-democracy/council-meetings" title="Council Meetings">Council Meetings</a></li>
<li class="collapsed"><a href="http://www.eastcambs.gov.uk/elections-voting/elections-voting" title="Elections &amp; Voting">Elections &amp; Voting</a></li>
<li class="leaf"><a href="http://www.eastcambs.gov.uk/parish-councils/parish-councils" title="Parish Councils">Parish Councils</a></li>
<li class="leaf"><a href="http://www.eastcambs.gov.uk/council-and-democracy/councils-constitution" title="The Council's Constitution">The Council's Constitution</a></li>
<li class="leaf"><a href="http://www.eastcambs.gov.uk/council-and-democracy/local-code-conduct-complaints" title="Local Code of Conduct - Complaints">Code of Conduct - Complaints</a></li>
<li class="leaf"><a href="http://www.eastcambs.gov.uk/council-and-democracy/members-european-parliament" title="Members of the European Parliament">European Parliament</a></li>
<li class="leaf"><a href="http://www.eastcambs.gov.uk/council-and-democracy/members-parliament" title="Members of Parliament">Members of Parliament</a></li>
<li class="leaf last"><a href="http://www.eastcambs.gov.uk/council-and-democracy/town-village-wards" title="Town &amp; Village Wards">Town &amp; Village Wards</a></li>
</ul>
</li>
<li class="collapsed"><a href="http://www.eastcambs.gov.uk/education/education-learning-east-cambridgeshire" title="Learning and Skills in East Cambridgeshire"><span class="l"> </span><span class="r"> </span><span class="t">Education &amp; Learning</span></a></li>
<li class="collapsed"><a href="http://www.eastcambs.gov.uk/environment/environment" title="Environment"><span class="l"> </span><span class="r"> </span><span class="t">Environment</span></a></li>
<li class="collapsed"><a href="http://www.eastcambs.gov.uk/finance/finance-benefits" title="Finance"><span class="l"> </span><span class="r"> </span><span class="t">Finance &amp; Benefits</span></a></li>
<li class="collapsed"><a href="http://www.eastcambs.gov.uk/housing/housing-property" title="Housing &amp; Property"><span class="l"> </span><span class="r"> </span><span class="t">Housing &amp; Property</span></a></li>
<li class="collapsed"><a href="http://www.eastcambs.gov.uk/jobs-and-careers/jobs-and-careers" title="Jobs &amp; Careers"><span class="l"> </span><span class="r"> </span><span class="t">Jobs &amp; Careers</span></a></li>
<li class="collapsed"><a href="http://www.eastcambs.gov.uk/planning/development-services" title="Development Services"><span class="l"> </span><span class="r"> </span><span class="t">Planning &amp; Building</span></a></li>
<li class="collapsed"><a href="http://www.eastcambs.gov.uk/roads-transport/roads-transport-east-cambridgeshire" title="Roads &amp; Transport in East Cambridgeshire"><span class="l"> </span><span class="r"> </span><span class="t">Roads &amp; Transport</span></a></li>
<li class="collapsed"><a href="http://www.eastcambs.gov.uk/content/tourism-leisure" title="Tourism &amp; Leisure"><span class="l"> </span><span class="r"> </span><span class="t">Tourism &amp; Leisure</span></a></li>
<li class="collapsed"><a href="http://www.eastcambs.gov.uk/waste/waste-recycling" title="Waste &amp; Recycling"><span class="l"> </span><span class="r"> </span><span class="t">Waste &amp; Recycling</span></a></li>
<li class="leaf last"><a href="http://www.eastcambs.gov.uk/maps/about-online-maps" title=""><span class="l"> </span><span class="r"> </span><span class="t">Online Maps</span></a></li>
</ul></div>
          <div class="cleared"></div>
              </div>
              <!-- /block-content -->
              <div class="cleared"></div>
          </div>
      </div>
    <div class="cleared"></div>
    </div>
  </div>
<div class="art-block clear-block block block-gtranslate" id="block-gtranslate-0">
    <div class="art-block-tl"></div>
    <div class="art-block-tr"></div>
    <div class="art-block-bl"></div>
    <div class="art-block-br"></div>
    <div class="art-block-tc"></div>
    <div class="art-block-bc"></div>
    <div class="art-block-cl"></div>
    <div class="art-block-cr"></div>
    <div class="art-block-cc"></div>
    <div class="art-block-body">

    <div class="art-blockheader">
            <div class="l"></div>
            <div class="r"></div>
             <div class="t">    
            <h2 class="subject">Translate this site</h2>
</div>
        </div>
            
    <div class="art-blockcontent content">
        <div class="art-blockcontent-body">
    <!-- block-content -->
    
        <div id="google_translate_element"></div><script type="text/javascript">function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'en',includedLanguages: 'en,af,sq,ar,be,bg,ca,zh-CN,zh-TW,hr,cs,da,nl,et,tl,fi,fr,gl,de,el,iw,hi,hu,is,id,ga,it,ja,ko,lv,lt,mk,ms,mt,no,fa,pl,pt,ro,ru,sr,sk,sl,es,sw,sv,th,tr,uk,vi,cy,yi'}, 'google_translate_element');}</script><script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- /block-content -->
    
        </div>
    </div>
    

    </div>
</div>
<div class="art-block clear-block block block-block" id="block-block-8">
    <div class="art-block-tl"></div>
    <div class="art-block-tr"></div>
    <div class="art-block-bl"></div>
    <div class="art-block-br"></div>
    <div class="art-block-tc"></div>
    <div class="art-block-bc"></div>
    <div class="art-block-cl"></div>
    <div class="art-block-cr"></div>
    <div class="art-block-cc"></div>
    <div class="art-block-body">

    <div class="art-blockheader">
            <div class="l"></div>
            <div class="r"></div>
             <div class="t">    
            <h2 class="subject">Contact the Council</h2>
</div>
        </div>
            
    <div class="art-blockcontent content">
        <div class="art-blockcontent-body">
    <!-- block-content -->
    
        <div>
    <p>
        <img align="left" alt="telephone" height="22" hspace="5" src="http://www.eastcambs.gov.uk/sites/default/files/phone.gif" vspace="5" width="25" /><strong>Telephone:</strong> 01353-665555</p>
</div>
<div>
    <p>
        <img align="left" alt="email" height="22" hspace="5" src="http://www.eastcambs.gov.uk/sites/default/files/email.gif" vspace="5" width="25" /><strong>Email:</strong> <a href="mailto:customerservices@eastcambs.gov.uk">Our Customer Services</a></p>
</div>
<div>
    <p>
        <img align="left" alt="online" height="22" hspace="5" src="http://www.eastcambs.gov.uk/sites/default/files/globe.gif" vspace="5" width="25" /><strong>Online:</strong> <a href="http://www.eastcambs.gov.uk/customer-services/contact-customer-services">Contact the Council online</a></p>
</div>

    <!-- /block-content -->
    
        </div>
    </div>
    

    </div>
</div>
</div><div class="art-layout-cell art-content">
<div class="breadcrumb"><a href="http://www.eastcambs.gov.uk/">Home</a> | <a href="/">Online petitions</a> | PARAM_TITLE </div>              
<div class="art-post">
    <div class="art-post-tl"></div>
    <div class="art-post-tr"></div>
    <div class="art-post-bl"></div>
    <div class="art-post-br"></div>
    <div class="art-post-tc"></div>
    <div class="art-post-bc"></div>
    <div class="art-post-cl"></div>
    <div class="art-post-cr"></div>
    <div class="art-post-cc"></div>
    <div class="art-post-body">
<div class="art-post-inner">
<div class="art-postmetadataheader">
<h2 class="art-postheader"> Online Petitions</h2>

</div>
<div class="art-postcontent">
    <!-- article-content -->
    <div class="art-article">
        <div class="field field-type-viewfield field-field-forms-view">
            <div class="field-items">
                <div class="field-item odd">
                    <div class="view view-online-forms-block view-id-online_forms_block view-display-id-block_1 view-dom-id-2">                    
                    </div>
                 </div>
            </div>
        </div>
        <h2>PARAM_H1</h2>
        <!-- end of head -->
