<!-- removed from East Cambs supplied template: see [footer icons removed] in foot.html >
<div class="art-postmetadatafooter">
  <div class="art-postfootericons art-metadata-icons">
  <img class="art-metadata-icon" src="http://www.eastcambs.gov.uk/sites/all/themes/main2/images/postcategoryicon.png" width="18" height="18" alt="" /> <a href="http://www.eastcambs.gov.uk/book/export/html/37" title="Show a printer-friendly version of this book page and its sub-pages." class="book_printer">Printer-friendly version</a>&nbsp;|&nbsp;<img class="art-metadata-icon" src="http://www.eastcambs.gov.uk/sites/all/themes/main2/images/postcommentsicon.png" width="18" height="18" alt="" /> <a href="http://www.eastcambs.gov.uk/user/login?destination=comment%2Freply%2F37%23comment-form">Login</a> to post comments&nbsp;|&nbsp;<img class="art-metadata-icon" src="http://www.eastcambs.gov.uk/sites/all/themes/main2/images/postcategoryicon.png" width="18" height="18" alt="" /> 
        <a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.eastcambs.gov.uk%2Fcouncil-democracy%2Fcouncil-democracy&amp;linkname=Council%20%26%20Democracy" id="da2a_1"><img src="http://www.eastcambs.gov.uk/sites/all/modules/addtoany/images/share_16_16.png" width="16" height="16" alt="Share this"/></a>
        <script type="text/javascript">
<!--//--><![CDATA[//><!--
var a2a_config = a2a_config || {}, da2a = {ready: false, html_ready: false, script_ready: false, script_onready: function() { da2a.script_ready = true; if(da2a.html_ready)da2a.init(); }}; a2a_config.tracking_callback = ['ready', da2a.script_onready];
(function(){var a = document.createElement('script');a.type = 'text/javascript';a.async = true;a.src = 'http://static.addtoany.com/menu/page.js';var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(a, s);})();
//--><!]]>
</script>
  </div>
</div>
