<!-- mySociety content end -->
</div>
									</div>
								</div>						
							</div>
						</div>

						<br class="clear" />
						
					</div>

<!-- ################ MAIN STRUCTURE ############ -->
			</div><!-- End content -->
		</div>

		<div class="clear"></div>
			<!--googleoff: index-->
	<div id="categories">
		<div class="councilInfo">
			<h3><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=100001"><span>Advice and benefits</span></a></h3>
			<ul>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200008">Benefits</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200028">Council tax</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=100007">Housing</a>,  </li>
				<li>and more.</li>
			</ul>
			<span class="clear"></span>
		</div>
		<div class="councilInfo">
			<h3><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=100002"><span>Business</span></a></h3>
			<ul>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents_info.php?documentID=263&amp;categoryID=100002">Support and advice</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200063">Licencing</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200095">Supplying the council</a>,  </li>
				<li>and more.</li>
			</ul>
			<span class="clear"></span>
		</div>
		<div class="councilInfo">
			<h3><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=100003"><span>Community and living</span></a></h3>
			<ul>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200039">Emergencies</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents_info.php?documentID=574&amp;categoryID=100003">Community development</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200030">Crime</a>,  </li>
				<li>and more.</li>
			</ul>
			<span class="clear"></span>
		</div>
		<div class="councilInfo">
			<h3><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=100004"><span>Council and democracy</span></a></h3>
			<ul>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=358">Councillors</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=354">Council meetings</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=10069">Financial information</a>,  </li>
				<li>and more.</li>
			</ul>
			<span class="clear"></span>
		</div>
		<div class="councilInfo clear">
			<h3><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=100005"><span>Education and learning</span></a></h3>
			<ul>
				<li><a href="http://schoolsfinder.direct.gov.uk/">National School Finder</a>,  </li>
				<li><a href="http://www.suffolk.gov.uk/EducationAndLearning">Suffolk County Council education pages</a>,  </li>
				<li>and more.</li>
			</ul>
			<span class="clear"></span>
		</div>
		<div class="councilInfo">
			<h3><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=100006"><span>Environment and planning</span></a></h3>
			<ul>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200074">Planning</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200075">Pollution</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200084">Recycling rubbish and waste</a>,  </li>
				<li>and more.</li>
			</ul>
			<span class="clear"></span>
		</div>
		<div class="councilInfo">
			<h3><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=100007"><span>Housing</span></a></h3>
			<ul>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200027">Council housing</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents_info.php?documentID=143&amp;categoryID=200077">Private housing</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200093">Sheltered housing</a>,  </li>
				<li>and more.</li>
			</ul>
			<span class="clear"></span>
		</div>
		<div class="councilInfo">
			<h3><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=100008"><span>Jobs and careers</span></a></h3>
			<ul>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents_info.php?documentID=73&amp;categoryID=200058&amp;pageNumber=3">Equal opportunities</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents_info.php?documentID=73&amp;categoryID=200058&amp;pageNumber=5">Job application advice</a>,  </li>
				<li><a href="http://powered.jobsgopublic.com/waveney/jobs">Job vacancies</a>,  </li>
				<li>and more.</li>
			</ul>
			<span class="clear"></span>
		</div>
		<div class="councilInfo clear">
			<h3><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=100009"><span>Leisure and culture</span></a></h3>
			<ul>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200087">Leisure facilities</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200073">Parks</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=885">Sports development</a>,  </li>
				<li>and more.</li>
			</ul>
			<span class="clear"></span>
		</div>
		<div class="councilInfo">
			<h3><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=100010"><span>Health and social care</span></a></h3>
			<ul>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200003">Adapting homes</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200045">Food safety</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200048">Health and medical advice</a>,  </li>
				<li>and more.</li>
			</ul>
			<span class="clear"></span>
		</div>
		<div class="councilInfo">
			<h3><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=100011"><span>Transport and streets</span></a></h3>
			<ul>
				<li><a href="http://www.suffolk.gov.uk/TransportAndStreets/PublicTransport">Public transport</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200072">Parking</a>,  </li>
				<li><a href="http://www.waveney.gov.uk/site/scripts/documents.php?categoryID=200089">Street cleaning</a>,  </li>
				<li>and more.</li>
			</ul>
			<span class="clear"></span>
		</div>
		<span class="clear"></span>
	</div>
	<!--googleon: index-->
	<div id="footer">
		<p class="footer_left">
			2011 &copy; Waveney District Council.
		</p>
		<p class="footer_right backtotop">
			<a href="#mast">
				<span>Jump to the top</span>
			</a>
		</p>
		<p class="footer_right">
			<a href="http://www.waveney.gov.uk/site/scripts/terms.php">Terms and disclaimer</a> | <a href="http://www.waveney.gov.uk/site/scripts/accessibility.php">Accessibility statement</a> | <a href="http://www.waveney.gov.uk/site/scripts/website_statistics.php">Statistics</a>
		</p>
		<p class="footer_left">
			Powered by Jadu <a href="http://www.jadu.co.uk">Content Management</a>.
		</p>
		<address class="footer_right">
			Waveney District Council, The Marina Customer Service Centre (next to the Marina Theatre)
Marina
Lowestoft
NR32 1HH 		</address>

		<p class="hidden">
			<a accesskey="1" href="http://www.waveney.gov.uk">Homepage</a>
			<a accesskey="2" href="http://www.waveney.gov.uk/site/scripts/whats_new_index.php" rel="nofollow">What&#39;s new</a>
			<a accesskey="3" href="http://www.waveney.gov.uk/site/scripts/site_map.php" rel="nofollow">Site map</a>
			<a accesskey="4" href="http://www.waveney.gov.uk/site/scripts/google_advanced.php" rel="nofollow">Search facility </a>
			<a accesskey="5" href="http://www.waveney.gov.uk/site/scripts/faqs_index.php" rel="nofollow">Frequently asked questions</a>
			<a accesskey="6" href="http://www.waveney.gov.uk/site/scripts/az_home.php" rel="nofollow">Help</a>
			<a accesskey="7" href="http://www.waveney.gov.uk/site/scripts/documents_info.php?documentID=625&amp;categoryID=200026" rel="nofollow">Complaints procedure (Contacting the Council page)</a>
			<a accesskey="8" href="http://www.waveney.gov.uk/site/scripts/terms.php" rel="nofollow">Terms &amp; Privacy</a>
			<a accesskey="9" href="http://www.waveney.gov.uk/site/scripts/feedback.php" rel="nofollow">Feedback</a>
			<a accesskey="0" href="http://www.waveney.gov.uk/site/scripts/accessibility.php" rel="nofollow">Access key details</a>
			<a accesskey="/" href="#mast" rel="nofollow">Top of the page</a>
			<a accesskey="s" href="#content" rel="nofollow">Skip to content</a>
			<a accesskey="n" href="#column_nav" rel="nofollow">Skip to main navigation</a>
		</p>
		
		<div class="clear"></div>
    
	</div>
</div><!-- end of page_wrap -->
</div>
</div>
<!-- #################################### -->
</body>
</html>