<!-- start of foot -->


    </div>
		<div id="side-b">
			<div id="ContactMenu">

                <div class="ContactMenuTitle">
                   <img id="ctl00_ctl00_Image1" title="Contact us" src="http://www.waveney.gov.uk/outsideCMS/images/icon_phone.png" style="border-width:0px;" /> <span id="ctl00_ctl00_fghfh">Contact Us</span>

                </div>
    
                <div class="ContactMenuBox">
                    <ul>
                    <li>
                    <a id="ctl00_ctl00_HyperLinkCommitteesIndex" title="Contact us" href="http://www.waveney.gov.uk/contacts">Contact Details</a>
                    </li><li>
                    <a id="ctl00_ctl00_HyperLinkCouncilBodies" title="Online Contact Form" href="http://www.waveney.gov.uk/Contacts/comments/">Online Contact Form</a>
                    </li><li>

                    01502 562111 
                    </li><li>
                        <img id="ctl00_ctl00_Image2" src="http://www.waveney.gov.uk/outsideCMS/images/townhallthumb.jpg" align="right" style="border-width:0px;" />Town Hall<br/>High Street<br/>Lowestoft<br/>Suffolk<br/>NR32 1HS<br/><br/>
                    </li>
                    </ul>
                </div>
    
            </div>

            <br /> <br /> <br /> <br /> <br /> <br />
		</div>
		
</div>
	<div class="clearboth"></div>
<div id="footer">
If you, or someone that you know, requires any document from this site in an alternative format or language please contact the Waveney District Customer Services Team on 01502 562111  or email <a href="mailto:info@waveney.gov.uk">info@waveney.gov.uk</a>

			<br/><br/>Copyright - Waveney District Council 2005 | <a href="http://www.waveney.gov.uk/disclaimer.htm">Disclaimer / Data Protection</a> | <a href="http://www.waveney.gov.uk/webstats.htm">Site Availability Statistics </a> | <a href="mailto:webteam@waveney.gov.uk">Contact Web Team </a>			
</div>
      
    <div>
        
    </div>
    
    
</div>


<script type="text/javascript">
//<![CDATA[
Sys.Application.initialize();
//]]>
</script>
</div>
</body>
</html>
