
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
	Waveney: PARAM_TITLE
</title><link href="http://www.waveney.gov.uk/outsideCMS/StyleSheet.css" rel="stylesheet" type="text/css" />
       <!--[if IE 7]><link href="http://www.waveney.gov.uk/outsideCMS/IE7styles.css" rel="stylesheet" type="text/css" /><![endif]-->
	<link rel="stylesheet" type="text/css" href="/pet.css">
	<link rel="stylesheet" type="text/css" href="/assets/waveney/css.css">
</head>
<body>
<div id="innerbody">
    <form name="aspnetForm" method="post" action="default.aspx" id="aspnetForm">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />

<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJMjcxMjk2MTE1D2QWAmYPZBYCZg9kFgICAw9kFgQCBQ8PFgIeBFRleHQFOFdhdGVybGFuZSBPbmxpbmUgTGVpc3VyZSBCb29raW5ncyAtIFRlcm1zIGFuZCBDb25kaXRpb25zZGQCCQ8PFgIfAAU4V2F0ZXJsYW5lIE9ubGluZSBMZWlzdXJlIEJvb2tpbmdzIC0gVGVybXMgYW5kIENvbmRpdGlvbnNkZBgBBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WAQVLY3RsMDAkY3RsMDAkQ29udGVudFBsYWNlSG9sZGVyTWFpbkNvbnRlbnQkQ29udGVudFBsYWNlSG9sZGVyMiRBZ3JlZUNoZWNrQm94FgF96plie6XKuP73dyWyi3wOTt0=" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="http://www.waveney.gov.uk/outsideCMS/WebResource.axd?d=bUTgg0uIKZwEIISRmvTq9g2&amp;t=634173517492201989" type="text/javascript"></script>


<script src="http://www.waveney.gov.uk/outsideCMS/ScriptResource.axd?d=LoeUqiXTMhW7KEvkRvDa-77Im_ZWSYKpn5mKb31-EoiwlnG6LeZZPyvYAYwwJCNhVJrbRaDEMyaQxSa6X37_RaxwNWbByKTbhS2vHQcqqXk1&amp;t=633698757318693843" type="text/javascript"></script>
<script src="http://www.waveney.gov.uk/outsideCMS/ScriptResource.axd?d=LoeUqiXTMhW7KEvkRvDa-77Im_ZWSYKpn5mKb31-EoiwlnG6LeZZPyvYAYwwJCNhVJrbRaDEMyaQxSa6X37_RR-HyJw0Zj6ZfoNuKsuxGZqluottzLVZtv2TeGkE8c900&amp;t=633698757318693843" type="text/javascript"></script>
<div>

	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWAwLh3JaWDwL5nMHbCAKzu7PoBFJgNm8ock0TMC7wPCb7coWIKW3U" />
</div>
    
    
    <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ctl00$ScriptManager1', document.getElementById('aspnetForm'));
Sys.WebForms.PageRequestManager.getInstance()._updateControls([], [], [], 90);
//]]>
</script>

        
<div id="wrapper">
	
<div id="header">
    <a id="ctl00_ctl00_HyperLink1" class="logo" href="http://www.waveney.gov.uk/"><img src="http://www.waveney.gov.uk/outsideCMS/images/WDC%20logo.gif" style="border-width:0px;" /></a>
    
	    <br/>
    
</div> 


<div class="breadcrumb"> 
        <a href="http://www.waveney.gov.uk">Home</a> > <span id="ctl00_ctl00_PageNameLabel">PARAM_TITLE</span> 
</div> 


<div class="container">
	<div id="side-a">
			
    <div id="SubMenu">

        <div id="SubMenuTitle">
            <span id="ctl00_ctl00_ContentPlaceHolderLeftNav_fghfh">e-Petitions</span>

        </div>
        
        <div id="SubMenuMenu">
            <ul>
            <li>
            <a id="ctl00_ctl00_ContentPlaceHolderLeftNav_HyperLinkLeisureIndex" title="e-Petitions" href="/">e-Petitions</a>
            </li>
            </ul>
        </div>

    </div>


	</div>
	<div id="content">
		
        <div id="pagetitle">
            <span id="ctl00_ctl00_TitleBarTextLabel">PARAM_TITLE</span>
        </div> 
        
		
<!-- end of head -->
